.fixedNavbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  width: 60%;
  height: 4vh;
  margin: 20px;
  margin-top: 0.5%;
  border: 1px rgb(184, 184, 184) solid;
  border-radius: 10px;
  background-color: transparent;
  padding-inline: 2%;
}
.fixedNavbar .navTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  font-size: 28px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  font-style: italic;
  text-align: center;
  color: #672f0a;
  text-shadow: 2px 2px darkgoldenrod;
  letter-spacing: 1px;
  border: 0;
  background-color: transparent;
  border-radius: 5px;
  margin-block: 5px;
  padding-inline: 1%;
  cursor: pointer;
  text-decoration: none;
  -webkit-user-select: none;
  transition: all 0.2s linear;
}
.fixedNavbar .navTitle:hover {
  text-shadow: 3px 3px darkgoldenrod;
}
.fixedNavbar .guide {
  width: auto;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  outline: none;
  font-size: 20px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  color: #A86B43;
  border: none;
  background-color: transparent;
  padding: 0;
}
.fixedNavbar .guide:hover {
  color: #86481f;
  transition: 0.2s;
}
.fixedNavbar .guide:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 1px;
  bottom: 3px;
  left: 0;
  background-color: #86481f;
  transform-origin: bottom;
  transition: transform 0.25s ease-out;
}
.fixedNavbar .guide:hover::after {
  color: #A86B43;
  transform: scaleX(1);
  transform-origin: bottom;
}
.fixedNavbar .shop {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  outline: none;
  font-size: 20px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  color: #A86B43;
  letter-spacing: 2px;
  background-color: transparent;
  border: 0;
}
.fixedNavbar .shop:hover {
  color: #86481f;
  transition: 0.2s;
}
.fixedNavbar .shop:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 1px;
  bottom: 2px;
  left: 0;
  background-color: #86481f;
  transform-origin: bottom;
  transition: transform 0.25s ease-out;
}
.fixedNavbar .shop:hover::after {
  color: #A86B43;
  transform: scaleX(1);
  transform-origin: bottom;
}
.fixedNavbar .myRecipe {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  outline: none;
  font-size: 20px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  color: #A86B43;
  letter-spacing: 1px;
}
.fixedNavbar .myRecipe:hover {
  color: #86481f;
  transition: 0.2s;
}
.fixedNavbar .myRecipe:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 1px;
  bottom: 0px;
  left: 0;
  background-color: #86481f;
  transform-origin: bottom;
  transition: transform 0.25s ease-out;
}
.fixedNavbar .myRecipe:hover::after {
  color: #A86B43;
  transform: scaleX(1);
  transform-origin: bottom;
}
.fixedNavbar .login {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  outline: none;
  font-size: 20px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  color: #A86B43;
  letter-spacing: 2px;
  animation: opacity 0.5s;
  transition: 0.3s;
}
.fixedNavbar .login:hover {
  color: #86481f;
  transition: 0.2s;
}
.fixedNavbar .login:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 1px;
  bottom: 0px;
  left: 0;
  background-color: #86481f;
  transform-origin: bottom;
  transition: transform 0.25s ease-out;
}
.fixedNavbar .login:hover::after {
  color: #A86B43;
  transform: scaleX(1);
  transform-origin: bottom;
}
.fixedNavbar .account {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  outline: none;
  font-size: 20px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  color: #A86B43;
  letter-spacing: 2px;
  animation: opacity 0.5s;
  transition: 0.3s ease-in-out;
}
.fixedNavbar .account:hover {
  color: #86481f;
  transition: 0.2s;
}
.fixedNavbar .account:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 1px;
  bottom: 0px;
  left: 0;
  background-color: #86481f;
  transform-origin: bottom;
  transition: transform 0.25s ease-out;
}
.fixedNavbar .account:hover::after {
  color: #A86B43;
  transform: scaleX(1);
  transform-origin: bottom;
}
.fixedNavbar .none {
  display: none;
}
.fixedNavbar .nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 5%;
  left: 31.3%;
  width: 4%;
  height: 20%;
  background-color: wheat;
  border-radius: 10px;
  z-index: 10;
  animation: opacity 0.5s;
  animation-direction: alternate;
}
.fixedNavbar .nav div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  height: 80%;
}
.fixedNavbar .nav div .links {
  font-size: 16px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: saddlebrown;
  background-color: wheat;
  text-decoration: none;
}

@keyframes opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@media all and (min-width: 1681px) and (max-width: 2100px) {
  .fixedNavbar {
    width: 60%;
    height: 5%;
  }
  .fixedNavbar .navTitle {
    font-size: 20px;
  }
  .fixedNavbar .guide {
    width: auto;
    font-size: 16px;
  }
  .fixedNavbar .shop {
    font-size: 16px;
  }
  .fixedNavbar .myRecipe {
    font-size: 16px;
  }
  .fixedNavbar .login {
    font-size: 16px;
  }
  .fixedNavbar .account {
    font-size: 16px;
  }
}
@media all and (min-width: 1280px) and (max-width: 1680px) {
  .fixedNavbar {
    width: 70%;
    height: 5%;
  }
  .fixedNavbar .navTitle {
    font-size: 18px;
  }
  .fixedNavbar .guide {
    width: auto;
    font-size: 16px;
  }
  .fixedNavbar .shop {
    font-size: 16px;
  }
  .fixedNavbar .myRecipe {
    font-size: 16px;
  }
  .fixedNavbar .login {
    font-size: 16px;
  }
  .fixedNavbar .account {
    font-size: 16px;
  }
}
@media all and (min-width: 1024px) and (max-width: 1279px) {
  .fixedNavbar {
    width: 70%;
    height: 5%;
  }
  .fixedNavbar .navTitle {
    font-size: 16px;
  }
  .fixedNavbar .guide {
    width: auto;
    font-size: 13px;
  }
  .fixedNavbar .shop {
    font-size: 13px;
  }
  .fixedNavbar .myRecipe {
    font-size: 13px;
  }
  .fixedNavbar .login {
    font-size: 13px;
  }
  .fixedNavbar .account {
    font-size: 13px;
  }
}
@media all and (min-width: 768px) and (max-width: 1023px) {
  .fixedNavbar {
    width: 80%;
    height: 5%;
  }
  .fixedNavbar .navTitle {
    font-size: 12px;
  }
  .fixedNavbar .guide {
    width: auto;
    font-size: 12px;
  }
  .fixedNavbar .shop {
    font-size: 12px;
  }
  .fixedNavbar .myRecipe {
    font-size: 12px;
  }
  .fixedNavbar .login {
    font-size: 12px;
  }
  .fixedNavbar .account {
    font-size: 12px;
  }
}
@media all and (min-width: 480px) and (max-width: 767px) {
  .fixedNavbar {
    width: 90%;
    height: 4vh;
  }
  .fixedNavbar .navTitle {
    display: none;
  }
  .fixedNavbar .guide {
    width: auto;
    font-size: 12px;
  }
  .fixedNavbar .shop {
    font-size: 12px;
  }
  .fixedNavbar .myRecipe {
    font-size: 12px;
  }
  .fixedNavbar .login {
    font-size: 12px;
  }
  .fixedNavbar .account {
    font-size: 12px;
  }
}
@media all and (max-width: 479px) {
  .fixedNavbar {
    width: 90%;
    height: 4vh;
    border-radius: 5px;
    margin-top: 3%;
  }
  .fixedNavbar .navTitle {
    display: none;
  }
  .fixedNavbar .guide {
    width: auto;
    font-size: 10px;
  }
  .fixedNavbar .shop {
    font-size: 10px;
  }
  .fixedNavbar .myRecipe {
    font-size: 10px;
  }
  .fixedNavbar .login {
    font-size: 10px;
  }
  .fixedNavbar .account {
    font-size: 10px;
  }
}/*# sourceMappingURL=Navbar.css.map */