.fixedNavbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    width: 60%;
    height: 4vh;
    margin: 20px;
    margin-top: 0.5%;
    border: 1px  rgb(184, 184, 184) solid;
    border-radius: 10px;
    background-color: transparent;

    padding-inline: 2%;

    .navTitle {
        display: flex;
        width: auto;
        font-size: 28px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: bold;
        font-style: italic;
        text-align: center;
        color: #672f0a;
        text-shadow: 2px 2px grey;
        letter-spacing: 1px;
        margin-block: 5px;
        cursor: pointer;
        text-decoration: none;
        -webkit-user-select: none;
        transition: all 0.2s linear;
        
        &:active {
            color: chocolate;
            transition: 0s;
        }
    }
    .guide {
    width: auto;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    outline: none;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: #A86B43;
    border: none;
    background-color: transparent;

    padding: 0;

    &:hover {
        color: #86481f;
        transition: 0.2s;
        }
    &:after {
        content: '';
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 1px;
        bottom: 3px;
        left: 0;
        background-color: #86481f;
        transform-origin: bottom;
        transition: transform 0.25s ease-out;
        }
    &:hover::after {
        color: #A86B43;
        transform: scaleX(1);
        transform-origin: bottom;
        }
    }
    .shop {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        outline: none;
        font-size: 20px;
        font-family: Arial, Helvetica, sans-serif;
        color: #A86B43;
        letter-spacing: 2px;
    
        &:hover {
            color: #86481f;
            transition: 0.2s;
            }
        &:after {
            content: '';
            position: absolute;
            width: 100%;
            transform: scaleX(0);
            height: 1px;
            bottom: 2px;
            left: 0;
            background-color: #86481f;
            transform-origin: bottom;
            transition: transform 0.25s ease-out;
            }
        &:hover::after {
            color: #A86B43;
            transform: scaleX(1);
            transform-origin: bottom;
            }
        }
    .myRecipe {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        outline: none;
        font-size: 20px;
        font-family: Arial, Helvetica, sans-serif;
        color: #A86B43;
        letter-spacing: 1px;
    
        &:hover {
            color: #86481f;
            transition: 0.2s;
            }
        &:after {
            content: '';
            position: absolute;
            width: 100%;
            transform: scaleX(0);
            height: 1px;
            bottom: 0px;
            left: 0;
            background-color: #86481f;
            transform-origin: bottom;
            transition: transform 0.25s ease-out;
            }
        &:hover::after {
            color: #A86B43;
            transform: scaleX(1);
            transform-origin: bottom;
            }
        }
    .accounts {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        outline: none;
        font-size: 20px;
        font-family: Arial, Helvetica, sans-serif;
        color: #A86B43;
        letter-spacing: 2px;
    
        &:hover {
            color: #86481f;
            transition: 0.2s;
            }
        &:after {
            content: '';
            position: absolute;
            width: 100%;
            transform: scaleX(0);
            height: 1px;
            bottom: 0px;
            left: 0;
            background-color: #86481f;
            transform-origin: bottom;
            transition: transform 0.25s ease-out;
            }
        &:hover::after {
            color: #A86B43;
            transform: scaleX(1);
            transform-origin: bottom;
            }
        }
    }

@keyframes opacity {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@media screen and (max-width: 1600px) {

    .fixedNavbar {
        width:60%;
        height: 5%;
        
        .navTitle {
            font-size: 18px;
        }
    
        .guide {
            width: auto;
            font-size: 16px;
        }
        .shop {
            font-size: 16px;
        }
        .myRecipe {
            font-size: 16px;
        }
        .accounts {
            font-size: 16px;
        }
    }

}