.FavContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 95%;
  height: 40%;
}
.FavContainer .favTitle {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  height: 25%;
}
.FavContainer .favTitle header {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  font-style: italic;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: sienna;
}
.FavContainer .favTitle header .favIcon {
  font-size: 25px;
  text-align: center;
}
.FavContainer .favTitle p {
  font-size: 16px;
  font-weight: bold;
  font-style: italic;
  padding-left: 3%;
  color: darkgoldenrod;
  margin-bottom: 0;
}
.FavContainer .favContents {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 80%;
}
.FavContainer .favContents .favourites {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 50%;
  height: 100%;
  background-color: wheat;
  border-radius: 10px;
  padding: 1%;
  overflow: hidden;
}
.FavContainer .favContents .favourites .favList {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  margin-bottom: 0;
  padding-left: 0%;
  animation: opacity 0.5s;
}
.FavContainer .favContents .favourites .favList li {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 15%;
  cursor: pointer;
  border-radius: 5px;
  margin-block: 1.5%;
  padding-inline: 3%;
  color: saddlebrown;
}
.FavContainer .favContents .favourites .favList li p {
  width: 50%;
  font-size: 20px;
  font-weight: bold;
  overflow: hidden;
  margin-bottom: 0;
  animation: opacity 0.3s;
}
.FavContainer .favContents .favourites .favList li .btnContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  height: 100%;
}
.FavContainer .favContents .favourites .favList li .btnContainer button {
  height: 70%;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  color: sienna;
  background-color: transparent;
  border: 0;
  border-radius: 20px;
  background-color: wheat;
  padding-block: 0;
}
.FavContainer .favContents .favourites .favList li .btnContainer button:hover {
  box-shadow: 0px 0px 0px 3px bisque;
}
.FavContainer .favContents .favourites .favList li:hover {
  color: wheat;
  background-color: saddlebrown;
  transition: 0.3s;
}
.FavContainer .favContents .favourites .favList li:hover button {
  color: bisque;
  background-color: saddlebrown;
  transition: 0.3s;
}
.FavContainer .favContents .favourites .favList li:hover input {
  border: 2px solid wheat;
  color: wheat;
  transition: 0s;
}
.FavContainer .favContents .favourites .noneFav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.FavContainer .favContents .favourites .noneFav .makeFavBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 30%;
  font-size: 22px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-decoration: none;
  border-radius: 10px;
  border: 0;
  color: linen;
  background-color: sienna;
  box-shadow: 2px 3px 0px 1px burlywood;
}
.FavContainer .favContents .favourites .noneFav .makeFavBtn:hover {
  color: saddlebrown;
  background-color: bisque;
  transition: 0.3s;
}
.FavContainer .favContents .favourites .noneFav .makeFavBtn:active {
  box-shadow: 0px 0px 0px 0px;
  transform: translateY(3%);
  transition: 0s;
}
.FavContainer .favContents .favDetailContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 50%;
  height: 100%;
  max-height: 350px;
}
.FavContainer .favContents .favDetailContainer .favDetails {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  height: 100%;
  max-height: 350px;
  animation: opacity 0.3s;
}
.FavContainer .favContents .favDetailContainer .favDetails header {
  width: 100%;
  font-size: 16px;
  font-weight: bold;
  color: sienna;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  margin-bottom: 1%;
  border-bottom: 1px sienna solid;
}
.FavContainer .favContents .favDetailContainer .favDetails .detailsContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  max-height: 350px;
}
.FavContainer .favContents .favDetailContainer .favDetails .detailsContainer .details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 55%;
  height: 100%;
  padding-left: 3%;
  padding: 1%;
  animation: opacity 0.5s;
}
.FavContainer .favContents .favDetailContainer .favDetails .detailsContainer .details .favName {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 12%;
  width: 100%;
  font-size: 20px;
  color: wheat;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  text-transform: none;
  background-color: sienna;
  border-radius: 5px;
  padding: 2%;
  margin-bottom: 0;
  transition: all 0.3s linear;
}
.FavContainer .favContents .favDetailContainer .favDetails .detailsContainer .details p {
  display: flex;
  font-size: 18px;
  font-weight: bold;
  font-family: "Courier New", Courier, monospace;
  color: saddlebrown;
  text-transform: uppercase;
  transition: all 0.3s linear;
  margin-bottom: 0;
  padding: 1%;
  padding-inline: 2%;
}
.FavContainer .favContents .favDetailContainer .favDetails .detailsContainer .detailCustomSetting {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 55%;
  height: 100%;
  padding-left: 3%;
  padding: 1%;
  animation: opacity 0.5s;
}
.FavContainer .favContents .favDetailContainer .favDetails .detailsContainer .detailCustomSetting .favName {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 12%;
  width: auto;
  font-size: 20px;
  color: sienna;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  text-transform: none;
  background-color: wheat;
  border-radius: 5px;
  box-shadow: 2px 2px 0px 2px burlywood;
  transition: 0.5s;
  padding: 2%;
  margin-bottom: 0;
}
.FavContainer .favContents .favDetailContainer .favDetails .detailsContainer .detailCustomSetting .favName:hover {
  background-color: sienna;
  box-shadow: 2px 2px 0px 2px burlywood;
  color: wheat;
  transition: 0.3s;
}
.FavContainer .favContents .favDetailContainer .favDetails .detailsContainer .detailCustomSetting p {
  display: flex;
  font-size: 18px;
  font-weight: bold;
  font-family: "Courier New", Courier, monospace;
  color: saddlebrown;
  text-transform: uppercase;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 2px 2px 0px 2px lightgrey;
  transition: 0.5s;
  margin-bottom: 0;
  padding: 1%;
  padding-inline: 2%;
}
.FavContainer .favContents .favDetailContainer .favDetails .detailsContainer .detailCustomSetting p:hover {
  background-color: wheat;
  transition: 0.3s;
}
.FavContainer .favContents .favDetailContainer .favDetails .detailsContainer .customContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 45%;
  height: 100%;
  max-height: 350px;
}
.FavContainer .favContents .favDetailContainer .favDetails .detailsContainer .customContainer .customOptions {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 60%;
  animation: opacity 0.5s;
}
.FavContainer .favContents .favDetailContainer .favDetails .detailsContainer .customContainer .customOptions p {
  font-size: 30px;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: sienna;
  margin-bottom: 0%;
}
.FavContainer .favContents .favDetailContainer .favDetails .detailsContainer .customContainer .customOptions button {
  width: 80%;
  height: 20%;
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border-radius: 10px;
  border: 0;
  color: linen;
  background-color: sienna;
  box-shadow: 2px 3px 0px 1px darkgoldenrod;
}
.FavContainer .favContents .favDetailContainer .favDetails .detailsContainer .customContainer .customOptions button:hover {
  color: brown;
  background-color: bisque;
  transition: 0.3s;
}
.FavContainer .favContents .favDetailContainer .favDetails .detailsContainer .customContainer .customOptions button:active {
  box-shadow: 0px 0px 0px 0px;
  transform: translateY(3%);
  transition: 0s;
}
.FavContainer .favContents .favDetailContainer .favDetails .detailsContainer .customContainer .customDetail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  max-height: 265px;
}
.FavContainer .favContents .favDetailContainer .favDetails .detailsContainer .customContainer .customDetail button {
  width: 80%;
  font-size: 15px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border-radius: 10px;
  border: 0;
  color: linen;
  background-color: sienna;
  box-shadow: 2px 3px 0px 1px darkgoldenrod;
}
.FavContainer .favContents .favDetailContainer .favDetails .detailsContainer .customContainer .customDetail button:hover {
  color: brown;
  background-color: bisque;
  transition: 0.3s;
}
.FavContainer .favContents .favDetailContainer .favDetails .detailsContainer .customContainer .customDetail button:active {
  box-shadow: 0px 0px 0px 0px;
  transform: translateY(3%);
  transition: 0s;
}
.FavContainer .favContents .favDetailContainer .favDetails .detailsContainer .customContainer .customDetail .customDetailBasic {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.FavContainer .favContents .favDetailContainer .favDetails .detailsContainer .customContainer .customDetail .customDetailBasic .customDetailBasicText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50%;
}
.FavContainer .favContents .favDetailContainer .favDetails .detailsContainer .customContainer .customDetail .customDetailBasic .customDetailBasicText p {
  font-size: 20px;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: sienna;
  margin-bottom: 0%;
}
.FavContainer .favContents .favDetailContainer .favDetails .detailsContainer .customContainer .customDetail .customDetailBasic button {
  width: 80%;
  font-size: 15px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border-radius: 10px;
  border: 0;
  color: linen;
  background-color: sienna;
  box-shadow: 2px 3px 0px 1px darkgoldenrod;
}
.FavContainer .favContents .favDetailContainer .favDetails .detailsContainer .customContainer .customDetail .customDetailBasic button:hover {
  color: brown;
  background-color: bisque;
  transition: 0.3s;
}
.FavContainer .favContents .favDetailContainer .favDetails .detailsContainer .customContainer .customDetail .customDetailBasic button:active {
  box-shadow: 0px 0px 0px 0px;
  transform: translateY(3%);
  transition: 0s;
}
.FavContainer .favContents .favDetailContainer .favDetails .detailsContainer .customContainer .customDetail .customfavName {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 60%;
  animation: 0.5s;
}
.FavContainer .favContents .favDetailContainer .favDetails .detailsContainer .customContainer .customDetail .customfavName p {
  font-size: 16px;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: sienna;
  margin-bottom: 0%;
}
.FavContainer .favContents .favDetailContainer .favDetails .detailsContainer .customContainer .customDetail .customfavName input {
  width: 100%;
  height: 25%;
  font-size: 18px;
  font-weight: bold;
  color: sienna;
  outline: none;
  border: 2px solid sienna;
  background-color: wheat;
  border-radius: 10px;
  padding-left: 5%;
  animation: opacity 0.3s;
}
.FavContainer .favContents .favDetailContainer .favDetails .detailsContainer .customContainer .customDetail .customfavName button {
  width: 100%;
  font-size: 15px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border-radius: 10px;
  border: 0;
  color: linen;
  background-color: sienna;
  box-shadow: 2px 3px 0px 1px darkgoldenrod;
}
.FavContainer .favContents .favDetailContainer .favDetails .detailsContainer .customContainer .customDetail .customfavName button:hover {
  color: brown;
  background-color: bisque;
  transition: 0.3s;
}
.FavContainer .favContents .favDetailContainer .favDetails .detailsContainer .customContainer .customDetail .customfavName button:active {
  box-shadow: 0px 0px 0px 0px;
  transform: translateY(3%);
  transition: 0s;
}
.FavContainer .favContents .favDetailContainer .favDetails .detailsContainer .customContainer .customDetail .customMenuName {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  height: 85%;
  max-height: 85%;
  list-style: none;
  margin-bottom: 3%;
  padding-left: 0;
  padding-block: 2%;
  overflow-y: scroll;
  overflow-x: hidden;
  animation: opacity 0.5s;
}
.FavContainer .favContents .favDetailContainer .favDetails .detailsContainer .customContainer .customDetail .customMenuName li {
  width: 100%;
  font-size: 16px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: sienna;
  cursor: pointer;
  border-radius: 5px;
  padding-left: 3%;
}
.FavContainer .favContents .favDetailContainer .favDetails .detailsContainer .customContainer .customDetail .customMenuName li:hover {
  color: wheat;
  background-color: sienna;
  transition: 0.3s;
}
.FavContainer .favContents .favDetailContainer .favDetails .detailsContainer .customContainer .customDetail .customMethodName {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  height: 85%;
  max-height: 85%;
  list-style: none;
  margin-bottom: 2%;
  padding-left: 0;
  animation: opacity 0.5s;
}
.FavContainer .favContents .favDetailContainer .favDetails .detailsContainer .customContainer .customDetail .customMethodName li {
  width: 100%;
  font-size: 18px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: sienna;
  cursor: pointer;
  border-radius: 5px;
  padding-left: 3%;
  margin-block: 1%;
}
.FavContainer .favContents .favDetailContainer .favDetails .detailsContainer .customContainer .customDetail .customMethodName li:hover {
  color: wheat;
  background-color: sienna;
  transition: 0.3s;
}
.FavContainer .favContents .favDetailContainer .favDetails .detailsContainer .customContainer .customDetail .customWater {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 60%;
  animation: opacity 0.5s;
  margin-bottom: 5%;
}
.FavContainer .favContents .favDetailContainer .favDetails .detailsContainer .customContainer .customDetail .customWater button {
  height: 25%;
}
.FavContainer .favContents .favDetailContainer .favDetails .detailsContainer .customContainer .customDetail .customCoffee {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 50%;
  animation: opacity 0.5s;
}
.FavContainer .favContents .favDetailContainer .favDetails .detailsContainer .customContainer .customDetail .customCoffee input {
  border-radius: 5px;
  color: saddlebrown;
  background-color: wheat;
  border: 0;
  outline: none;
  padding-left: 5%;
}
.FavContainer .favContents .favDetailContainer .favDetails .detailsContainer .customContainer .customDetail .customCoffee p {
  font-size: 16px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: sienna;
  margin-bottom: 1%;
}
.FavContainer .favContents .favDetailContainer .favDetails .detailsContainer .customContainer .customDetail .customCoffee button {
  height: 22%;
}
.FavContainer .favContents .favDetailContainer .favDetails .detailsContainer .customContainer .customDetail .customRoasting {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 70%;
  animation: opacity 0.5s;
}
.FavContainer .favContents .favDetailContainer .favDetails .detailsContainer .customContainer .customDetail .customRoasting button {
  width: 80%;
  height: 20%;
}
.FavContainer .favContents .favDetailContainer .favDetails .detailsContainer .customContainer .customDetail .customRoasting .light:hover {
  color: grey;
  background: linen;
}
.FavContainer .favContents .favDetailContainer .favDetails .detailsContainer .customContainer .customDetail .customRoasting .dark:hover {
  color: #472c1b;
  background-color: burlywood;
}
.FavContainer .favContents .favDetailContainer .favDetails .detailsContainer .customContainer .customDetail .customGrind {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 70%;
  animation: opacity 0.5s;
}
.FavContainer .favContents .favDetailContainer .favDetails .detailsContainer .customContainer .customDetail .customGrind button {
  width: 80%;
  height: 20%;
  background-color: wheat;
  color: sienna;
}
.FavContainer .favContents .favDetailContainer .favDetails .detailsContainer .customContainer .customDetail .customGrind .fine:hover {
  color: grey;
  background: bisque;
}
.FavContainer .favContents .favDetailContainer .favDetails .detailsContainer .customContainer .customDetail .customGrind .medium:hover {
  color: wheat;
  background-color: chocolate;
}
.FavContainer .favContents .favDetailContainer .favDetails .detailsContainer .customContainer .customDetail .customGrind .coarse:hover {
  color: linen;
  background-color: rgb(131, 147, 162);
  box-shadow: 2px 2px 0px 2px grey;
}
.FavContainer .favContents .favDetailContainer .favDetails .detailsContainer .customContainer .customDescription {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 100%;
}
.FavContainer .favContents .favDetailContainer .favDetails .detailsContainer .customContainer .customDescription p {
  height: 10%;
  font-size: 25px;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: sienna;
  margin-bottom: 0%;
}
.FavContainer .favContents .favDetailContainer .favDetails .detailsContainer .customContainer .customDescription .descriptionInput {
  width: 100%;
  min-height: 50%;
  max-height: 50%;
  outline: none;
  border: 0;
  resize: none;
  font-size: 18px;
  color: sienna;
  overflow: hidden;
  background-color: wheat;
  border-radius: 5px;
  padding: 5%;
}
.FavContainer .favContents .favDetailContainer .favDetails .detailsContainer .customContainer .customDescription .descriptionBtnContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 25%;
}
.FavContainer .favContents .favDetailContainer .favDetails .detailsContainer .customContainer .customDescription .descriptionBtnContainer button {
  width: 100%;
  font-size: 18px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border-radius: 10px;
  border: 0;
  color: linen;
  background-color: sienna;
  box-shadow: 2px 3px 0px 1px darkgoldenrod;
}
.FavContainer .favContents .favDetailContainer .favDetails .detailsContainer .customContainer .customDescription .descriptionBtnContainer button:hover {
  color: brown;
  background-color: bisque;
  transition: 0.3s;
}
.FavContainer .favContents .favDetailContainer .favDetails .detailsContainer .customContainer .customDescription .descriptionBtnContainer button:active {
  box-shadow: 0px 0px 0px 0px;
  transform: translateY(3%);
  transition: 0s;
}
.FavContainer .favContents .favDetailContainer .favDetailsNot {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  animation: opacity 0.5s;
}

@keyframes opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@media all and (min-width: 320px) {
  .FavContainer {
    width: 100%;
    height: 65%;
  }
  .FavContainer .favTitle {
    height: 7%;
  }
  .FavContainer .favTitle header {
    font-size: 20px;
  }
  .FavContainer .favTitle header .favIcon {
    font-size: 15px;
  }
  .FavContainer .favTitle p {
    font-size: 12px;
  }
  .FavContainer .favContents {
    height: 93%;
    flex-direction: column;
  }
  .FavContainer .favContents .favourites {
    width: 100%;
    height: 30%;
  }
  .FavContainer .favContents .favourites .favList li {
    height: 20%;
    margin-block: 0%;
    padding-inline: 1%;
  }
  .FavContainer .favContents .favourites .favList li p {
    width: 42%;
    font-size: 16px;
  }
  .FavContainer .favContents .favourites .favList li .btnContainer {
    width: 58%;
  }
  .FavContainer .favContents .favourites .favList li .btnContainer button {
    width: auto;
    height: 70%;
    font-size: 12px;
    box-shadow: 0px 0px 0px 1px sienna;
  }
  .FavContainer .favContents .favDetailContainer {
    width: 100%;
    height: 70%;
    max-height: 500px;
  }
  .FavContainer .favContents .favDetailContainer .favDetailsNot {
    height: 100%;
    background-image: url("../../../../public/img/background/myRecipe.jpg");
    background-position: center;
    background-size: cover;
  }
  .FavContainer .favContents .favDetailContainer .favDetailsNot svg {
    display: none;
  }
  .FavContainer .favContents .favDetailContainer .favDetails {
    max-height: 500px;
  }
  .FavContainer .favContents .favDetailContainer .favDetails .detailsContainer {
    flex-direction: column;
    justify-content: flex-start;
    max-height: 500px;
  }
  .FavContainer .favContents .favDetailContainer .favDetails .detailsContainer .details {
    width: 100%;
    height: 60%;
  }
  .FavContainer .favContents .favDetailContainer .favDetails .detailsContainer .details .favName {
    height: 15%;
  }
  .FavContainer .favContents .favDetailContainer .favDetails .detailsContainer .detailCustomSetting {
    width: 100%;
    height: 60%;
  }
  .FavContainer .favContents .favDetailContainer .favDetails .detailsContainer .detailCustomSetting .favName {
    height: 15%;
  }
  .FavContainer .favContents .favDetailContainer .favDetails .detailsContainer .customContainer {
    width: 100%;
    height: 40%;
  }
  .FavContainer .favContents .favDetailContainer .favDetails .detailsContainer .customContainer .customOptions {
    justify-content: space-evenly;
    height: 100%;
  }
  .FavContainer .favContents .favDetailContainer .favDetails .detailsContainer .customContainer .customOptions p {
    font-size: 25px;
  }
  .FavContainer .favContents .favDetailContainer .favDetails .detailsContainer .customContainer .customOptions button {
    height: 20%;
  }
  .FavContainer .favContents .favDetailContainer .favDetails .detailsContainer .customContainer .customDetail {
    max-height: 180px;
    justify-content: center;
  }
  .FavContainer .favContents .favDetailContainer .favDetails .detailsContainer .customContainer .customDetail .customfavName {
    height: 90%;
  }
  .FavContainer .favContents .favDetailContainer .favDetails .detailsContainer .customContainer .customDetail .customMenuName {
    height: 60%;
  }
  .FavContainer .favContents .favDetailContainer .favDetails .detailsContainer .customContainer .customDetail .customMethodName {
    height: 60%;
    overflow: scroll;
  }
  .FavContainer .favContents .favDetailContainer .favDetails .detailsContainer .customContainer .customDetail .customCoffee {
    height: 70%;
  }
  .FavContainer .favContents .favDetailContainer .favDetails .detailsContainer .customContainer .customDescription {
    justify-content: flex-start;
  }
  .FavContainer .favContents .favDetailContainer .favDetails .detailsContainer .customContainer .customDescription p {
    display: none;
  }
  .FavContainer .favContents .favDetailContainer .favDetails .detailsContainer .customContainer .customDescription .descriptionInput {
    min-height: 70%;
    font-size: 15px;
    padding: 2%;
  }
  .FavContainer .favContents .favDetailContainer .favDetails .detailsContainer .customContainer .customDescription .descriptionBtnContainer {
    flex-direction: row;
  }
  .FavContainer .favContents .favDetailContainer .favDetails .detailsContainer .customContainer .customDescription .descriptionBtnContainer button {
    width: 40%;
  }
}
@media all and (min-width: 767px) {
  .FavContainer {
    width: 70%;
    height: 55%;
    align-items: center;
  }
  .FavContainer .favTitle {
    width: 80%;
    height: 15%;
  }
  .FavContainer .favTitle header {
    font-size: 30px;
  }
  .FavContainer .favTitle header .favIcon {
    font-size: 20px;
  }
  .FavContainer .favTitle p {
    font-size: 16px;
  }
  .FavContainer .favContents {
    height: 93%;
    flex-direction: column;
  }
  .FavContainer .favContents .favourites {
    width: 80%;
    height: 45%;
  }
  .FavContainer .favContents .favourites .favList li {
    height: 20%;
    margin-block: 0%;
    padding-inline: 1%;
  }
  .FavContainer .favContents .favourites .favList li p {
    width: 48%;
    font-size: 20px;
  }
  .FavContainer .favContents .favourites .favList li .btnContainer {
    width: 52%;
  }
  .FavContainer .favContents .favourites .favList li .btnContainer button {
    width: auto;
    height: 70%;
    font-size: 15px;
    box-shadow: 0px 0px 0px 2px sienna;
  }
  .FavContainer .favContents .favDetailContainer {
    width: 100%;
    height: 55%;
    max-height: 300px;
  }
  .FavContainer .favContents .favDetailContainer .favDetailsNot {
    height: 100%;
    background-image: none;
  }
  .FavContainer .favContents .favDetailContainer .favDetailsNot svg {
    display: flex;
  }
  .FavContainer .favContents .favDetailContainer .favDetails {
    max-height: 300px;
  }
  .FavContainer .favContents .favDetailContainer .favDetails .detailsContainer {
    flex-direction: row;
    justify-content: flex-start;
    max-height: 500px;
  }
  .FavContainer .favContents .favDetailContainer .favDetails .detailsContainer .details {
    width: 100%;
    height: 100%;
  }
  .FavContainer .favContents .favDetailContainer .favDetails .detailsContainer .details .favName {
    height: 15%;
  }
  .FavContainer .favContents .favDetailContainer .favDetails .detailsContainer .detailCustomSetting {
    width: 100%;
    height: 100%;
  }
  .FavContainer .favContents .favDetailContainer .favDetails .detailsContainer .detailCustomSetting .favName {
    height: 15%;
  }
  .FavContainer .favContents .favDetailContainer .favDetails .detailsContainer .customContainer {
    width: 100%;
    height: 100%;
  }
  .FavContainer .favContents .favDetailContainer .favDetails .detailsContainer .customContainer .customOptions {
    justify-content: space-evenly;
    height: 100%;
  }
  .FavContainer .favContents .favDetailContainer .favDetails .detailsContainer .customContainer .customOptions p {
    font-size: 25px;
  }
  .FavContainer .favContents .favDetailContainer .favDetails .detailsContainer .customContainer .customOptions button {
    height: 20%;
  }
  .FavContainer .favContents .favDetailContainer .favDetails .detailsContainer .customContainer .customDetail {
    max-height: 250px;
    justify-content: center;
  }
  .FavContainer .favContents .favDetailContainer .favDetails .detailsContainer .customContainer .customDetail .customfavName {
    height: 90%;
  }
  .FavContainer .favContents .favDetailContainer .favDetails .detailsContainer .customContainer .customDetail .customMenuName {
    height: 60%;
  }
  .FavContainer .favContents .favDetailContainer .favDetails .detailsContainer .customContainer .customDetail .customMethodName {
    height: 60%;
    overflow: scroll;
  }
  .FavContainer .favContents .favDetailContainer .favDetails .detailsContainer .customContainer .customDetail .customCoffee {
    height: 50%;
  }
  .FavContainer .favContents .favDetailContainer .favDetails .detailsContainer .customContainer .customDescription {
    justify-content: center;
  }
  .FavContainer .favContents .favDetailContainer .favDetails .detailsContainer .customContainer .customDescription p {
    display: flex;
    height: 15%;
  }
  .FavContainer .favContents .favDetailContainer .favDetails .detailsContainer .customContainer .customDescription .descriptionInput {
    min-height: 50%;
    font-size: 16px;
    padding: 3%;
  }
  .FavContainer .favContents .favDetailContainer .favDetails .detailsContainer .customContainer .customDescription .descriptionBtnContainer {
    flex-direction: row;
  }
  .FavContainer .favContents .favDetailContainer .favDetails .detailsContainer .customContainer .customDescription .descriptionBtnContainer button {
    width: 40%;
  }
}
@media all and (min-width: 1279px) {
  .FavContainer {
    width: 100%;
    height: 35%;
    justify-content: center;
    align-items: center;
  }
  .FavContainer .favTitle {
    width: 100%;
    height: 25%;
  }
  .FavContainer .favTitle header {
    font-size: 40px;
  }
  .FavContainer .favTitle header .favIcon {
    font-size: 30px;
  }
  .FavContainer .favTitle p {
    font-size: 20px;
  }
  .FavContainer .favContents {
    height: 75%;
    flex-direction: row;
  }
  .FavContainer .favContents .favourites {
    width: 50%;
    height: 100%;
  }
  .FavContainer .favContents .favourites .favList li {
    height: 20%;
    margin-block: 0%;
    padding-inline: 1%;
  }
  .FavContainer .favContents .favourites .favList li p {
    width: 50%;
    font-size: 25px;
  }
  .FavContainer .favContents .favourites .favList li .btnContainer {
    width: 45%;
  }
  .FavContainer .favContents .favourites .favList li .btnContainer button {
    width: auto;
    height: 60%;
    font-size: 15px;
    box-shadow: 0px 0px 0px 2px sienna;
  }
  .FavContainer .favContents .favDetailContainer {
    width: 50%;
    height: 100%;
    max-height: 300px;
  }
  .FavContainer .favContents .favDetailContainer .favDetailsNot {
    height: 100%;
    background-image: none;
  }
  .FavContainer .favContents .favDetailContainer .favDetailsNot svg {
    display: flex;
  }
  .FavContainer .favContents .favDetailContainer .favDetails {
    max-height: 300px;
  }
  .FavContainer .favContents .favDetailContainer .favDetails .detailsContainer {
    flex-direction: row;
    justify-content: flex-start;
    max-height: 500px;
  }
  .FavContainer .favContents .favDetailContainer .favDetails .detailsContainer .details {
    width: 57%;
    height: 100%;
  }
  .FavContainer .favContents .favDetailContainer .favDetails .detailsContainer .details .favName {
    height: 15%;
  }
  .FavContainer .favContents .favDetailContainer .favDetails .detailsContainer .detailCustomSetting {
    width: 57%;
    height: 100%;
  }
  .FavContainer .favContents .favDetailContainer .favDetails .detailsContainer .detailCustomSetting .favName {
    height: 15%;
  }
  .FavContainer .favContents .favDetailContainer .favDetails .detailsContainer .customContainer {
    width: 43%;
    height: 100%;
  }
  .FavContainer .favContents .favDetailContainer .favDetails .detailsContainer .customContainer .customOptions {
    justify-content: space-evenly;
    height: 100%;
  }
  .FavContainer .favContents .favDetailContainer .favDetails .detailsContainer .customContainer .customOptions p {
    font-size: 25px;
  }
  .FavContainer .favContents .favDetailContainer .favDetails .detailsContainer .customContainer .customOptions button {
    width: 100%;
    height: 15%;
  }
  .FavContainer .favContents .favDetailContainer .favDetails .detailsContainer .customContainer .customDetail {
    max-height: 270px;
    justify-content: center;
  }
  .FavContainer .favContents .favDetailContainer .favDetails .detailsContainer .customContainer .customDetail .customDetailBasic .customDetailBasicText p {
    font-size: 18px;
  }
  .FavContainer .favContents .favDetailContainer .favDetails .detailsContainer .customContainer .customDetail .customfavName {
    height: 90%;
  }
  .FavContainer .favContents .favDetailContainer .favDetails .detailsContainer .customContainer .customDetail .customMenuName {
    height: 60%;
  }
  .FavContainer .favContents .favDetailContainer .favDetails .detailsContainer .customContainer .customDetail .customMethodName {
    height: 60%;
    overflow: scroll;
  }
  .FavContainer .favContents .favDetailContainer .favDetails .detailsContainer .customContainer .customDetail .customCoffee {
    height: 50%;
  }
  .FavContainer .favContents .favDetailContainer .favDetails .detailsContainer .customContainer .customDescription {
    justify-content: center;
  }
  .FavContainer .favContents .favDetailContainer .favDetails .detailsContainer .customContainer .customDescription p {
    display: flex;
    height: 15%;
  }
  .FavContainer .favContents .favDetailContainer .favDetails .detailsContainer .customContainer .customDescription .descriptionInput {
    min-height: 50%;
    font-size: 16px;
    padding: 3%;
  }
  .FavContainer .favContents .favDetailContainer .favDetails .detailsContainer .customContainer .customDescription .descriptionBtnContainer {
    flex-direction: row;
  }
  .FavContainer .favContents .favDetailContainer .favDetails .detailsContainer .customContainer .customDescription .descriptionBtnContainer button {
    width: 40%;
  }
}/*# sourceMappingURL=Fav.css.map */