.finishContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 91vh;
  animation: opacity 0.5s;
}
.finishContainer .finish {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 55%;
  height: 100%;
  background-image: url("../../../public/img/background/finalLogo2.jpg");
  background-position: center;
  background-size: cover;
  border-radius: 50px;
  overflow: hidden;
  -o-object-fit: cover;
     object-fit: cover;
}
.finishContainer .finish .finishContents {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 60%;
}
.finishContainer .finish .finishContents header {
  text-align: center;
  width: 35%;
  font-size: 25px;
  font-weight: bold;
  color: saddlebrown;
  background-color: wheat;
  border-radius: 5px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}
.finishContainer .finish .finishContents .finishText {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 3%;
}
.finishContainer .finish .finishContents .finishText p {
  color: darkgoldenrod;
  font-size: 22px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  font-weight: bold;
}
.finishContainer .finish .finishContents .btnContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 70%;
  height: 20%;
}
.finishContainer .finish .finishContents .btnContainer .tryAnother {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 25%;
  height: 40%;
  font-size: 22px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border-radius: 10px;
  border: 0;
  text-decoration: none;
  color: linen;
  background-color: sienna;
  box-shadow: 2px 3px 0px 1px darkgoldenrod;
}
.finishContainer .finish .finishContents .btnContainer .tryAnother:hover {
  color: brown;
  background-color: bisque;
  transition: 0.3s;
}
.finishContainer .finish .finishContents .btnContainer .tryAnother:active {
  box-shadow: 0px 0px 0px 0px;
  transform: translateY(3%);
  transition: 0s;
}
.finishContainer .finish .finishContents .btnContainer .recipe {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 25%;
  height: 40%;
  font-size: 22px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border-radius: 10px;
  border: 0;
  text-decoration: none;
  color: linen;
  background-color: sienna;
  box-shadow: 2px 3px 0px 1px darkgoldenrod;
}
.finishContainer .finish .finishContents .btnContainer .recipe:hover {
  color: brown;
  background-color: bisque;
  transition: 0.3s;
}
.finishContainer .finish .finishContents .btnContainer .recipe:active {
  box-shadow: 0px 0px 0px 0px;
  transform: translateY(3%);
  transition: 0s;
}
.finishContainer .finish .finishContents .btnContainer button {
  width: 25%;
  height: 40%;
  font-size: 22px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border-radius: 10px;
  border: 0;
  color: linen;
  background-color: sienna;
  box-shadow: 2px 3px 0px 1px darkgoldenrod;
}
.finishContainer .finish .finishContents .btnContainer button:hover {
  color: brown;
  background-color: bisque;
  transition: 0.3s;
}
.finishContainer .finish .finishContents .btnContainer button:active {
  box-shadow: 0px 0px 0px 0px;
  transform: translateY(3%);
  transition: 0s;
}
.finishContainer .finish .finishContents .favSubmit {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 20%;
  transition: all 0.3s linear;
  animation: opacity 0.3s;
  animation-direction: alternate;
}
.finishContainer .finish .finishContents .favSubmit input {
  font-size: 20px;
  background-color: wheat;
  color: brown;
  border: 2px sienna solid;
  border-radius: 5px;
  outline: none;
  padding: 1%;
  padding-left: 5%;
}
.finishContainer .finish .finishContents .favSubmit .btnContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  width: 80%;
}
.finishContainer .finish .finishContents .favSubmit .btnContainer button {
  width: 20%;
  height: 35%;
  font-size: 20px;
  border-radius: 100%;
  background-color: sienna;
  color: wheat;
}
.finishContainer .finish .finishContents .favSubmit .btnContainer .submitBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  width: 60%;
  height: 50%;
  font-size: 18px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border-radius: 10px;
  border: 0;
  color: lightslategray;
  background-color: wheat;
  box-shadow: 2px 3px 0px 1px darkgoldenrod;
  transition: 0.3s;
}
.finishContainer .finish .finishContents .favSubmit .btnContainer .submitBtn:hover {
  color: slategrey;
  background-color: antiquewhite;
  transition: 0.3s;
}
.finishContainer .finish .finishContents .favSubmit .btnContainer .submitBtn:active {
  box-shadow: 0px 0px 0px 0px;
  transform: translateY(3%);
  transition: 0s;
}
.finishContainer .finish .finishContents .favSubmit .none {
  display: none;
}
.finishContainer .finish .finishContents .afterSaveFav {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 18%;
}
.finishContainer .finish .finishContents .afterSaveFav p {
  font-size: 30px;
  color: sienna;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-bottom: 0;
  animation: opacity 0.5s;
}
.finishContainer .finish .finishContents .afterSaveFav .goMyRecipeBtn {
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  color: lightslategray;
  background-color: wheat;
  box-shadow: 2px 3px 0px 1px darkgoldenrod;
  transition: 0.3s;
  padding-inline: 1%;
  border-radius: 5px;
}
.finishContainer .finish .finishContents .afterSaveFav .goMyRecipeBtn:hover {
  color: slategrey;
  background-color: antiquewhite;
  transition: 0.3s;
}
.finishContainer .finish .finishContents .afterSaveFav .goMyRecipeBtn:active {
  box-shadow: 0px 0px 0px 0px;
  transform: translateY(3%);
  transition: 0s;
}/*# sourceMappingURL=Finish.css.map */