.typeContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 100%;
    
    .arabica {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 100%;
    
        color: #99582a;

        header {
            font-size: 35px;
            letter-spacing: 2px;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            margin-bottom: 10%;

            border-bottom: #99582a 2px solid;
        }
        .arabicaText {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
    
            width: 100%;
    
            h3 {
                font-size: 20px;
            }
    
            input[type="checkbox"] {
                display: none;
                width: 18px;
                height: 18px;
                align-items: center;
                text-align: center;
            }
    
            input[type="checkbox"] + label {
                position: inline-block;
                text-align: center;
                align-items: center;
                width: 20px;
                height: 20px;
                content: '';
                border: #432818 1px solid;
                border-radius: 50px;
                font-size: 20px;
                cursor: pointer;
                background-color: white;
    
                transition: all 0.3s ease-in-out;
                margin-top: 5px;
            }
    
            input[type="checkbox"]:checked + label {
                background-color: wheat;
                transform: scale(1.5);
                transition: 0.3s ease-in-out;
            }
    
            input[type="checkbox"]:checked + label::after {
                transform: translate(-50%, -15%);
                opacity: 1;
                position: absolute;
                font-size: 15px;
                font-weight: 500;
                color: rgb(71, 71, 71);
                content: '✓';
            }
        }
    }
       
    .robusta {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 100%;
    
        color:rgb(116, 52, 6);
        
        header {
            font-size: 35px;
            letter-spacing: 2px;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            margin-bottom: 10%;

            border-bottom:saddlebrown 2px solid;
        }
        .robustaText {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
    
            width: 100%;
    
            h3 {
                font-size: 20px;
            }
        }
        
        input[type="checkbox"] {
            display: none;
            width: 18px;
            height: 18px;
            align-items: center;
            text-align: center;
        }
    
        input[type="checkbox"] + label {
            position: inline-block;
            text-align: center;
            align-items: center;
            width: 20px;
            height: 20px;
            content: '';
            border: #432818 1px solid;
            border-radius: 50px;
            font-size: 20px;
            cursor: pointer;
            background-color: white;
    
            transition: all 0.3s ease-in-out;
            margin-top: 5px;
        }
    
        input[type="checkbox"]:checked + label {
            background-color: wheat;
            transform: scale(1.5);
            transition: 0.3s ease-in-out;
        }
    
        input[type="checkbox"]:checked + label::after {
            transform: translate(-50%, -15%);
            opacity: 1;
            position: absolute;
            font-size: 15px;
            font-weight: 500;
            color: rgb(71, 71, 71);
            content: '✓';
        }
    }

    // .liberica {
    //     display: flex;
    //     flex-direction: column;
    //     justify-content: space-between;
    //     align-items: center;
    //     width: 100%;
    //     height: 100%;
    
    //     color:darkgoldenrod;
        
    //     header {
    //         font-size: 35px;
    //         letter-spacing: 2px;
    //         font-family: Verdana, Geneva, Tahoma, sans-serif;
    //         margin-bottom: 3%;
    //     }
    //     .libericaText {
    //         display: flex;
    //         flex-direction: column;
    //         justify-content: center;
    //         align-items: center;
    
    //         width: 100%;
    
    //         h3 {
    //             font-size: 20px;
    //         }
    //     }
        
    //     input[type="checkbox"] {
    //         display: none;
    //         width: 18px;
    //         height: 18px;
    //         align-items: center;
    //         text-align: center;
    //     }
    
    //     input[type="checkbox"] + label {
    //         position: inline-block;
    //         text-align: center;
    //         align-items: center;
    //         width: 20px;
    //         height: 20px;
    //         content: '';
    //         border: #432818 1px solid;
    //         border-radius: 50px;
    //         font-size: 20px;
    //         cursor: pointer;
    //         background-color: white;
    
    //         transition: all 0.3s ease-in-out;
    //         margin-top: 5px;
    //     }
    
    //     input[type="checkbox"]:checked + label {
    //         background-color: wheat;
    //         transform: scale(1.5);
    //         transition: 0.3s ease-in-out;
    //     }
    
    //     input[type="checkbox"]:checked + label::after {
    //         transform: translate(-50%, -15%);
    //         opacity: 1;
    //         position: absolute;
    //         font-size: 15px;
    //         font-weight: 500;
    //         color: rgb(71, 71, 71);
    //         content: '✓';
    //     }
    // }
    
    // .excelsa {
    //     display: flex;
    //     flex-direction: column;
    //     justify-content: space-between;
    //     align-items: center;
    //     width: 100%;
    //     height: 100%;
    
    //     color: #bb3e03;
        
    //     header {
    //         font-size: 35px;
    //         letter-spacing: 2px;
    //         font-family: Verdana, Geneva, Tahoma, sans-serif;
    //         margin-bottom: 3%;
    //     }
    //     .excelsaText {
    //         display: flex;
    //         flex-direction: column;
    //         justify-content: center;
    //         align-items: center;
    
    //         width: 100%;
    
    //         h3 {
    //             font-size: 20px;
    //         }
    //     }
        
    //     input[type="checkbox"] {
    //         display: none;
    //         width: 18px;
    //         height: 18px;
    //         align-items: center;
    //         text-align: center;
    //     }
    
    //     input[type="checkbox"] + label {
    //         position: inline-block;
    //         text-align: center;
    //         align-items: center;
    //         width: 20px;
    //         height: 20px;
    //         content: '';
    //         border: #432818 1px solid;
    //         border-radius: 50px;
    //         font-size: 20px;
    //         cursor: pointer;
    //         background-color: white;
    
    //         transition: all 0.3s ease-in-out;
    //         margin-top: 5px;
    //     }
    
    //     input[type="checkbox"]:checked + label {
    //         background-color: wheat;
    //         transform: scale(1.5);
    //         transition: 0.3s ease-in-out;
    //     }
    
    //     input[type="checkbox"]:checked + label::after {
    //         transform: translate(-50%, -15%);
    //         opacity: 1;
    //         position: absolute;
    //         font-size: 15px;
    //         font-weight: 500;
    //         color: rgb(71, 71, 71);
    //         content: '✓';
    //     }
    // }
}

