.FavContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 95%;
  height: 45%;
}
.FavContainer .favTitle {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  height: 25%;
}
.FavContainer .favTitle header {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  font-style: italic;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: sienna;
}
.FavContainer .favTitle header .favIcon {
  font-size: 25px;
  text-align: center;
}
.FavContainer .favTitle p {
  font-size: 16px;
  font-weight: bold;
  font-style: italic;
  padding-left: 3%;
  color: darkgoldenrod;
  margin-bottom: 0;
}
.FavContainer .favContents {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 80%;
}
.FavContainer .favContents .favourites {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 50%;
  height: 100%;
  background-color: wheat;
  border-radius: 10px;
  padding: 1%;
  overflow: hidden;
}
.FavContainer .favContents .favourites .favList {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  margin-bottom: 0;
  padding-left: 0%;
  animation: opacity 0.5s;
}
.FavContainer .favContents .favourites .favList li {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 15%;
  cursor: pointer;
  border-radius: 5px;
  margin-block: 1.5%;
  padding-inline: 3%;
  color: saddlebrown;
}
.FavContainer .favContents .favourites .favList li p {
  width: 45%;
  font-size: 20px;
  font-weight: bold;
  overflow: hidden;
  margin-bottom: 0;
}
.FavContainer .favContents .favourites .favList li .btnContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 55%;
  height: 100%;
}
.FavContainer .favContents .favourites .favList li .btnContainer button {
  height: 70%;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  color: sienna;
  background-color: transparent;
  border: 0;
  border-radius: 20px;
  background-color: wheat;
  padding-block: 0;
}
.FavContainer .favContents .favourites .favList li .btnContainer button:hover {
  box-shadow: 0px 0px 0px 3px bisque;
}
.FavContainer .favContents .favourites .favList li:hover {
  color: wheat;
  background-color: saddlebrown;
  transition: 0.3s;
}
.FavContainer .favContents .favourites .favList li:hover button {
  color: bisque;
  background-color: saddlebrown;
  transition: 0.3s;
}
.FavContainer .favContents .favourites .noneFav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.FavContainer .favContents .favourites .noneFav .makeFavBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 30%;
  font-size: 22px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-decoration: none;
  border-radius: 10px;
  border: 0;
  color: linen;
  background-color: sienna;
  box-shadow: 2px 3px 0px 1px burlywood;
}
.FavContainer .favContents .favourites .noneFav .makeFavBtn:hover {
  color: saddlebrown;
  background-color: bisque;
  transition: 0.3s;
}
.FavContainer .favContents .favourites .noneFav .makeFavBtn:active {
  box-shadow: 0px 0px 0px 0px;
  transform: translateY(3%);
  transition: 0s;
}
.FavContainer .favContents .favOthers {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 50%;
  height: 100%;
}
.FavContainer .favContents .favOthers .favDetails {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  height: 100%;
  animation: opacity 0.3s;
}
.FavContainer .favContents .favOthers .favDetails header {
  width: 100%;
  font-size: 16px;
  font-weight: bold;
  color: sienna;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  margin-bottom: 1%;
  border-bottom: 1px sienna solid;
}
.FavContainer .favContents .favOthers .favDetails .detailsContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.FavContainer .favContents .favOthers .favDetails .detailsContainer .details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 50%;
  height: 100%;
  padding-left: 3%;
  padding: 1%;
}
.FavContainer .favContents .favOthers .favDetails .detailsContainer .details h3 {
  font-size: 18px;
  color: wheat;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  background-color: sienna;
  border-radius: 5px;
  padding: 2%;
  margin-bottom: 0;
}
.FavContainer .favContents .favOthers .favDetails .detailsContainer .details p {
  display: flex;
  font-size: 16px;
  font-weight: bold;
  font-family: "Courier New", Courier, monospace;
  color: saddlebrown;
  text-transform: uppercase;
  margin-bottom: 0;
  padding: 1%;
}
.FavContainer .favContents .favOthers .favDetails .detailsContainer .description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  height: 95%;
}
.FavContainer .favContents .favOthers .favDetails .detailsContainer .description p {
  font-size: 20px;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: sienna;
  margin-bottom: 0%;
}
.FavContainer .favContents .favOthers .favDetails .detailsContainer .description .descriptionInput {
  width: 80%;
  min-height: 70%;
  max-height: 70%;
  outline: none;
  border: 0;
  resize: none;
  font-size: 16px;
  color: sienna;
  overflow: hidden;
  background-color: wheat;
  border-radius: 5px;
  padding: 5%;
}
.FavContainer .favContents .favOthers .favDetails .detailsContainer .description .saveDescription {
  width: 80%;
  font-size: 16px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border-radius: 10px;
  border: 0;
  color: linen;
  background-color: sienna;
  box-shadow: 2px 3px 0px 1px darkgoldenrod;
}
.FavContainer .favContents .favOthers .favDetails .detailsContainer .description .saveDescription:hover {
  color: brown;
  background-color: bisque;
  transition: 0.3s;
}
.FavContainer .favContents .favOthers .favDetails .detailsContainer .description .saveDescription:active {
  box-shadow: 0px 0px 0px 0px;
  transform: translateY(3%);
  transition: 0s;
}
.FavContainer .favContents .favOthers .favDetailsNot {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100%;
  animation: opacity 0.5s;
}
.FavContainer .favContents .favOthers .favDetailsNot header {
  height: 20%;
  font-size: 45px;
  font-weight: bold;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  color: sienna;
  letter-spacing: 2px;
  font-style: italic;
}

@keyframes opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}/*# sourceMappingURL=Fav.css.map */