.myRecipeContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 91vh;
  animation: opacity 0.5s;
}
.myRecipeContainer .myRecipe {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  width: 60%;
  height: 90%;
}
.myRecipeContainer .myRecipe .myRecipeContents {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 70%;
  height: 100%;
}
.myRecipeContainer .myRecipe .myRecipeContents .myRecipTitle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 90%;
  height: 10%;
}
.myRecipeContainer .myRecipe .myRecipeContents .myRecipTitle header {
  font-size: 40px;
  font-style: italic;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: sienna;
}
.myRecipeContainer .myRecipe .myRecipeContents .myRecipTitle p {
  font-size: 16px;
  font-weight: bold;
  font-style: italic;
  color: darkgoldenrod;
  margin-bottom: 0;
}
.myRecipeContainer .myRecipe .myRecipeContents .oldBrews {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  width: 95%;
  height: 45%;
  min-height: 45%;
  border-block: 1px sienna solid;
  padding-top: 1.5%;
  padding-bottom: 1%;
  margin-top: 2%;
}
.myRecipeContainer .myRecipe .myRecipeContents .oldBrews .noHistory {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: 80%;
}
.myRecipeContainer .myRecipe .myRecipeContents .oldBrews .noHistory p {
  font-size: 40px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  color: sienna;
  font-style: italic;
}
.myRecipeContainer .myRecipe .myRecipeContents .oldBrews .category {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 10%;
  margin-bottom: 1%;
}
.myRecipeContainer .myRecipe .myRecipeContents .oldBrews .category p {
  font-size: 20px;
  color: sienna;
  font-weight: bold;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  background-color: transparent;
  text-decoration: underline;
  margin-bottom: 0;
}
.myRecipeContainer .myRecipe .myRecipeContents .oldBrews .category .menu {
  width: 10%;
  text-align: center;
}
.myRecipeContainer .myRecipe .myRecipeContents .oldBrews .category .method {
  width: 20%;
  text-align: center;
}
.myRecipeContainer .myRecipe .myRecipeContents .oldBrews .category .water {
  width: 17%;
  text-align: center;
}
.myRecipeContainer .myRecipe .myRecipeContents .oldBrews .category .coffee {
  width: 7%;
  text-align: left;
}
.myRecipeContainer .myRecipe .myRecipeContents .oldBrews .category .roasting {
  width: 11%;
  text-align: center;
}
.myRecipeContainer .myRecipe .myRecipeContents .oldBrews .category .grind {
  width: 15%;
  text-align: center;
}
.myRecipeContainer .myRecipe .myRecipeContents .oldBrews .category .functions {
  width: 14%;
  text-align: right;
}
.myRecipeContainer .myRecipe .myRecipeContents .oldBrews .history {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 85%;
  padding-left: 0;
  margin-bottom: 0;
  animation: opacity 0.5s;
  transition: 0.5s;
}
.myRecipeContainer .myRecipe .myRecipeContents .oldBrews .history li {
  display: flex;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  margin-block: 2.5%;
}
.myRecipeContainer .myRecipe .myRecipeContents .oldBrews .history li p {
  margin-inline: 3%;
  font-size: 18px;
  font-weight: bold;
  font-family: "Courier New", Courier, monospace;
  color: rgb(156, 113, 2);
  margin: 0;
}
.myRecipeContainer .myRecipe .myRecipeContents .oldBrews .history li .historyBtnContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 20%;
}
.myRecipeContainer .myRecipe .myRecipeContents .oldBrews .history li .historyBtnContainer button {
  font-size: 16px;
  font-weight: bold;
  font-family: "Courier New", Courier, monospace;
  color: saddlebrown;
  background-color: transparent;
  border: 2px solid sienna;
  border-radius: 10px;
}
.myRecipeContainer .myRecipe .myRecipeContents .oldBrews .history li .historyBtnContainer button:hover {
  background-color: sienna;
  color: wheat;
  transition: 0.3s;
}
.myRecipeContainer .myRecipe .myRecipeContents .oldBrews .history li .menu {
  width: 10%;
  text-align: center;
  text-transform: uppercase;
}
.myRecipeContainer .myRecipe .myRecipeContents .oldBrews .history li .method {
  width: 15%;
  text-align: center;
  text-transform: uppercase;
}
.myRecipeContainer .myRecipe .myRecipeContents .oldBrews .history li .water {
  width: 12%;
  text-align: center;
}
.myRecipeContainer .myRecipe .myRecipeContents .oldBrews .history li .coffee {
  width: 5%;
  text-align: center;
}
.myRecipeContainer .myRecipe .myRecipeContents .oldBrews .history li .roasting {
  width: 10%;
  text-align: center;
  text-transform: uppercase;
}
.myRecipeContainer .myRecipe .myRecipeContents .oldBrews .history li .grind {
  width: 10%;
  text-align: center;
  text-transform: uppercase;
}
.myRecipeContainer .myRecipe .myRecipeContents .oldBrews .moreBtn {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 5%;
}
.myRecipeContainer .myRecipe .myRecipeContents .oldBrews .moreBtn button {
  font-size: 13px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: sienna;
  background-color: wheat;
  border: 0;
  border-radius: 10px;
}
.myRecipeContainer .myRecipe .myRecipeContents .oldBrews .moreBtn button:hover {
  color: wheat;
  background-color: sienna;
  transition: 0.3s;
}
.myRecipeContainer .myRecipeImg {
  display: flex;
  width: 35%;
  height: 100%;
  border-radius: 20px;
  background-image: url("../../../public/img/background/myRecipe.jpg");
  background-position: 50% 100%;
  background-size: cover;
}/*# sourceMappingURL=MyRecipe.css.map */