.menuBtn {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  font-size: 22px !important;
  color: #a86b43 !important;
  background-color: transparent !important;
  border: none !important;
  transition: all 0.3s linear !important;
  cursor: pointer !important;
  padding: 0 !important;
  letter-spacing: 1px;
}
.menuBtn:hover {
  color: #86481f !important;
  transition: 0.2s !important;
}

.aboutCanvas {
  width: 20% !important;
  background-color: #f9f6ea !important;
}

.offcanvas {
  transition: transform 0.5s ease-in-out !important;
}

.aboutHeader {
  display: flex !important;
  flex-direction: row !important;
  justify-items: center !important;
  align-items: center !important;
  margin-top: 15% !important;
}
.aboutHeader .aboutTitle {
  width: 100%;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  color: sienna;
  text-align: center !important;
  font-size: 50px !important;
}

.aboutBody {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100%;
}
.aboutBody .about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 55%;
}
.aboutBody .about .aboutText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.aboutBody .about .aboutText p {
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  color: saddlebrown;
  margin-bottom: 8%;
}
.aboutBody .bottom {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 25%;
}
.aboutBody .bottom .title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 25%;
}
.aboutBody .bottom .title header {
  font-size: 25px;
  color: sienna;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.aboutBody .bottom .title h1 {
  font-size: 15px;
  color: darkgoldenrod;
  margin-bottom: 0;
}
.aboutBody .bottom .techs {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 45%;
  width: 100%;
}
.aboutBody .bottom .techs p {
  font-size: 20px;
  color: wheat;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  background-color: sienna;
  border-radius: 5px;
  padding-inline: 3%;
  margin-bottom: 0;
  margin-inline: 1%;
}
.aboutBody .bottom .techs div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}

@media all and (min-width: 320px) {
  .menuBtn {
    font-size: 10px !important;
    font-weight: bold !important;
    margin-left: 0 !important;
  }
  .aboutCanvas {
    width: 80% !important;
    min-height: 480px;
    max-width: 280px !important;
    overflow-y: scroll !important;
  }
  .aboutHeader {
    margin-top: 0% !important;
  }
  .aboutHeader .aboutTitle {
    font-size: 20px !important;
  }
  .aboutBody {
    padding: 0% !important;
    min-height: 450px;
  }
  .aboutBody .about {
    height: 30%;
    min-height: 180px;
    margin-bottom: 5%;
  }
  .aboutBody .about .aboutText {
    padding-inline: 3%;
  }
  .aboutBody .about .aboutText p {
    font-size: 10px;
    margin-bottom: 3% !important;
  }
  .aboutBody .bottom {
    min-height: 105px;
    max-height: 120px;
    margin-top: 5%;
  }
  .aboutBody .bottom .title header {
    font-weight: bold;
    font-size: 12px;
  }
  .aboutBody .bottom .title h1 {
    font-size: 12px;
  }
  .aboutBody .bottom .techs {
    height: 55%;
  }
  .aboutBody .bottom .techs p {
    font-size: 12px;
  }
  .aboutBody .aboutMe {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    color: saddlebrown;
    width: 98%;
    height: 30%;
    min-height: 150px;
    max-height: 170px;
    background-color: wheat;
    border-radius: 10px;
    padding-block: 2%;
  }
  .aboutBody .aboutMe header {
    font-size: 15px;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
    font-weight: bold;
  }
  .aboutBody .aboutMe p {
    font-weight: bold;
    font-size: 10px;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
    margin-bottom: 2%;
  }
  .aboutBody .aboutMe .personalLinks {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 50%;
    font-size: 18px;
    border-radius: 10px;
    background-color: linen;
    padding-bottom: 1%;
  }
  .aboutBody .aboutMe .personalLinks a {
    color: goldenrod;
  }
  .aboutBody .aboutMe .personalLinks a:hover {
    transform: scale(1.1);
    transition: 0.3s;
  }
}
@media all and (min-width: 767px) {
  .menuBtn {
    font-size: 15px !important;
    font-weight: bold !important;
    margin-left: 0 !important;
  }
  .aboutCanvas {
    width: 50% !important;
    max-width: 450px !important;
  }
  .aboutHeader {
    margin-top: 2% !important;
  }
  .aboutHeader .aboutTitle {
    font-size: 25px !important;
  }
  .aboutBody {
    padding: 2% !important;
    min-height: 550px !important;
  }
  .aboutBody .about {
    height: 30%;
    min-height: 250px;
    margin-bottom: 0;
  }
  .aboutBody .about .aboutText {
    padding-inline: 0;
  }
  .aboutBody .about .aboutText p {
    font-size: 15px;
    margin-bottom: 3% !important;
  }
  .aboutBody .bottom {
    min-height: 150px;
    max-height: 150px;
    margin-top: 1%;
  }
  .aboutBody .bottom .title header {
    font-size: 18px;
  }
  .aboutBody .bottom .title h1 {
    font-size: 15px;
  }
  .aboutBody .bottom .techs p {
    font-size: 16px;
  }
  .aboutBody .aboutMe {
    width: 80%;
    min-height: 220px;
    max-height: 250px;
  }
  .aboutBody .aboutMe header {
    font-size: 20px;
  }
  .aboutBody .aboutMe p {
    font-size: 13px;
  }
  .aboutBody .aboutMe .personalLinks {
    font-size: 25px;
    margin-top: 0;
  }
}
@media all and (min-width: 1279px) {
  .menuBtn {
    font-size: 18px !important;
    font-weight: bold !important;
    margin-left: 0 !important;
  }
  .aboutCanvas {
    min-width: 380px !important;
    width: 40% !important;
    max-width: 500px !important;
  }
  .aboutHeader {
    margin-top: 5% !important;
  }
  .aboutHeader .aboutTitle {
    font-size: 40px !important;
  }
  .aboutBody {
    padding: 2% !important;
    min-height: 950px !important;
  }
  .aboutBody .about {
    height: 45%;
    width: 100%;
  }
  .aboutBody .about .aboutText {
    padding-inline: 1%;
  }
  .aboutBody .about .aboutText p {
    font-size: 18px;
    margin-bottom: 5% !important;
  }
  .aboutBody .bottom {
    max-height: 200px;
    margin-bottom: 0;
  }
  .aboutBody .bottom .title header {
    font-size: 22px;
  }
  .aboutBody .bottom .title h1 {
    font-size: 15px;
  }
  .aboutBody .bottom .techs {
    height: 50%;
  }
  .aboutBody .bottom .techs p {
    font-size: 18px;
  }
  .aboutBody .aboutMe {
    width: 90%;
    max-height: 300px;
  }
  .aboutBody .aboutMe header {
    font-size: 30px;
  }
  .aboutBody .aboutMe p {
    font-size: 16px;
  }
  .aboutBody .aboutMe .personalLinks {
    font-size: 25px;
    margin-top: 0;
  }
}
@media all and (min-width: 1680px) {
  .menuBtn {
    font-size: 22px !important;
    font-weight: bold !important;
    margin-left: 0 !important;
  }
  .aboutCanvas {
    min-width: 400px !important;
    width: 30% !important;
    max-width: 650px !important;
    overflow: hidden !important;
  }
  .aboutHeader {
    margin-top: 10% !important;
  }
  .aboutHeader .aboutTitle {
    font-size: 50px !important;
  }
  .aboutBody {
    padding: 2% !important;
  }
  .aboutBody .about {
    height: 45%;
  }
  .aboutBody .about .aboutText {
    padding-inline: 2%;
  }
  .aboutBody .about .aboutText p {
    font-size: 20px;
    margin-bottom: 5% !important;
  }
  .aboutBody .bottom {
    min-height: 250px;
  }
  .aboutBody .bottom .title header {
    font-size: 26px;
  }
  .aboutBody .bottom .title h1 {
    font-size: 22px;
  }
  .aboutBody .bottom .techs {
    height: 50%;
  }
  .aboutBody .bottom .techs p {
    font-size: 25px;
  }
  .aboutBody .aboutMe {
    width: 80%;
    min-height: 300px;
  }
  .aboutBody .aboutMe header {
    font-size: 30px;
  }
  .aboutBody .aboutMe p {
    font-size: 18px;
  }
  .aboutBody .aboutMe .personalLinks {
    font-size: 35px;
    margin-top: 0;
  }
}/*# sourceMappingURL=SlideMenu.css.map */