.menuBtn {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  font-size: 22px !important;
  color: #A86B43 !important;
  background-color: transparent !important;
  border: none !important;
  transition: all 0.3s linear !important;
  cursor: pointer !important;
  padding: 0 !important;
  letter-spacing: 1px;
}
.menuBtn:hover {
  color: #86481f !important;
  transition: 0.2s !important;
}

.aboutCanvas {
  width: 20% !important;
  background-color: #F9F6EA !important;
}

.offcanvas {
  transition: transform 0.5s ease-in-out !important;
}

.aboutHeader {
  display: flex !important;
  flex-direction: row !important;
  justify-items: center !important;
  align-items: center !important;
  margin-top: 15% !important;
}
.aboutHeader .aboutTitle {
  width: 100%;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  color: sienna;
  text-align: center !important;
  font-size: 50px !important;
}

.aboutBody {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100%;
}
.aboutBody .about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 55%;
  margin-block: 10%;
}
.aboutBody .about .aboutText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.aboutBody .about .aboutText p {
  text-align: center;
  font-size: 18px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  color: saddlebrown;
  margin-bottom: 8%;
}
.aboutBody .bottom {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 25%;
}
.aboutBody .bottom .title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 25%;
}
.aboutBody .bottom .title header {
  font-size: 25px;
  color: sienna;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.aboutBody .bottom .title h1 {
  font-size: 15px;
  color: darkgoldenrod;
  margin-bottom: 0;
}
.aboutBody .bottom .techs {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 45%;
  width: 100%;
}
.aboutBody .bottom .techs p {
  font-size: 20px;
  color: wheat;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  background-color: sienna;
  border-radius: 5px;
  padding-inline: 3%;
  margin-bottom: 0;
  margin-inline: 1%;
}
.aboutBody .bottom .techs div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}

@media all and (min-width: 320px) {
  .menuBtn {
    font-size: 10px !important;
    font-weight: bold !important;
    margin-left: 0 !important;
  }
  .aboutCanvas {
    width: 80% !important;
    min-height: 480px;
  }
  .aboutHeader {
    margin-top: 0% !important;
  }
  .aboutHeader .aboutTitle {
    font-size: 20px !important;
  }
  .aboutBody {
    padding: 2% !important;
  }
  .aboutBody .about {
    height: 60%;
  }
  .aboutBody .about .aboutText {
    padding-inline: 3%;
  }
  .aboutBody .about .aboutText p {
    font-size: 10px;
    margin-bottom: 5% !important;
  }
  .aboutBody .bottom .title header {
    font-weight: bold;
    font-size: 12px;
  }
  .aboutBody .bottom .title h1 {
    font-size: 10px;
  }
  .aboutBody .bottom .techs {
    height: 55%;
  }
  .aboutBody .bottom .techs p {
    font-size: 10px;
  }
}
@media all and (min-width: 767px) {
  .menuBtn {
    font-size: 15px !important;
    font-weight: bold !important;
    margin-left: 0 !important;
  }
  .aboutCanvas {
    width: 40% !important;
    max-width: 350px !important;
  }
  .aboutHeader {
    margin-top: 10% !important;
  }
  .aboutHeader .aboutTitle {
    font-size: 25px !important;
  }
  .aboutBody {
    padding: 2% !important;
  }
  .aboutBody .about {
    height: 55%;
  }
  .aboutBody .about .aboutText {
    padding-inline: 3%;
  }
  .aboutBody .about .aboutText p {
    font-size: 13px;
    margin-bottom: 5% !important;
  }
  .aboutBody .bottom .title header {
    font-size: 18px;
  }
  .aboutBody .bottom .title h1 {
    font-size: 12px;
  }
  .aboutBody .bottom .techs p {
    font-size: 15px;
  }
}
@media all and (min-width: 1279px) {
  .menuBtn {
    font-size: 18px !important;
    font-weight: bold !important;
    margin-left: 0 !important;
  }
  .aboutCanvas {
    min-width: 380px !important;
    width: 30% !important;
    max-width: 400px !important;
  }
  .aboutHeader {
    margin-top: 10% !important;
  }
  .aboutHeader .aboutTitle {
    font-size: 35px !important;
  }
  .aboutBody {
    padding: 2% !important;
  }
  .aboutBody .about {
    height: 55%;
  }
  .aboutBody .about .aboutText {
    padding-inline: 1%;
  }
  .aboutBody .about .aboutText p {
    font-size: 16px;
    margin-bottom: 5% !important;
  }
  .aboutBody .bottom .title header {
    font-size: 22px;
  }
  .aboutBody .bottom .title h1 {
    font-size: 15px;
  }
  .aboutBody .bottom .techs {
    height: 50%;
  }
  .aboutBody .bottom .techs p {
    font-size: 18px;
  }
}
@media all and (min-width: 1680px) {
  .menuBtn {
    font-size: 22px !important;
    font-weight: bold !important;
    margin-left: 0 !important;
  }
  .aboutCanvas {
    min-width: 400px !important;
    width: 25% !important;
    max-width: 550px !important;
  }
  .aboutHeader {
    margin-top: 15% !important;
  }
  .aboutHeader .aboutTitle {
    font-size: 50px !important;
  }
  .aboutBody {
    padding: 2% !important;
  }
  .aboutBody .about {
    height: 55%;
  }
  .aboutBody .about .aboutText {
    padding-inline: 2%;
  }
  .aboutBody .about .aboutText p {
    font-size: 20px;
    margin-bottom: 5% !important;
  }
  .aboutBody .bottom .title header {
    font-size: 28px;
  }
  .aboutBody .bottom .title h1 {
    font-size: 20px;
  }
  .aboutBody .bottom .techs {
    height: 50%;
  }
  .aboutBody .bottom .techs p {
    font-size: 25px;
  }
}/*# sourceMappingURL=SlideMenu.css.map */