.registerContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 91vh;
}
.registerContainer .register {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
  height: 80%;
  animation: opacity 0.5s;
}
.registerContainer .register header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
  font-size: 60px;
  text-align: center;
  color: rgb(137, 85, 48);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  letter-spacing: 10px;
  text-transform: uppercase;
  padding-bottom: 1%;
  border-bottom: #9c7c65 2px solid;
}
.registerContainer .register .contents {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 60%;
  height: 55%;
  margin-top: 2%;
}
.registerContainer .register .contents .form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 55%;
  height: 100%;
  padding-left: 1%;
  padding-top: 0%;
}
.registerContainer .register .contents .form .getRegist {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 10%;
}
.registerContainer .register .contents .form .getRegist button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  border: darkgoldenrod 2px solid;
  border-radius: 5px;
  background: wheat;
  color: brown;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}
.registerContainer .register .contents .form .getRegist button:hover {
  background-color: burlywood;
}
.registerContainer .register .contents .form .getRegist button .googleLogo {
  font-size: 25px;
  margin-right: 2%;
  color: brown;
}
.registerContainer .register .contents .form .divide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
}
.registerContainer .register .contents .form .divide p {
  font-size: 18px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(156, 89, 41);
  margin-top: 2%;
  margin-bottom: 2%;
}
.registerContainer .register .contents .form .email {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 10%;
  text-align: left;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.registerContainer .register .contents .form .email input {
  display: flex;
  font-size: 20px;
  width: 100%;
  height: 100%;
  border: 0;
  padding-left: 3%;
  text-align: left;
  background-color: transparent;
  outline: none;
  color: saddlebrown;
  border: rgb(190, 145, 29) 2px solid;
  border-radius: 5px;
  background-color: wheat;
}
.registerContainer .register .contents .form .email input:focus {
  border: rgb(137, 71, 24) 2px solid;
  border-radius: 5px;
}
.registerContainer .register .contents .form .password {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  height: 10%;
  text-align: left;
  margin-top: 3%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.registerContainer .register .contents .form .password p {
  margin-bottom: 0;
}
.registerContainer .register .contents .form .password input {
  display: flex;
  font-size: 20px;
  width: 100%;
  height: 100%;
  border: 0;
  padding-left: 3%;
  background-color: transparent;
  outline: none;
  color: saddlebrown;
  border: rgb(190, 145, 29) 2px solid;
  border-radius: 5px;
  background-color: wheat;
}
.registerContainer .register .contents .form .password input:focus {
  border: rgb(137, 71, 24) 2px solid;
  border-radius: 5px;
}
.registerContainer .register .contents .form .passwordConfirm {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 10%;
  text-align: left;
  margin-top: 3%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.registerContainer .register .contents .form .passwordConfirm input {
  display: flex;
  font-size: 20px;
  width: 100%;
  height: 100%;
  border: 0;
  padding-left: 3%;
  background-color: transparent;
  outline: none;
  color: saddlebrown;
  border: rgb(190, 145, 29) 2px solid;
  border-radius: 5px;
  background-color: wheat;
}
.registerContainer .register .contents .form .passwordConfirm input:focus {
  border: rgb(137, 71, 24) 2px solid;
  border-radius: 5px;
}
.registerContainer .register .contents .form .submitRegist {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 15%;
  text-decoration: none;
  margin-top: 2%;
  margin-bottom: 1%;
}
.registerContainer .register .contents .form .submitRegist button {
  width: 100%;
  height: 65%;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 2px;
  color: brown;
  background-color: wheat;
  border: darkgoldenrod 2px solid;
  border-radius: 5px;
}
.registerContainer .register .contents .form .submitRegist button:hover {
  background-color: burlywood;
}
.registerContainer .register .contents .form .caution {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: 5%;
}
.registerContainer .register .contents .form .caution p {
  color: darkred;
  font-size: 15px;
  margin-bottom: 0;
  font-weight: bold;
}
.registerContainer .register .contents .form .login {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  width: 100%;
  text-align: bottom;
}
.registerContainer .register .contents .form .login p {
  font-size: 18px;
  margin-bottom: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #57240f;
}
.registerContainer .register .contents .form .login .loginBtn {
  font-size: 23px;
  margin-left: 2%;
  color: rgb(201, 121, 41);
}
.registerContainer .register .contents .form .login .loginBtn:hover {
  color: brown;
}

@keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@media all and (min-width: 320px) {
  .registerContainer {
    height: 100vh;
    min-height: 630px;
  }
  .registerContainer .register {
    width: 100%;
  }
  .registerContainer .register header {
    width: 90%;
    max-width: 400px;
    font-size: 25px;
  }
  .registerContainer .register .contents {
    flex-direction: column;
    width: 100%;
    height: 80%;
    max-height: 400px;
    margin-top: 0;
  }
  .registerContainer .register .contents span {
    display: none;
  }
  .registerContainer .register .contents .form {
    width: 90%;
    max-width: 400px;
    max-height: 400px;
    justify-content: space-evenly;
    padding-left: 0;
  }
  .registerContainer .register .contents .form .getRegist button {
    font-size: 15px;
  }
  .registerContainer .register .contents .form .getRegist button .googleLogo {
    font-size: 20px;
  }
  .registerContainer .register .contents .form .divide p {
    font-size: 22px;
  }
  .registerContainer .register .contents .form .email input {
    font-size: 18px;
  }
  .registerContainer .register .contents .form .password input {
    font-size: 18px;
  }
  .registerContainer .register .contents .form .passwordConfirm input {
    font-size: 18px;
  }
  .registerContainer .register .contents .form .caution p {
    font-size: 12px;
  }
  .registerContainer .register .contents .form .login p {
    font-size: 15px;
  }
}
@media all and (min-width: 767px) {
  .registerContainer {
    height: 100vh;
    min-height: 600px;
  }
  .registerContainer .register {
    width: 100%;
  }
  .registerContainer .register header {
    width: 90%;
    max-width: 700px;
    font-size: 40px;
  }
  .registerContainer .register .contents {
    flex-direction: row;
    width: 100%;
    height: 80%;
    max-height: 400px;
    margin-top: 0;
  }
  .registerContainer .register .contents span {
    display: flex;
  }
  .registerContainer .register .contents span .registerImg {
    width: 300px;
    height: 350px;
  }
  .registerContainer .register .contents .form {
    width: 60%;
    max-width: 400px;
    max-height: 400px;
    justify-content: space-evenly;
    padding-left: 2%;
  }
  .registerContainer .register .contents .form .getRegist button {
    font-size: 15px;
  }
  .registerContainer .register .contents .form .getRegist button .googleLogo {
    font-size: 20px;
  }
  .registerContainer .register .contents .form .divide p {
    font-size: 23px;
  }
  .registerContainer .register .contents .form .email input {
    font-size: 18px;
  }
  .registerContainer .register .contents .form .password input {
    font-size: 18px;
  }
  .registerContainer .register .contents .form .passwordConfirm input {
    font-size: 18px;
  }
  .registerContainer .register .contents .form .caution p {
    font-size: 12px;
  }
  .registerContainer .register .contents .form .login p {
    font-size: 16px;
  }
  .registerContainer .register .contents .form .login .loginBtn {
    font-size: 23px;
  }
}
@media all and (min-width: 1279px) {
  .registerContainer {
    height: 100vh;
    min-height: 700px;
  }
  .registerContainer .register {
    width: 100%;
  }
  .registerContainer .register header {
    width: 90%;
    max-width: 900px;
    font-size: 50px;
    padding-bottom: 0;
  }
  .registerContainer .register .contents {
    flex-direction: row;
    width: 100%;
    height: 80%;
    max-height: 500px;
    margin-top: 0;
  }
  .registerContainer .register .contents span {
    display: flex;
  }
  .registerContainer .register .contents span .registerImg {
    width: 350px;
    height: 450px;
  }
  .registerContainer .register .contents .form {
    width: 60%;
    max-width: 500px;
    max-height: 500px;
    justify-content: space-evenly;
    padding-left: 2%;
  }
  .registerContainer .register .contents .form .getRegist button {
    font-size: 20px;
  }
  .registerContainer .register .contents .form .getRegist button .googleLogo {
    font-size: 25px;
  }
  .registerContainer .register .contents .form .divide p {
    font-size: 28px;
  }
  .registerContainer .register .contents .form .email input {
    font-size: 20px;
  }
  .registerContainer .register .contents .form .password input {
    font-size: 20px;
  }
  .registerContainer .register .contents .form .passwordConfirm input {
    font-size: 20px;
  }
  .registerContainer .register .contents .form .caution p {
    font-size: 15px;
  }
  .registerContainer .register .contents .form .login p {
    font-size: 18px;
  }
  .registerContainer .register .contents .form .login .loginBtn {
    font-size: 25px;
  }
}
@media all and (min-width: 1680px) {
  .registerContainer {
    height: 91vh;
    min-height: 900px;
  }
  .registerContainer .register {
    width: 100%;
    min-height: 880px;
  }
  .registerContainer .register header {
    width: 90%;
    max-width: 900px;
    font-size: 50px;
    padding-bottom: 0;
  }
  .registerContainer .register .contents {
    flex-direction: row;
    width: 100%;
    height: 80%;
    max-height: 500px;
    margin-top: 0;
  }
  .registerContainer .register .contents span {
    display: flex;
  }
  .registerContainer .register .contents span .registerImg {
    width: 400px;
    height: 500px;
  }
  .registerContainer .register .contents .form {
    width: 60%;
    max-width: 500px;
    max-height: 500px;
    justify-content: space-evenly;
    padding-left: 2%;
  }
  .registerContainer .register .contents .form .getRegist button {
    font-size: 20px;
  }
  .registerContainer .register .contents .form .getRegist button .googleLogo {
    font-size: 25px;
  }
  .registerContainer .register .contents .form .divide p {
    font-size: 28px;
  }
  .registerContainer .register .contents .form .email input {
    font-size: 20px;
  }
  .registerContainer .register .contents .form .password input {
    font-size: 20px;
  }
  .registerContainer .register .contents .form .passwordConfirm input {
    font-size: 20px;
  }
  .registerContainer .register .contents .form .caution p {
    font-size: 15px;
  }
  .registerContainer .register .contents .form .login p {
    font-size: 18px;
  }
  .registerContainer .register .contents .form .login .loginBtn {
    font-size: 25px;
  }
}/*# sourceMappingURL=Regitser.css.map */