.menuContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 60%;
  height: 70vh;
  animation: opacity 0.5s;
}
.menuContainer .menu {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 95%;
}
.menuContainer .menu .menuTitle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
  height: 10%;
  font-size: 60px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border-bottom: 2px solid rgb(137, 85, 48);
  letter-spacing: 3px;
  color: rgb(137, 85, 48);
  padding-bottom: 2%;
}
.menuContainer .menu .eachMenu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 90%;
  transition: all 0.8s linear;
}
.menuContainer .menu .eachMenu .eachMenuContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 80%;
  height: 100%;
  border-radius: 10px;
  transition: 0.3s;
}
.menuContainer .menu .eachMenu .eachMenuContainer .blackCategory {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 80%;
  height: 90%;
}
.menuContainer .menu .eachMenu .eachMenuContainer .blackCategory p {
  text-align: center;
  font-size: 22px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  margin-bottom: 0;
}
.menuContainer .menu .eachMenu .eachMenuContainer .blackCategory .espresso {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 25%;
  height: 90%;
  border-radius: 20000px;
  cursor: pointer;
  padding: 1%;
}
.menuContainer .menu .eachMenu .eachMenuContainer .blackCategory .espresso:hover {
  transform: scale(1.05);
  transition: 0.2s;
}
.menuContainer .menu .eachMenu .eachMenuContainer .blackCategory .espresso:hover p {
  text-shadow: 3px 3px lightgrey;
  transition: 0.2s;
}
.menuContainer .menu .eachMenu .eachMenuContainer .blackCategory .espresso:hover .espressoImg {
  box-shadow: 2px 2px 3px 3px lightgrey;
  transition: 0.2s;
}
.menuContainer .menu .eachMenu .eachMenuContainer .blackCategory .espresso:active p {
  text-shadow: 0px 0px;
  transition: 0s;
}
.menuContainer .menu .eachMenu .eachMenuContainer .blackCategory .espresso:active .espressoImg {
  box-shadow: 0px 0px lightgrey;
  transition: 0s;
}
.menuContainer .menu .eachMenu .eachMenuContainer .blackCategory .espresso .espressoImg {
  width: 80%;
  height: 80%;
  border-radius: 2000000px;
  background-image: url("../../../public/img/coffee/espresso.jpg");
  background-position: 50% 80%;
  background-size: cover;
}
.menuContainer .menu .eachMenu .eachMenuContainer .blackCategory .americano {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 25%;
  height: 90%;
  border-radius: 20000px;
  cursor: pointer;
  padding: 1%;
}
.menuContainer .menu .eachMenu .eachMenuContainer .blackCategory .americano:hover {
  transform: scale(1.05);
  transition: 0.2s;
}
.menuContainer .menu .eachMenu .eachMenuContainer .blackCategory .americano:hover .americanoImg {
  box-shadow: 2px 2px 3px 3px rgb(177, 177, 177);
  transition: 0.3s;
}
.menuContainer .menu .eachMenu .eachMenuContainer .blackCategory .americano:hover p {
  text-shadow: 3px 3px rgb(177, 177, 177);
  transition: 0.3s;
}
.menuContainer .menu .eachMenu .eachMenuContainer .blackCategory .americano:active p {
  text-shadow: 0px 0px;
  transition: 0s;
}
.menuContainer .menu .eachMenu .eachMenuContainer .blackCategory .americano:active .americanoImg {
  box-shadow: 0px 0px lightgrey;
  transition: 0s;
}
.menuContainer .menu .eachMenu .eachMenuContainer .blackCategory .americano .americanoImg {
  width: 80%;
  height: 80%;
  border-radius: 2000000px;
  background-image: url("../../../public/img/coffee/americano.jpg");
  background-position: 30%;
  background-size: cover;
}
.menuContainer .menu .eachMenu .eachMenuContainer .blackCategory .longBlack {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 25%;
  height: 90%;
  border-radius: 20000px;
  cursor: pointer;
  padding: 1%;
}
.menuContainer .menu .eachMenu .eachMenuContainer .blackCategory .longBlack:hover {
  transform: scale(1.05);
  transition: 0.2s;
}
.menuContainer .menu .eachMenu .eachMenuContainer .blackCategory .longBlack:hover .longBlackImg {
  box-shadow: 2px 2px 3px 3px rgb(177, 177, 177);
  transition: 0.3s;
}
.menuContainer .menu .eachMenu .eachMenuContainer .blackCategory .longBlack:hover p {
  text-shadow: 3px 3px rgb(177, 177, 177);
  transition: 0.3s;
}
.menuContainer .menu .eachMenu .eachMenuContainer .blackCategory .longBlack:active p {
  text-shadow: 0px 0px;
  transition: 0s;
}
.menuContainer .menu .eachMenu .eachMenuContainer .blackCategory .longBlack:active .longBlackImg {
  box-shadow: 0px 0px lightgrey;
  transition: 0s;
}
.menuContainer .menu .eachMenu .eachMenuContainer .blackCategory .longBlack .longBlackImg {
  width: 80%;
  height: 80%;
  border-radius: 2000000px;
  background-image: url("../../../public/img/coffee/longBlack.jpg");
  background-position: 100% 80%;
  background-size: cover;
}
.menuContainer .menu .eachMenu .eachMenuContainer .blackCategory .coldBrew {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 25%;
  height: 90%;
  border-radius: 20000px;
  cursor: pointer;
  padding: 1%;
}
.menuContainer .menu .eachMenu .eachMenuContainer .blackCategory .coldBrew:hover {
  transform: scale(1.05);
  transition: 0.2s;
}
.menuContainer .menu .eachMenu .eachMenuContainer .blackCategory .coldBrew:hover .coldBrewImg {
  box-shadow: 2px 2px 3px 3px rgb(177, 177, 177);
  transition: 0.3s;
}
.menuContainer .menu .eachMenu .eachMenuContainer .blackCategory .coldBrew:hover p {
  text-shadow: 3px 3px rgb(177, 177, 177);
  transition: 0.3s;
}
.menuContainer .menu .eachMenu .eachMenuContainer .blackCategory .coldBrew:active p {
  text-shadow: 0px 0px;
  transition: 0s;
}
.menuContainer .menu .eachMenu .eachMenuContainer .blackCategory .coldBrew:active .coldBrewImg {
  box-shadow: 0px 0px lightgrey;
  transition: 0s;
}
.menuContainer .menu .eachMenu .eachMenuContainer .blackCategory .coldBrew .coldBrewImg {
  width: 80%;
  height: 80%;
  border-radius: 2000000px;
  background-image: url("../../../public/img/coffee/coldBrew.jpg");
  background-position: 100% 70%;
  background-size: cover;
}
.menuContainer .menu .eachMenu .eachMenuContainer .whiteCategory {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 90%;
}
.menuContainer .menu .eachMenu .eachMenuContainer .whiteCategory p {
  text-align: center;
  font-size: 22px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  margin-bottom: 0;
}
.menuContainer .menu .eachMenu .eachMenuContainer .whiteCategory .latte {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30%;
  height: 90%;
  border-radius: 20000px;
  cursor: pointer;
}
.menuContainer .menu .eachMenu .eachMenuContainer .whiteCategory .latte:hover {
  transform: scale(1.05);
  transition: 0.2s;
}
.menuContainer .menu .eachMenu .eachMenuContainer .whiteCategory .latte:hover p {
  text-shadow: 3px 3px lightgrey;
  transition: 0.2s;
}
.menuContainer .menu .eachMenu .eachMenuContainer .whiteCategory .latte:hover .latteImg {
  box-shadow: 2px 2px 3px 3px lightgrey;
  transition: 0.2s;
}
.menuContainer .menu .eachMenu .eachMenuContainer .whiteCategory .latte:active p {
  text-shadow: 0px 0px;
  transition: 0s;
}
.menuContainer .menu .eachMenu .eachMenuContainer .whiteCategory .latte:active .latteImg {
  box-shadow: 0px 0px lightgrey;
  transition: 0s;
}
.menuContainer .menu .eachMenu .eachMenuContainer .whiteCategory .latte .latteImg {
  width: 80%;
  height: 80%;
  border-radius: 2000000px;
  background-image: url("../../../public/img/coffee/latte.jpg");
  background-position: 50% 80%;
  background-size: cover;
}
.menuContainer .menu .eachMenu .eachMenuContainer .whiteCategory .flatWhite {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30%;
  height: 90%;
  border-radius: 20000px;
  cursor: pointer;
}
.menuContainer .menu .eachMenu .eachMenuContainer .whiteCategory .flatWhite:hover {
  transform: scale(1.05);
  transition: 0.2s;
}
.menuContainer .menu .eachMenu .eachMenuContainer .whiteCategory .flatWhite:hover .flatWhiteImg {
  box-shadow: 2px 2px 3px 3px rgb(177, 177, 177);
  transition: 0.3s;
}
.menuContainer .menu .eachMenu .eachMenuContainer .whiteCategory .flatWhite:hover p {
  text-shadow: 3px 3px rgb(177, 177, 177);
  transition: 0.3s;
}
.menuContainer .menu .eachMenu .eachMenuContainer .whiteCategory .flatWhite:active p {
  text-shadow: 0px 0px;
  transition: 0s;
}
.menuContainer .menu .eachMenu .eachMenuContainer .whiteCategory .flatWhite:active .flatWhiteImg {
  box-shadow: 0px 0px lightgrey;
  transition: 0s;
}
.menuContainer .menu .eachMenu .eachMenuContainer .whiteCategory .flatWhite .flatWhiteImg {
  width: 80%;
  height: 80%;
  border-radius: 2000000px;
  background-image: url("../../../public/img/coffee/flatWhite.jpg");
  background-position: 20% 100%;
  background-size: cover;
}
.menuContainer .menu .eachMenu .eachMenuContainer .whiteCategory .cappuccino {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30%;
  height: 90%;
  border-radius: 20000px;
  cursor: pointer;
}
.menuContainer .menu .eachMenu .eachMenuContainer .whiteCategory .cappuccino:hover {
  transform: scale(1.05);
  transition: 0.2s;
}
.menuContainer .menu .eachMenu .eachMenuContainer .whiteCategory .cappuccino:hover .cappuccinoImg {
  box-shadow: 2px 2px 3px 3px rgb(177, 177, 177);
  transition: 0.3s;
}
.menuContainer .menu .eachMenu .eachMenuContainer .whiteCategory .cappuccino:hover p {
  text-shadow: 3px 3px rgb(177, 177, 177);
  transition: 0.3s;
}
.menuContainer .menu .eachMenu .eachMenuContainer .whiteCategory .cappuccino:active p {
  text-shadow: 0px 0px;
  transition: 0s;
}
.menuContainer .menu .eachMenu .eachMenuContainer .whiteCategory .cappuccino:active .cappuccinoImg {
  box-shadow: 0px 0px lightgrey;
  transition: 0s;
}
.menuContainer .menu .eachMenu .eachMenuContainer .whiteCategory .cappuccino .cappuccinoImg {
  width: 80%;
  height: 80%;
  border-radius: 2000000px;
  background-image: url("../../../public/img/coffee/cappuccino.jpg");
  background-position: 100% 70%;
  background-size: cover;
}
.menuContainer .menu .eachMenu .eachMenuContainer .whiteCategory .mocha {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30%;
  height: 90%;
  border-radius: 20000px;
  cursor: pointer;
}
.menuContainer .menu .eachMenu .eachMenuContainer .whiteCategory .mocha:hover {
  transform: scale(1.05);
  transition: 0.2s;
}
.menuContainer .menu .eachMenu .eachMenuContainer .whiteCategory .mocha:hover .mochaImg {
  box-shadow: 2px 2px 3px 3px rgb(177, 177, 177);
  transition: 0.3s;
}
.menuContainer .menu .eachMenu .eachMenuContainer .whiteCategory .mocha:hover p {
  text-shadow: 3px 3px rgb(177, 177, 177);
  transition: 0.3s;
}
.menuContainer .menu .eachMenu .eachMenuContainer .whiteCategory .mocha:active p {
  text-shadow: 0px 0px;
  transition: 0s;
}
.menuContainer .menu .eachMenu .eachMenuContainer .whiteCategory .mocha:active .mochaImg {
  box-shadow: 0px 0px lightgrey;
  transition: 0s;
}
.menuContainer .menu .eachMenu .eachMenuContainer .whiteCategory .mocha .mochaImg {
  width: 80%;
  height: 80%;
  border-radius: 2000000px;
  background-image: url("../../../public/img/coffee/mocha.jpg");
  background-position: 100% 90%;
  background-size: cover;
}
.menuContainer .menu .eachMenu .eachMenuContainer .whiteCategory .macchiato {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30%;
  height: 90%;
  border-radius: 20000px;
  cursor: pointer;
}
.menuContainer .menu .eachMenu .eachMenuContainer .whiteCategory .macchiato:hover {
  transform: scale(1.05);
  transition: 0.2s;
}
.menuContainer .menu .eachMenu .eachMenuContainer .whiteCategory .macchiato:hover .macchiatoImg {
  box-shadow: 2px 2px 3px 3px rgb(177, 177, 177);
  transition: 0.3s;
}
.menuContainer .menu .eachMenu .eachMenuContainer .whiteCategory .macchiato:hover p {
  text-shadow: 3px 3px rgb(177, 177, 177);
  transition: 0.3s;
}
.menuContainer .menu .eachMenu .eachMenuContainer .whiteCategory .macchiato:active p {
  text-shadow: 0px 0px;
  transition: 0s;
}
.menuContainer .menu .eachMenu .eachMenuContainer .whiteCategory .macchiato:active .macchiatoImg {
  box-shadow: 0px 0px lightgrey;
  transition: 0s;
}
.menuContainer .menu .eachMenu .eachMenuContainer .whiteCategory .macchiato .macchiatoImg {
  width: 80%;
  height: 80%;
  border-radius: 2000000px;
  background-image: url("../../../public/img/coffee/macchiato.jpg");
  background-position: 100% 70%;
  background-size: cover;
}
.menuContainer .menu .eachMenu .eachMenuContainer .othersCategory {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 80%;
  height: 90%;
}
.menuContainer .menu .eachMenu .eachMenuContainer .othersCategory p {
  text-align: center;
  font-size: 22px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  margin-bottom: 0;
}
.menuContainer .menu .eachMenu .eachMenuContainer .othersCategory .chai {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 25%;
  height: 90%;
  border-radius: 20000px;
  cursor: pointer;
  padding: 1%;
}
.menuContainer .menu .eachMenu .eachMenuContainer .othersCategory .chai:hover {
  transform: scale(1.05);
  transition: 0.2s;
}
.menuContainer .menu .eachMenu .eachMenuContainer .othersCategory .chai:hover p {
  text-shadow: 3px 3px lightgrey;
  transition: 0.2s;
}
.menuContainer .menu .eachMenu .eachMenuContainer .othersCategory .chai:hover .chaiImg {
  box-shadow: 2px 2px 3px 3px lightgrey;
  transition: 0.2s;
}
.menuContainer .menu .eachMenu .eachMenuContainer .othersCategory .chai:active p {
  text-shadow: 0px 0px;
  transition: 0s;
}
.menuContainer .menu .eachMenu .eachMenuContainer .othersCategory .chai:active .chaiImg {
  box-shadow: 0px 0px lightgrey;
  transition: 0s;
}
.menuContainer .menu .eachMenu .eachMenuContainer .othersCategory .chai .chaiImg {
  width: 80%;
  height: 80%;
  border-radius: 2000000px;
  background-image: url("../../../public/img/coffee/chai.jpg");
  background-position: 50% 60%;
  background-size: cover;
}
.menuContainer .menu .eachMenu .eachMenuContainer .othersCategory .tumeric {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 25%;
  height: 90%;
  border-radius: 20000px;
  cursor: pointer;
  padding: 1%;
}
.menuContainer .menu .eachMenu .eachMenuContainer .othersCategory .tumeric:hover {
  transform: scale(1.05);
  transition: 0.2s;
}
.menuContainer .menu .eachMenu .eachMenuContainer .othersCategory .tumeric:hover .tumericImg {
  box-shadow: 2px 2px 3px 3px rgb(177, 177, 177);
  transition: 0.3s;
}
.menuContainer .menu .eachMenu .eachMenuContainer .othersCategory .tumeric:hover p {
  text-shadow: 3px 3px rgb(177, 177, 177);
  transition: 0.3s;
}
.menuContainer .menu .eachMenu .eachMenuContainer .othersCategory .tumeric:active p {
  text-shadow: 0px 0px;
  transition: 0s;
}
.menuContainer .menu .eachMenu .eachMenuContainer .othersCategory .tumeric:active .tumericImg {
  box-shadow: 0px 0px lightgrey;
  transition: 0s;
}
.menuContainer .menu .eachMenu .eachMenuContainer .othersCategory .tumeric .tumericImg {
  width: 80%;
  height: 80%;
  border-radius: 2000000px;
  background-image: url("../../../public/img/coffee/tumeric.jpg");
  background-position: 30%;
  background-size: cover;
}
.menuContainer .menu .eachMenu .eachMenuContainer .othersCategory .icedCoffee {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 25%;
  height: 90%;
  border-radius: 20000px;
  cursor: pointer;
  padding: 1%;
}
.menuContainer .menu .eachMenu .eachMenuContainer .othersCategory .icedCoffee:hover {
  transform: scale(1.05);
  transition: 0.2s;
}
.menuContainer .menu .eachMenu .eachMenuContainer .othersCategory .icedCoffee:hover .icedCoffeeImg {
  box-shadow: 2px 2px 3px 3px rgb(177, 177, 177);
  transition: 0.3s;
}
.menuContainer .menu .eachMenu .eachMenuContainer .othersCategory .icedCoffee:hover p {
  text-shadow: 3px 3px rgb(177, 177, 177);
  transition: 0.3s;
}
.menuContainer .menu .eachMenu .eachMenuContainer .othersCategory .icedCoffee:active p {
  text-shadow: 0px 0px;
  transition: 0s;
}
.menuContainer .menu .eachMenu .eachMenuContainer .othersCategory .icedCoffee:active .icedCoffeeImg {
  box-shadow: 0px 0px lightgrey;
  transition: 0s;
}
.menuContainer .menu .eachMenu .eachMenuContainer .othersCategory .icedCoffee .icedCoffeeImg {
  width: 80%;
  height: 80%;
  border-radius: 2000000px;
  background-image: url("../../../public/img/coffee/icedCoffee.jpg");
  background-position: 100% 30%;
  background-size: cover;
}
.menuContainer .menu .eachMenu .eachMenuContainer .othersCategory .affogato {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 25%;
  height: 90%;
  border-radius: 20000px;
  cursor: pointer;
  padding: 1%;
}
.menuContainer .menu .eachMenu .eachMenuContainer .othersCategory .affogato:hover {
  transform: scale(1.05);
  transition: 0.2s;
}
.menuContainer .menu .eachMenu .eachMenuContainer .othersCategory .affogato:hover .affogatoImg {
  box-shadow: 2px 2px 3px 3px rgb(177, 177, 177);
  transition: 0.3s;
}
.menuContainer .menu .eachMenu .eachMenuContainer .othersCategory .affogato:hover p {
  text-shadow: 3px 3px rgb(177, 177, 177);
  transition: 0.3s;
}
.menuContainer .menu .eachMenu .eachMenuContainer .othersCategory .affogato:active p {
  text-shadow: 0px 0px;
  transition: 0s;
}
.menuContainer .menu .eachMenu .eachMenuContainer .othersCategory .affogato:active .affogatoImg {
  box-shadow: 0px 0px lightgrey;
  transition: 0s;
}
.menuContainer .menu .eachMenu .eachMenuContainer .othersCategory .affogato .affogatoImg {
  width: 80%;
  height: 80%;
  border-radius: 2000000px;
  background-image: url("../../../public/img/coffee/affogato.jpg");
  background-position: 100% 70%;
  background-size: cover;
}
.menuContainer .menu .eachMenu .menuContents {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 20%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
  border-radius: 20px;
  border: rgb(160, 130, 116) 3px solid;
  background-color: transparent;
  animation: menuContents 0.8s;
  animation-fill-mode: forwards;
  animation-direction: alternate;
  transition: all 0.8s linear;
  padding: 1%;
}
.menuContainer .menu .eachMenu .menuContents .title {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 25%;
}
.menuContainer .menu .eachMenu .menuContents .title .titleandBtn {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 30%;
  min-width: 270px;
}
.menuContainer .menu .eachMenu .menuContents .title .titleandBtn button {
  text-align: center;
  color: saddlebrown;
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  background-color: transparent;
  border: none;
  border-radius: 100%;
  padding-inline: 0;
}
.menuContainer .menu .eachMenu .menuContents .title .titleandBtn button:hover {
  transform: scale(1.3);
  transition: 0.3s;
}
.menuContainer .menu .eachMenu .menuContents .title .titleandBtn header {
  width: 70%;
  font-size: 25px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  color: linen;
  background-color: saddlebrown;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  margin-left: 8%;
  border-radius: 5px;
}
.menuContainer .menu .eachMenu .menuContents .title .titleText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50%;
  min-width: 300px;
}
.menuContainer .menu .eachMenu .menuContents .title .titleText p {
  color: saddlebrown;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin-bottom: 3%;
}
.menuContainer .menu .eachMenu .menuContents .coffeeTitle {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 90%;
  height: 55%;
  border-block: 2px rgb(160, 130, 116) solid;
  min-width: 240px;
  padding-block: 3%;
}
.menuContainer .menu .eachMenu .menuContents .coffeeTitle header {
  width: 90%;
  height: 15%;
  font-size: 40px;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: sienna;
  border-radius: 5px;
  text-align: center;
  background-color: wheat;
  margin-top: 5%;
}
.menuContainer .menu .eachMenu .menuContents .coffeeTitle .ingredients {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 35%;
  font-weight: bold;
  font-size: 18px;
}
.menuContainer .menu .eachMenu .menuContents .coffeeTitle .ingredients h3 {
  font-size: 25px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: sienna;
  font-weight: bold;
  margin-bottom: 5%;
}
.menuContainer .menu .eachMenu .menuContents .coffeeTitle .ingredients span {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 60%;
}
.menuContainer .menu .eachMenu .menuContents .coffeeTitle .ingredients span div {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 35%;
  height: 85%;
}
.menuContainer .menu .eachMenu .menuContents .coffeeTitle .ingredients span .milkFoam {
  border-radius: 5px;
  background-color: darkgoldenrod;
}
.menuContainer .menu .eachMenu .menuContents .coffeeTitle .ingredients span .milkFoam p {
  width: 100%;
  font-size: 15px;
  text-align: center;
  color: white;
  margin-bottom: 1%;
}
.menuContainer .menu .eachMenu .menuContents .coffeeTitle .ingredients span .Espresso {
  border-radius: 5px;
  background-color: #ffe0b5;
}
.menuContainer .menu .eachMenu .menuContents .coffeeTitle .ingredients span .Espresso p {
  width: 100%;
  font-size: 15px;
  text-align: center;
  color: saddlebrown;
  margin-bottom: 1%;
}
.menuContainer .menu .eachMenu .menuContents .coffeeTitle .ingredients span .Espresso .beanIcon {
  font-size: 32px;
  color: #732400;
}
.menuContainer .menu .eachMenu .menuContents .coffeeTitle .coffeeText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 45%;
}
.menuContainer .menu .eachMenu .menuContents .coffeeTitle .coffeeText p {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: darkgoldenrod;
  margin-bottom: 5%;
}
.menuContainer .menu .eachMenu .menuContents .getMenuBtn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 15%;
  min-width: 300px;
}
.menuContainer .menu .eachMenu .menuContents .getMenuBtn p {
  font-size: 12px;
  color: brown;
  font-weight: bold;
  margin-bottom: 0;
}
.menuContainer .menu .eachMenu .menuContents .getMenuBtn button {
  height: 50%;
  font-size: 25px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: wheat;
  color: sienna;
  border: #ad9984;
  border-radius: 10px;
}
.menuContainer .menu .eachMenu .menuContents .getMenuBtn button:hover {
  background-color: saddlebrown;
  color: wheat;
  transition: 0.3s;
}
.menuContainer .menu .eachMenu .menuContentsClose {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 20%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
  border-radius: 20px;
  border: rgb(160, 130, 116) 3px solid;
  background-color: transparent;
  animation: menuContentsClose 0.8s;
  animation-fill-mode: forwards;
  animation-direction: alternate;
  transition: all 0.8s linear;
  padding: 1%;
}
.menuContainer .menu .eachMenu .menuContentsClose .title {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 25%;
}
.menuContainer .menu .eachMenu .menuContentsClose .title .titleandBtn {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 30%;
  min-width: 270px;
}
.menuContainer .menu .eachMenu .menuContentsClose .title .titleandBtn button {
  text-align: center;
  color: saddlebrown;
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  background-color: transparent;
  border: none;
  border-radius: 100%;
  padding-inline: 0;
}
.menuContainer .menu .eachMenu .menuContentsClose .title .titleandBtn button:hover {
  transform: scale(1.3);
  transition: 0.3s;
}
.menuContainer .menu .eachMenu .menuContentsClose .title .titleandBtn header {
  width: 70%;
  font-size: 25px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  color: linen;
  background-color: saddlebrown;
  font-weight: bold;
  text-align: center;
  margin-left: 8%;
  border-radius: 5px;
}
.menuContainer .menu .eachMenu .menuContentsClose .title .titleText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50%;
  min-width: 300px;
}
.menuContainer .menu .eachMenu .menuContentsClose .title .titleText p {
  color: saddlebrown;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin-bottom: 3%;
}
.menuContainer .menu .eachMenu .menuContentsClose .coffeeTitle {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 90%;
  height: 55%;
  border-block: 2px rgb(160, 130, 116) solid;
  min-width: 240px;
  padding-block: 3%;
}
.menuContainer .menu .eachMenu .menuContentsClose .coffeeTitle header {
  width: 90%;
  height: 15%;
  font-size: 40px;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: sienna;
  border-radius: 5px;
  text-align: center;
  background-color: wheat;
  margin-top: 5%;
}
.menuContainer .menu .eachMenu .menuContentsClose .coffeeTitle .ingredients {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 35%;
  font-weight: bold;
  font-size: 18px;
}
.menuContainer .menu .eachMenu .menuContentsClose .coffeeTitle .ingredients h3 {
  font-size: 25px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: sienna;
  font-weight: bold;
  margin-bottom: 5%;
}
.menuContainer .menu .eachMenu .menuContentsClose .coffeeTitle .ingredients span {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 60%;
}
.menuContainer .menu .eachMenu .menuContentsClose .coffeeTitle .ingredients span div {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 35%;
  height: 85%;
}
.menuContainer .menu .eachMenu .menuContentsClose .coffeeTitle .ingredients span .milkFoam {
  border-radius: 5px;
  background-color: darkgoldenrod;
}
.menuContainer .menu .eachMenu .menuContentsClose .coffeeTitle .ingredients span .milkFoam p {
  width: 100%;
  font-size: 15px;
  text-align: center;
  color: white;
  margin-bottom: 1%;
}
.menuContainer .menu .eachMenu .menuContentsClose .coffeeTitle .ingredients span .Espresso {
  border-radius: 5px;
  background-color: #ffe0b5;
}
.menuContainer .menu .eachMenu .menuContentsClose .coffeeTitle .ingredients span .Espresso p {
  width: 100%;
  font-size: 15px;
  text-align: center;
  color: saddlebrown;
  margin-bottom: 1%;
}
.menuContainer .menu .eachMenu .menuContentsClose .coffeeTitle .ingredients span .Espresso .beanIcon {
  font-size: 32px;
  color: #732400;
}
.menuContainer .menu .eachMenu .menuContentsClose .coffeeTitle .coffeeText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 45%;
}
.menuContainer .menu .eachMenu .menuContentsClose .coffeeTitle .coffeeText p {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: darkgoldenrod;
  margin-bottom: 5%;
}
.menuContainer .menu .eachMenu .menuContentsClose .getMenuBtn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 15%;
  min-width: 300px;
}
.menuContainer .menu .eachMenu .menuContentsClose .getMenuBtn p {
  font-size: 12px;
  color: brown;
  font-weight: bold;
  margin-bottom: 0;
}
.menuContainer .menu .eachMenu .menuContentsClose .getMenuBtn button {
  height: 50%;
  font-size: 25px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: wheat;
  color: sienna;
  border: #ad9984;
  border-radius: 10px;
}
.menuContainer .menu .eachMenu .menuContentsClose .getMenuBtn button:hover {
  background-color: saddlebrown;
  color: wheat;
  transition: 0.3s;
}
.menuContainer .menu .eachMenu .menuContentsOff {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 0%;
  height: 90%;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
}

@keyframes menuContents {
  from {
    width: 0%;
    height: 90%;
    opacity: 0;
  }
  to {
    width: 20%;
    height: 90%;
    opacity: 1;
  }
}
@keyframes menuContentsClose {
  0% {
    width: 20%;
    height: 90%;
    opacity: 1;
  }
  70% {
    opacity: 0;
  }
  100% {
    width: 0;
    height: 90%;
    opacity: 0;
  }
}/*# sourceMappingURL=Menu.css.map */