.menuContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 92vh;
  animation: opacity 0.5s;
}
.menuContainer .menu {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 1600px;
  height: 80%;
}
.menuContainer .menu .menuTitle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1000px;
  height: 100px;
  font-size: 60px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border-bottom: 2px solid rgb(137, 85, 48);
  letter-spacing: 3px;
  color: rgb(137, 85, 48);
}
.menuContainer .menu .chociesContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 1000px;
  transition: all 0.5s linear;
}
.menuContainer .menu .chociesContainer .choices {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 1300px;
  height: 100%;
  border-radius: 10px;
  transition: 0.3s;
}
.menuContainer .menu .chociesContainer .choices .blackCategory {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 80%;
  height: 90%;
}
.menuContainer .menu .chociesContainer .choices .blackCategory p {
  text-align: center;
  font-size: 22px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  margin-bottom: 0;
}
.menuContainer .menu .chociesContainer .choices .blackCategory .espresso {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 25%;
  height: 90%;
  border-radius: 100%;
  cursor: pointer;
  padding: 1%;
}
.menuContainer .menu .chociesContainer .choices .blackCategory .espresso:hover {
  transform: scale(1.05);
  transition: 0.2s;
}
.menuContainer .menu .chociesContainer .choices .blackCategory .espresso:hover p {
  text-shadow: 3px 3px lightgrey;
  transition: 0.2s;
}
.menuContainer .menu .chociesContainer .choices .blackCategory .espresso:hover .espressoImg {
  box-shadow: 2px 2px 3px 3px lightgrey;
  transition: 0.2s;
}
.menuContainer .menu .chociesContainer .choices .blackCategory .espresso:active p {
  text-shadow: 0px 0px;
  transition: 0s;
}
.menuContainer .menu .chociesContainer .choices .blackCategory .espresso:active .espressoImg {
  box-shadow: 0px 0px lightgrey;
  transition: 0s;
}
.menuContainer .menu .chociesContainer .choices .blackCategory .espresso .espressoImg {
  width: 80%;
  height: 80%;
  border-radius: 2000000px;
  background-image: url("../../../public/img/coffee/espresso.jpg");
  background-position: 50% 80%;
  background-size: cover;
}
.menuContainer .menu .chociesContainer .choices .blackCategory .americano {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 25%;
  height: 90%;
  border-radius: 100%;
  cursor: pointer;
  padding: 1%;
}
.menuContainer .menu .chociesContainer .choices .blackCategory .americano:hover {
  transform: scale(1.05);
  transition: 0.2s;
}
.menuContainer .menu .chociesContainer .choices .blackCategory .americano:hover .americanoImg {
  box-shadow: 2px 2px 3px 3px rgb(177, 177, 177);
  transition: 0.3s;
}
.menuContainer .menu .chociesContainer .choices .blackCategory .americano:hover p {
  text-shadow: 3px 3px rgb(177, 177, 177);
  transition: 0.3s;
}
.menuContainer .menu .chociesContainer .choices .blackCategory .americano:active p {
  text-shadow: 0px 0px;
  transition: 0s;
}
.menuContainer .menu .chociesContainer .choices .blackCategory .americano:active .americanoImg {
  box-shadow: 0px 0px lightgrey;
  transition: 0s;
}
.menuContainer .menu .chociesContainer .choices .blackCategory .americano .americanoImg {
  width: 80%;
  height: 80%;
  border-radius: 2000000px;
  background-image: url("../../../public/img/coffee/americano.jpg");
  background-position: 30%;
  background-size: cover;
}
.menuContainer .menu .chociesContainer .choices .blackCategory .longBlack {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 25%;
  height: 90%;
  border-radius: 100%;
  cursor: pointer;
  padding: 1%;
}
.menuContainer .menu .chociesContainer .choices .blackCategory .longBlack:hover {
  transform: scale(1.05);
  transition: 0.2s;
}
.menuContainer .menu .chociesContainer .choices .blackCategory .longBlack:hover .longBlackImg {
  box-shadow: 2px 2px 3px 3px rgb(177, 177, 177);
  transition: 0.3s;
}
.menuContainer .menu .chociesContainer .choices .blackCategory .longBlack:hover p {
  text-shadow: 3px 3px rgb(177, 177, 177);
  transition: 0.3s;
}
.menuContainer .menu .chociesContainer .choices .blackCategory .longBlack:active p {
  text-shadow: 0px 0px;
  transition: 0s;
}
.menuContainer .menu .chociesContainer .choices .blackCategory .longBlack:active .longBlackImg {
  box-shadow: 0px 0px lightgrey;
  transition: 0s;
}
.menuContainer .menu .chociesContainer .choices .blackCategory .longBlack .longBlackImg {
  width: 80%;
  height: 80%;
  border-radius: 2000000px;
  background-image: url("../../../public/img/coffee/longBlack.jpg");
  background-position: 100% 80%;
  background-size: cover;
}
.menuContainer .menu .chociesContainer .choices .blackCategory .coldBrew {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 25%;
  height: 90%;
  border-radius: 100%;
  cursor: pointer;
  padding: 1%;
}
.menuContainer .menu .chociesContainer .choices .blackCategory .coldBrew:hover {
  transform: scale(1.05);
  transition: 0.2s;
}
.menuContainer .menu .chociesContainer .choices .blackCategory .coldBrew:hover .coldBrewImg {
  box-shadow: 2px 2px 3px 3px rgb(177, 177, 177);
  transition: 0.3s;
}
.menuContainer .menu .chociesContainer .choices .blackCategory .coldBrew:hover p {
  text-shadow: 3px 3px rgb(177, 177, 177);
  transition: 0.3s;
}
.menuContainer .menu .chociesContainer .choices .blackCategory .coldBrew:active p {
  text-shadow: 0px 0px;
  transition: 0s;
}
.menuContainer .menu .chociesContainer .choices .blackCategory .coldBrew:active .coldBrewImg {
  box-shadow: 0px 0px lightgrey;
  transition: 0s;
}
.menuContainer .menu .chociesContainer .choices .blackCategory .coldBrew .coldBrewImg {
  width: 80%;
  height: 80%;
  border-radius: 2000000px;
  background-image: url("../../../public/img/coffee/coldBrew.jpg");
  background-position: 100% 70%;
  background-size: cover;
}
.menuContainer .menu .chociesContainer .choices .whiteCategory {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 90%;
}
.menuContainer .menu .chociesContainer .choices .whiteCategory p {
  text-align: center;
  font-size: 22px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  margin-bottom: 0;
}
.menuContainer .menu .chociesContainer .choices .whiteCategory .latte {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30%;
  height: 90%;
  border-radius: 100%;
  cursor: pointer;
}
.menuContainer .menu .chociesContainer .choices .whiteCategory .latte:hover {
  transform: scale(1.05);
  transition: 0.2s;
}
.menuContainer .menu .chociesContainer .choices .whiteCategory .latte:hover p {
  text-shadow: 3px 3px lightgrey;
  transition: 0.2s;
}
.menuContainer .menu .chociesContainer .choices .whiteCategory .latte:hover .latteImg {
  box-shadow: 2px 2px 3px 3px lightgrey;
  transition: 0.2s;
}
.menuContainer .menu .chociesContainer .choices .whiteCategory .latte:active p {
  text-shadow: 0px 0px;
  transition: 0s;
}
.menuContainer .menu .chociesContainer .choices .whiteCategory .latte:active .latteImg {
  box-shadow: 0px 0px lightgrey;
  transition: 0s;
}
.menuContainer .menu .chociesContainer .choices .whiteCategory .latte .latteImg {
  width: 80%;
  height: 80%;
  border-radius: 2000000px;
  background-image: url("../../../public/img/coffee/latte.jpg");
  background-position: 50% 80%;
  background-size: cover;
}
.menuContainer .menu .chociesContainer .choices .whiteCategory .flatWhite {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30%;
  height: 90%;
  border-radius: 100%;
  cursor: pointer;
}
.menuContainer .menu .chociesContainer .choices .whiteCategory .flatWhite:hover {
  transform: scale(1.05);
  transition: 0.2s;
}
.menuContainer .menu .chociesContainer .choices .whiteCategory .flatWhite:hover .flatWhiteImg {
  box-shadow: 2px 2px 3px 3px rgb(177, 177, 177);
  transition: 0.3s;
}
.menuContainer .menu .chociesContainer .choices .whiteCategory .flatWhite:hover p {
  text-shadow: 3px 3px rgb(177, 177, 177);
  transition: 0.3s;
}
.menuContainer .menu .chociesContainer .choices .whiteCategory .flatWhite:active p {
  text-shadow: 0px 0px;
  transition: 0s;
}
.menuContainer .menu .chociesContainer .choices .whiteCategory .flatWhite:active .flatWhiteImg {
  box-shadow: 0px 0px lightgrey;
  transition: 0s;
}
.menuContainer .menu .chociesContainer .choices .whiteCategory .flatWhite .flatWhiteImg {
  width: 80%;
  height: 80%;
  border-radius: 2000000px;
  background-image: url("../../../public/img/coffee/flatWhite.jpg");
  background-position: 20% 100%;
  background-size: cover;
}
.menuContainer .menu .chociesContainer .choices .whiteCategory .cappuccino {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30%;
  height: 90%;
  border-radius: 100%;
  cursor: pointer;
}
.menuContainer .menu .chociesContainer .choices .whiteCategory .cappuccino:hover {
  transform: scale(1.05);
  transition: 0.2s;
}
.menuContainer .menu .chociesContainer .choices .whiteCategory .cappuccino:hover .cappuccinoImg {
  box-shadow: 2px 2px 3px 3px rgb(177, 177, 177);
  transition: 0.3s;
}
.menuContainer .menu .chociesContainer .choices .whiteCategory .cappuccino:hover p {
  text-shadow: 3px 3px rgb(177, 177, 177);
  transition: 0.3s;
}
.menuContainer .menu .chociesContainer .choices .whiteCategory .cappuccino:active p {
  text-shadow: 0px 0px;
  transition: 0s;
}
.menuContainer .menu .chociesContainer .choices .whiteCategory .cappuccino:active .cappuccinoImg {
  box-shadow: 0px 0px lightgrey;
  transition: 0s;
}
.menuContainer .menu .chociesContainer .choices .whiteCategory .cappuccino .cappuccinoImg {
  width: 80%;
  height: 80%;
  border-radius: 2000000px;
  background-image: url("../../../public/img/coffee/cappuccino.jpg");
  background-position: 100% 70%;
  background-size: cover;
}
.menuContainer .menu .chociesContainer .choices .whiteCategory .mocha {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30%;
  height: 90%;
  border-radius: 100%;
  cursor: pointer;
}
.menuContainer .menu .chociesContainer .choices .whiteCategory .mocha:hover {
  transform: scale(1.05);
  transition: 0.2s;
}
.menuContainer .menu .chociesContainer .choices .whiteCategory .mocha:hover .mochaImg {
  box-shadow: 2px 2px 3px 3px rgb(177, 177, 177);
  transition: 0.3s;
}
.menuContainer .menu .chociesContainer .choices .whiteCategory .mocha:hover p {
  text-shadow: 3px 3px rgb(177, 177, 177);
  transition: 0.3s;
}
.menuContainer .menu .chociesContainer .choices .whiteCategory .mocha:active p {
  text-shadow: 0px 0px;
  transition: 0s;
}
.menuContainer .menu .chociesContainer .choices .whiteCategory .mocha:active .mochaImg {
  box-shadow: 0px 0px lightgrey;
  transition: 0s;
}
.menuContainer .menu .chociesContainer .choices .whiteCategory .mocha .mochaImg {
  width: 80%;
  height: 80%;
  border-radius: 2000000px;
  background-image: url("../../../public/img/coffee/mocha.jpg");
  background-position: 100% 90%;
  background-size: cover;
}
.menuContainer .menu .chociesContainer .choices .whiteCategory .macchiato {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30%;
  height: 90%;
  border-radius: 100%;
  cursor: pointer;
}
.menuContainer .menu .chociesContainer .choices .whiteCategory .macchiato:hover {
  transform: scale(1.05);
  transition: 0.2s;
}
.menuContainer .menu .chociesContainer .choices .whiteCategory .macchiato:hover .macchiatoImg {
  box-shadow: 2px 2px 3px 3px rgb(177, 177, 177);
  transition: 0.3s;
}
.menuContainer .menu .chociesContainer .choices .whiteCategory .macchiato:hover p {
  text-shadow: 3px 3px rgb(177, 177, 177);
  transition: 0.3s;
}
.menuContainer .menu .chociesContainer .choices .whiteCategory .macchiato:active p {
  text-shadow: 0px 0px;
  transition: 0s;
}
.menuContainer .menu .chociesContainer .choices .whiteCategory .macchiato:active .macchiatoImg {
  box-shadow: 0px 0px lightgrey;
  transition: 0s;
}
.menuContainer .menu .chociesContainer .choices .whiteCategory .macchiato .macchiatoImg {
  width: 80%;
  height: 80%;
  border-radius: 2000000px;
  background-image: url("../../../public/img/coffee/macchiato.jpg");
  background-position: 100% 70%;
  background-size: cover;
}
.menuContainer .menu .chociesContainer .choices .othersCategory {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 80%;
  height: 90%;
}
.menuContainer .menu .chociesContainer .choices .othersCategory p {
  text-align: center;
  font-size: 22px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  margin-bottom: 0;
}
.menuContainer .menu .chociesContainer .choices .othersCategory .chai {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 25%;
  height: 90%;
  border-radius: 100%;
  cursor: pointer;
  padding: 1%;
}
.menuContainer .menu .chociesContainer .choices .othersCategory .chai:hover {
  transform: scale(1.05);
  transition: 0.2s;
}
.menuContainer .menu .chociesContainer .choices .othersCategory .chai:hover p {
  text-shadow: 3px 3px lightgrey;
  transition: 0.2s;
}
.menuContainer .menu .chociesContainer .choices .othersCategory .chai:hover .chaiImg {
  box-shadow: 2px 2px 3px 3px lightgrey;
  transition: 0.2s;
}
.menuContainer .menu .chociesContainer .choices .othersCategory .chai:active p {
  text-shadow: 0px 0px;
  transition: 0s;
}
.menuContainer .menu .chociesContainer .choices .othersCategory .chai:active .chaiImg {
  box-shadow: 0px 0px lightgrey;
  transition: 0s;
}
.menuContainer .menu .chociesContainer .choices .othersCategory .chai .chaiImg {
  width: 80%;
  height: 80%;
  border-radius: 2000000px;
  background-image: url("../../../public/img/coffee/chai.jpg");
  background-position: 50% 60%;
  background-size: cover;
}
.menuContainer .menu .chociesContainer .choices .othersCategory .turmeric {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 25%;
  height: 90%;
  border-radius: 100%;
  cursor: pointer;
  padding: 1%;
}
.menuContainer .menu .chociesContainer .choices .othersCategory .turmeric:hover {
  transform: scale(1.05);
  transition: 0.2s;
}
.menuContainer .menu .chociesContainer .choices .othersCategory .turmeric:hover .turmericImg {
  box-shadow: 2px 2px 3px 3px rgb(177, 177, 177);
  transition: 0.3s;
}
.menuContainer .menu .chociesContainer .choices .othersCategory .turmeric:hover p {
  text-shadow: 3px 3px rgb(177, 177, 177);
  transition: 0.3s;
}
.menuContainer .menu .chociesContainer .choices .othersCategory .turmeric:active p {
  text-shadow: 0px 0px;
  transition: 0s;
}
.menuContainer .menu .chociesContainer .choices .othersCategory .turmeric:active .turmericImg {
  box-shadow: 0px 0px lightgrey;
  transition: 0s;
}
.menuContainer .menu .chociesContainer .choices .othersCategory .turmeric .turmericImg {
  width: 80%;
  height: 80%;
  border-radius: 2000000px;
  background-image: url("../../../public/img/coffee/turmeric.jpg");
  background-position: 30%;
  background-size: cover;
}
.menuContainer .menu .chociesContainer .choices .othersCategory .icedCoffee {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 25%;
  height: 90%;
  border-radius: 100%;
  cursor: pointer;
  padding: 1%;
}
.menuContainer .menu .chociesContainer .choices .othersCategory .icedCoffee:hover {
  transform: scale(1.05);
  transition: 0.2s;
}
.menuContainer .menu .chociesContainer .choices .othersCategory .icedCoffee:hover .icedCoffeeImg {
  box-shadow: 2px 2px 3px 3px rgb(177, 177, 177);
  transition: 0.3s;
}
.menuContainer .menu .chociesContainer .choices .othersCategory .icedCoffee:hover p {
  text-shadow: 3px 3px rgb(177, 177, 177);
  transition: 0.3s;
}
.menuContainer .menu .chociesContainer .choices .othersCategory .icedCoffee:active p {
  text-shadow: 0px 0px;
  transition: 0s;
}
.menuContainer .menu .chociesContainer .choices .othersCategory .icedCoffee:active .icedCoffeeImg {
  box-shadow: 0px 0px lightgrey;
  transition: 0s;
}
.menuContainer .menu .chociesContainer .choices .othersCategory .icedCoffee .icedCoffeeImg {
  width: 80%;
  height: 80%;
  border-radius: 2000000px;
  background-image: url("../../../public/img/coffee/icedCoffee.jpg");
  background-position: 100% 30%;
  background-size: cover;
}
.menuContainer .menu .chociesContainer .choices .othersCategory .affogato {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 25%;
  height: 90%;
  border-radius: 100%;
  cursor: pointer;
  padding: 1%;
}
.menuContainer .menu .chociesContainer .choices .othersCategory .affogato:hover {
  transform: scale(1.05);
  transition: 0.2s;
}
.menuContainer .menu .chociesContainer .choices .othersCategory .affogato:hover .affogatoImg {
  box-shadow: 2px 2px 3px 3px rgb(177, 177, 177);
  transition: 0.3s;
}
.menuContainer .menu .chociesContainer .choices .othersCategory .affogato:hover p {
  text-shadow: 3px 3px rgb(177, 177, 177);
  transition: 0.3s;
}
.menuContainer .menu .chociesContainer .choices .othersCategory .affogato:active p {
  text-shadow: 0px 0px;
  transition: 0s;
}
.menuContainer .menu .chociesContainer .choices .othersCategory .affogato:active .affogatoImg {
  box-shadow: 0px 0px lightgrey;
  transition: 0s;
}
.menuContainer .menu .chociesContainer .choices .othersCategory .affogato .affogatoImg {
  width: 80%;
  height: 80%;
  border-radius: 2000000px;
  background-image: url("../../../public/img/coffee/affogato.jpg");
  background-position: 100% 70%;
  background-size: cover;
}
.menuContainer .menu .chociesContainer .menuContents {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 300px;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
  border-radius: 20px;
  border: rgb(160, 130, 116) 3px solid;
  background-color: transparent;
  animation: menuContents 0.8s;
  animation-fill-mode: forwards;
  animation-direction: alternate;
  transition: all 0.8s linear;
  padding: 1%;
}
.menuContainer .menu .chociesContainer .menuContents .title {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 25%;
}
.menuContainer .menu .chociesContainer .menuContents .title .titleandBtn {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 30%;
  min-width: 270px;
}
.menuContainer .menu .chociesContainer .menuContents .title .titleandBtn button {
  text-align: center;
  color: saddlebrown;
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  background-color: transparent;
  border: none;
  border-radius: 100%;
  padding-inline: 0;
}
.menuContainer .menu .chociesContainer .menuContents .title .titleandBtn button:hover {
  transform: scale(1.3);
  transition: 0.3s;
}
.menuContainer .menu .chociesContainer .menuContents .title .titleandBtn header {
  width: 70%;
  font-size: 25px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  color: linen;
  background-color: saddlebrown;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  margin-left: 8%;
  border-radius: 5px;
}
.menuContainer .menu .chociesContainer .menuContents .title .titleText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 60%;
  min-width: 300px;
  padding-inline: 2%;
}
.menuContainer .menu .chociesContainer .menuContents .title .titleText p {
  text-align: center;
  font-size: 15px;
  color: saddlebrown;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  white-space: pre-line;
  margin-bottom: 3%;
}
.menuContainer .menu .chociesContainer .menuContents .coffeeTitle {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 55%;
  border-block: 2px rgb(160, 130, 116) solid;
  min-width: 240px;
  padding-block: 3%;
}
.menuContainer .menu .chociesContainer .menuContents .coffeeTitle header {
  width: 90%;
  height: 15%;
  font-size: 40px;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: sienna;
  border-radius: 5px;
  text-align: center;
  background-color: wheat;
  margin-top: 5%;
}
.menuContainer .menu .chociesContainer .menuContents .coffeeTitle .ingredients {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 20%;
  font-weight: bold;
  font-size: 18px;
}
.menuContainer .menu .chociesContainer .menuContents .coffeeTitle .ingredients h3 {
  font-size: 25px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: sienna;
  font-weight: bold;
  margin-bottom: 0%;
}
.menuContainer .menu .chociesContainer .menuContents .coffeeTitle .ingredients p {
  font-size: 13px;
  color: sandybrown;
  margin-bottom: 0;
}
.menuContainer .menu .chociesContainer .menuContents .coffeeTitle span {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 110%;
  height: 30%;
}
.menuContainer .menu .chociesContainer .menuContents .coffeeTitle span div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30%;
  height: 70%;
}
.menuContainer .menu .chociesContainer .menuContents .coffeeTitle span .espresso {
  border-radius: 5px;
  background-color: #ffe0b5;
}
.menuContainer .menu .chociesContainer .menuContents .coffeeTitle span .espresso p {
  width: 100%;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  color: saddlebrown;
  margin-bottom: 1%;
}
.menuContainer .menu .chociesContainer .menuContents .coffeeTitle span .espresso .beanIcon {
  height: 60%;
  font-size: 35px;
  color: #732400;
}
.menuContainer .menu .chociesContainer .menuContents .coffeeTitle span .water {
  border-radius: 5px;
  background-color: #ffe0b5;
}
.menuContainer .menu .chociesContainer .menuContents .coffeeTitle span .water p {
  width: 100%;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  color: lightslategray;
  margin-bottom: 1%;
}
.menuContainer .menu .chociesContainer .menuContents .coffeeTitle span .water .waterIcon {
  height: 60%;
  font-size: 40px;
  color: slategrey;
}
.menuContainer .menu .chociesContainer .menuContents .coffeeTitle span .milk {
  border-radius: 5px;
  background-color: darkgoldenrod;
}
.menuContainer .menu .chociesContainer .menuContents .coffeeTitle span .milk p {
  width: 100%;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  color: linen;
  margin-bottom: 1%;
}
.menuContainer .menu .chociesContainer .menuContents .coffeeTitle span .milk .milkIcon {
  height: 60%;
  font-size: 50px;
  color: linen;
}
.menuContainer .menu .chociesContainer .menuContents .coffeeTitle span .milkFoam {
  border-radius: 5px;
  background-color: darkgoldenrod;
}
.menuContainer .menu .chociesContainer .menuContents .coffeeTitle span .milkFoam p {
  width: 100%;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  color: white;
  margin-bottom: 1%;
}
.menuContainer .menu .chociesContainer .menuContents .coffeeTitle span .choco {
  border-radius: 5px;
  background-color: burlywood;
}
.menuContainer .menu .chociesContainer .menuContents .coffeeTitle span .choco p {
  width: 100%;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  color: sienna;
  margin-bottom: 1%;
}
.menuContainer .menu .chociesContainer .menuContents .coffeeTitle span .choco .chocoIcon {
  height: 60%;
  font-size: 50px;
  color: sienna;
}
.menuContainer .menu .chociesContainer .menuContents .coffeeTitle span .chai {
  border-radius: 5px;
  background-color: burlywood;
}
.menuContainer .menu .chociesContainer .menuContents .coffeeTitle span .chai p {
  width: 100%;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  color: brown;
  margin-bottom: 1%;
}
.menuContainer .menu .chociesContainer .menuContents .coffeeTitle span .chai .chaiIcon {
  height: 60%;
  font-size: 35px;
  color: brown;
}
.menuContainer .menu .chociesContainer .menuContents .coffeeTitle span .turmericIng {
  border-radius: 5px;
  background-color: antiquewhite;
}
.menuContainer .menu .chociesContainer .menuContents .coffeeTitle span .turmericIng p {
  width: 100%;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  color: goldenrod;
  margin-bottom: 1%;
}
.menuContainer .menu .chociesContainer .menuContents .coffeeTitle span .turmericIng .turmericIcon {
  height: 60%;
  font-size: 45px;
  color: goldenrod;
}
.menuContainer .menu .chociesContainer .menuContents .coffeeTitle span .iceCream {
  border-radius: 5px;
  background-color: rgb(247, 181, 159);
}
.menuContainer .menu .chociesContainer .menuContents .coffeeTitle span .iceCream p {
  width: 100%;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  color: white;
  margin-bottom: 1%;
}
.menuContainer .menu .chociesContainer .menuContents .coffeeTitle span .iceCream .iceCreamIcon {
  height: 60%;
  font-size: 50px;
  color: white;
}
.menuContainer .menu .chociesContainer .menuContents .coffeeTitle .coffeeText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50%;
}
.menuContainer .menu .chociesContainer .menuContents .coffeeTitle .coffeeText p {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: darkgoldenrod;
  margin-bottom: 5%;
}
.menuContainer .menu .chociesContainer .menuContents .getMenuBtn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 15%;
  min-width: 300px;
}
.menuContainer .menu .chociesContainer .menuContents .getMenuBtn p {
  font-size: 12px;
  color: brown;
  font-weight: bold;
  margin-bottom: 0;
}
.menuContainer .menu .chociesContainer .menuContents .getMenuBtn button {
  height: 50%;
  font-size: 25px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: wheat;
  color: sienna;
  border: #ad9984;
  border-radius: 10px;
}
.menuContainer .menu .chociesContainer .menuContents .getMenuBtn button:hover {
  background-color: saddlebrown;
  color: wheat;
  transition: 0.3s;
}
.menuContainer .menu .chociesContainer .menuContentsClose {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 20%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
  border-radius: 20px;
  border: rgb(160, 130, 116) 3px solid;
  background-color: transparent;
  animation: menuContentsClose 0.8s;
  animation-fill-mode: forwards;
  animation-direction: alternate;
  transition: all 0.8s linear;
  padding: 1%;
}
.menuContainer .menu .chociesContainer .menuContentsClose .title {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 25%;
}
.menuContainer .menu .chociesContainer .menuContentsClose .title .titleandBtn {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 30%;
  min-width: 270px;
}
.menuContainer .menu .chociesContainer .menuContentsClose .title .titleandBtn button {
  text-align: center;
  color: saddlebrown;
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  background-color: transparent;
  border: none;
  border-radius: 100%;
  padding-inline: 0;
}
.menuContainer .menu .chociesContainer .menuContentsClose .title .titleandBtn button:hover {
  transform: scale(1.3);
  transition: 0.3s;
}
.menuContainer .menu .chociesContainer .menuContentsClose .title .titleandBtn header {
  width: 70%;
  font-size: 25px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  color: linen;
  background-color: saddlebrown;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  margin-left: 8%;
  border-radius: 5px;
}
.menuContainer .menu .chociesContainer .menuContentsClose .title .titleText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 60%;
  min-width: 300px;
  padding-inline: 2%;
}
.menuContainer .menu .chociesContainer .menuContentsClose .title .titleText p {
  text-align: center;
  font-size: 15px;
  color: saddlebrown;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  white-space: pre-line;
  margin-bottom: 3%;
}
.menuContainer .menu .chociesContainer .menuContentsClose .coffeeTitle {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 55%;
  border-block: 2px rgb(160, 130, 116) solid;
  min-width: 240px;
  padding-block: 3%;
}
.menuContainer .menu .chociesContainer .menuContentsClose .coffeeTitle header {
  width: 90%;
  height: 15%;
  font-size: 40px;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: sienna;
  border-radius: 5px;
  text-align: center;
  background-color: wheat;
  margin-top: 5%;
}
.menuContainer .menu .chociesContainer .menuContentsClose .coffeeTitle .ingredients {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 20%;
  font-weight: bold;
  font-size: 18px;
}
.menuContainer .menu .chociesContainer .menuContentsClose .coffeeTitle .ingredients h3 {
  font-size: 25px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: sienna;
  font-weight: bold;
  margin-bottom: 0%;
}
.menuContainer .menu .chociesContainer .menuContentsClose .coffeeTitle .ingredients p {
  font-size: 13px;
  color: sandybrown;
  margin-bottom: 0;
}
.menuContainer .menu .chociesContainer .menuContentsClose .coffeeTitle span {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 110%;
  height: 30%;
}
.menuContainer .menu .chociesContainer .menuContentsClose .coffeeTitle span div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30%;
  height: 70%;
}
.menuContainer .menu .chociesContainer .menuContentsClose .coffeeTitle span .espresso {
  border-radius: 5px;
  background-color: #ffe0b5;
}
.menuContainer .menu .chociesContainer .menuContentsClose .coffeeTitle span .espresso p {
  width: 100%;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  color: saddlebrown;
  margin-bottom: 1%;
}
.menuContainer .menu .chociesContainer .menuContentsClose .coffeeTitle span .espresso .beanIcon {
  height: 60%;
  font-size: 35px;
  color: #732400;
}
.menuContainer .menu .chociesContainer .menuContentsClose .coffeeTitle span .water {
  border-radius: 5px;
  background-color: #ffe0b5;
}
.menuContainer .menu .chociesContainer .menuContentsClose .coffeeTitle span .water p {
  width: 100%;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  color: lightslategray;
  margin-bottom: 1%;
}
.menuContainer .menu .chociesContainer .menuContentsClose .coffeeTitle span .water .waterIcon {
  height: 60%;
  font-size: 40px;
  color: slategrey;
}
.menuContainer .menu .chociesContainer .menuContentsClose .coffeeTitle span .milk {
  border-radius: 5px;
  background-color: darkgoldenrod;
}
.menuContainer .menu .chociesContainer .menuContentsClose .coffeeTitle span .milk p {
  width: 100%;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  color: linen;
  margin-bottom: 1%;
}
.menuContainer .menu .chociesContainer .menuContentsClose .coffeeTitle span .milk .milkIcon {
  height: 60%;
  font-size: 50px;
  color: linen;
}
.menuContainer .menu .chociesContainer .menuContentsClose .coffeeTitle span .milkFoam {
  border-radius: 5px;
  background-color: darkgoldenrod;
}
.menuContainer .menu .chociesContainer .menuContentsClose .coffeeTitle span .milkFoam p {
  width: 100%;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  color: white;
  margin-bottom: 1%;
}
.menuContainer .menu .chociesContainer .menuContentsClose .coffeeTitle span .choco {
  border-radius: 5px;
  background-color: burlywood;
}
.menuContainer .menu .chociesContainer .menuContentsClose .coffeeTitle span .choco p {
  width: 100%;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  color: sienna;
  margin-bottom: 1%;
}
.menuContainer .menu .chociesContainer .menuContentsClose .coffeeTitle span .choco .chocoIcon {
  height: 60%;
  font-size: 50px;
  color: sienna;
}
.menuContainer .menu .chociesContainer .menuContentsClose .coffeeTitle span .chai {
  border-radius: 5px;
  background-color: burlywood;
}
.menuContainer .menu .chociesContainer .menuContentsClose .coffeeTitle span .chai p {
  width: 100%;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  color: brown;
  margin-bottom: 1%;
}
.menuContainer .menu .chociesContainer .menuContentsClose .coffeeTitle span .chai .chaiIcon {
  height: 60%;
  font-size: 35px;
  color: brown;
}
.menuContainer .menu .chociesContainer .menuContentsClose .coffeeTitle span .turmericIng {
  border-radius: 5px;
  background-color: antiquewhite;
}
.menuContainer .menu .chociesContainer .menuContentsClose .coffeeTitle span .turmericIng p {
  width: 100%;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  color: goldenrod;
  margin-bottom: 1%;
}
.menuContainer .menu .chociesContainer .menuContentsClose .coffeeTitle span .turmericIng .turmericIcon {
  height: 60%;
  font-size: 45px;
  color: goldenrod;
}
.menuContainer .menu .chociesContainer .menuContentsClose .coffeeTitle span .iceCream {
  border-radius: 5px;
  background-color: rgb(247, 181, 159);
}
.menuContainer .menu .chociesContainer .menuContentsClose .coffeeTitle span .iceCream p {
  width: 100%;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  color: white;
  margin-bottom: 1%;
}
.menuContainer .menu .chociesContainer .menuContentsClose .coffeeTitle span .iceCream .iceCreamIcon {
  height: 60%;
  font-size: 50px;
  color: white;
}
.menuContainer .menu .chociesContainer .menuContentsClose .coffeeTitle .coffeeText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50%;
}
.menuContainer .menu .chociesContainer .menuContentsClose .coffeeTitle .coffeeText p {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: darkgoldenrod;
  margin-bottom: 5%;
}
.menuContainer .menu .chociesContainer .menuContentsClose .getMenuBtn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 15%;
  min-width: 300px;
}
.menuContainer .menu .chociesContainer .menuContentsClose .getMenuBtn p {
  font-size: 12px;
  color: brown;
  font-weight: bold;
  margin-bottom: 0;
}
.menuContainer .menu .chociesContainer .menuContentsClose .getMenuBtn button {
  height: 50%;
  font-size: 25px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: wheat;
  color: sienna;
  border: #ad9984;
  border-radius: 10px;
}
.menuContainer .menu .chociesContainer .menuContentsClose .getMenuBtn button:hover {
  background-color: saddlebrown;
  color: wheat;
  transition: 0.3s;
}
.menuContainer .menu .chociesContainer .menuContentsOff {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 0%;
  height: 90%;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
}

@keyframes menuContents {
  from {
    width: 0;
    height: 90%;
    opacity: 0;
  }
  to {
    width: 300px;
    height: 90%;
    opacity: 1;
  }
}
@keyframes menuContentsClose {
  0% {
    width: 300px;
    height: 90%;
    opacity: 1;
  }
  70% {
    opacity: 0;
  }
  100% {
    width: 0;
    height: 90%;
    opacity: 0;
  }
}
@media all and (max-width: 1680px) {
  .menuContainer {
    width: 80%;
  }
  .menuContainer .menu {
    width: 1200px;
  }
  .menuContainer .menu .menuTitle {
    width: 800px;
    height: 100px;
    font-size: 50px;
  }
  .menuContainer .menu .chociesContainer {
    width: 1200px;
  }
  .menuContainer .menu .chociesContainer .choices {
    justify-content: space-around;
    width: 900px;
  }
  .menuContainer .menu .chociesContainer .choices .blackCategory {
    width: 80%;
    height: 30%;
  }
  .menuContainer .menu .chociesContainer .choices .blackCategory .espresso .espressoImg {
    width: 100%;
  }
  .menuContainer .menu .chociesContainer .choices .blackCategory .longBlack .longBlackImg {
    width: 100%;
  }
  .menuContainer .menu .chociesContainer .choices .whiteCategory {
    width: 100%;
    height: 33%;
  }
  .menuContainer .menu .chociesContainer .choices .othersCategory {
    width: 80%;
    height: 30%;
  }
  .menuContainer .menu .chociesContainer .menuContents {
    width: 300px;
  }
}
@media all and (max-width: 1279px) {
  .menuContainer {
    width: 80%;
  }
  .menuContainer .menu {
    width: 1200px;
  }
  .menuContainer .menu .menuTitle {
    width: 700px;
    height: 100px;
    font-size: 50px;
  }
  .menuContainer .menu .chociesContainer {
    width: 1000px;
  }
  .menuContainer .menu .chociesContainer .choices {
    width: 800px;
  }
  .menuContainer .menu .chociesContainer .menuContents {
    width: 200px;
  }
}/*# sourceMappingURL=Menu.css.map */