.menuContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    width: 100%;
    height: 92vh;

    animation: opacity 0.5s;

    .menu {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        width: 1600px;
        height: 80%;

        .menuTitle {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 1000px;
            height: 100px;

            font-size: 60px;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            border-bottom: 2px solid rgb(137, 85, 48);
            letter-spacing: 3px;
            color: rgb(137, 85, 48);
        }
        
        .chociesContainer {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;

            width: 100%;
            height: 1000px;

            transition: all 0.5s linear;

            .choices {
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                align-items: center;
    
                width: 1300px;
                height: 100%;
    
                border-radius: 10px;

                transition: 0.3s;
    
                .blackCategory {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-evenly;
                    align-items: center;
        
                    width: 80%;
                    height: 90%;
        
        
                    p {
                        text-align: center;
                        font-size: 22px;
                        font-family: Arial, Helvetica, sans-serif;
                        font-weight: bold;
                        
                        margin-bottom: 0;
                    }
        
                    .espresso {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        width: 25%;
                        height: 90%;
                        border-radius: 100%;
                        cursor: pointer;
        
                        padding: 1%;
        
                        &:hover {
        
                            transform: scale(1.05);
                            transition: 0.2s;
    
                             p{
                                text-shadow: 3px 3px lightgrey;
                                transition: 0.2s;
                             }
        
                             .espressoImg {
                                box-shadow: 2px 2px 3px 3px lightgrey;
                                transition: 0.2s;
                             }
                        }
        
                        &:active {
        
                            p{
                                text-shadow: 0px 0px;
                                transition: 0s;
                             }
        
                             .espressoImg {
                                box-shadow: 0px 0px lightgrey;
                                transition: 0s;
                             }
        
                        }
        
                        .espressoImg {
                            width: 80%;
                            height: 80%;
        
                            border-radius: 2000000px;
        
                            background-image: url('../../../public/img/coffee/espresso.jpg');
                            background-position: 50% 80%;
                            background-size: cover;                    
                        }
                    }
        
                    .americano {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        width: 25%;
                        height: 90%;
                        border-radius: 100%;
                        cursor: pointer;
        
                        padding: 1%;
        
                        &:hover {
                            
                            transform: scale(1.05);
                            transition: 0.2s;
    
                            .americanoImg {
                                box-shadow: 2px 2px 3px 3px rgb(177, 177, 177);
                                transition: 0.3s;
                            }
                            
                            p {
                               text-shadow: 3px 3px rgb(177, 177, 177);
                               transition: 0.3s;
                            }
                        }
                        &:active {
        
                            p{
                                text-shadow: 0px 0px;
                                transition: 0s;
                             }
        
                             .americanoImg {
                                box-shadow: 0px 0px lightgrey;
                                transition: 0s;
                             }
        
                        }
        
                        .americanoImg {
                            width: 80%;
                            height: 80%;
        
                            border-radius: 2000000px;
        
                            background-image: url('../../../public/img/coffee/americano.jpg');
                            background-position: 30%;
                            background-size: cover;                   
                        }
                    }
                    .longBlack {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        width: 25%;
                        height: 90%;
                        border-radius: 100%;
                        cursor: pointer;
        
                        padding: 1%;
        
                        &:hover {
                            
                            transform: scale(1.05);
                            transition: 0.2s;
    
                            .longBlackImg {
                                box-shadow: 2px 2px 3px 3px rgb(177, 177, 177);
                                transition: 0.3s;
                            }
                            
                            p {
                               text-shadow: 3px 3px rgb(177, 177, 177);
                               transition: 0.3s;
                            }
                        }
                        &:active {
        
                            p{
                                text-shadow: 0px 0px;
                                transition: 0s;
                             }
        
                             .longBlackImg {
                                box-shadow: 0px 0px lightgrey;
                                transition: 0s;
                             }
        
                        }
        
                        .longBlackImg {
                            width: 80%;
                            height: 80%;
        
                            border-radius: 2000000px;
        
                            background-image: url('../../../public/img/coffee/longBlack.jpg');
                            background-position: 100% 80%;
                            background-size: cover;                 
                        }
                    }
                    .coldBrew {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        width: 25%;
                        height: 90%;
                        border-radius: 100%;
                        cursor: pointer;
        
                        padding: 1%;
        
                        &:hover {
                            
                            transform: scale(1.05);
                            transition: 0.2s;
    
                            .coldBrewImg {
                                box-shadow: 2px 2px 3px 3px rgb(177, 177, 177);
                                transition: 0.3s;
                            }
                            
                            p {
                               text-shadow: 3px 3px rgb(177, 177, 177);
                               transition: 0.3s;
                            }
                        }
                        &:active {
        
                            p{
                                text-shadow: 0px 0px;
                                transition: 0s;
                             }
        
                             .coldBrewImg {
                                box-shadow: 0px 0px lightgrey;
                                transition: 0s;
                             }
        
                        }
        
                        .coldBrewImg {
                            width: 80%;
                            height: 80%;
        
                            border-radius: 2000000px;
        
                            background-image: url('../../../public/img/coffee/coldBrew.jpg');
                            background-position: 100% 70%;
                            background-size: cover;                 
                        }
                    }
                }
                .whiteCategory {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-evenly;
                    align-items: center;
        
                    width: 100%;
                    height: 90%;
        
                    p {
                        text-align: center;
                        font-size: 22px;
                        font-family: Arial, Helvetica, sans-serif;
                        font-weight: bold;
                        
                        margin-bottom: 0;
                    }
        
                    .latte {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        width: 30%;
                        height: 90%;
                        border-radius: 100%;
                        cursor: pointer;
        
                        &:hover {
                            
                            transform: scale(1.05);
                            transition: 0.2s;
    
                             p{
                                text-shadow: 3px 3px lightgrey;
                                transition: 0.2s;
                             }
        
                             .latteImg {
                                box-shadow: 2px 2px 3px 3px lightgrey;
                                transition: 0.2s;
                             }
                        }
        
                        &:active {
        
                            p{
                                text-shadow: 0px 0px;
                                transition: 0s;
                             }
        
                             .latteImg {
                                box-shadow: 0px 0px lightgrey;
                                transition: 0s;
                             }
        
                        }
        
                        .latteImg {
                            width: 80%;
                            height: 80%;
        
                            border-radius: 2000000px;
        
                            background-image: url('../../../public/img/coffee/latte.jpg');
                            background-position: 50% 80%;
                            background-size: cover;                    
                        }
                    }
        
                    .flatWhite {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        width: 30%;
                        height: 90%;
                        border-radius: 100%;
                        cursor: pointer;
        
                        &:hover {
                            
                            transform: scale(1.05);
                            transition: 0.2s;
    
                            .flatWhiteImg {
                                box-shadow: 2px 2px 3px 3px rgb(177, 177, 177);
                                transition: 0.3s;
                            }
                            
                            p {
                               text-shadow: 3px 3px rgb(177, 177, 177);
                               transition: 0.3s;
                            }
                        }
                        &:active {
        
                            p{
                                text-shadow: 0px 0px;
                                transition: 0s;
                             }
        
                             .flatWhiteImg {
                                box-shadow: 0px 0px lightgrey;
                                transition: 0s;
                             }
        
                        }
        
                        .flatWhiteImg {
                            width: 80%;
                            height: 80%;
        
                            border-radius: 2000000px;
        
                            background-image: url('../../../public/img/coffee/flatWhite.jpg');
                            background-position: 20% 100%;
                            background-size: cover;                   
                        }
                    }
                    .cappuccino {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        width: 30%;
                        height: 90%;
                        border-radius: 100%;
                        cursor: pointer;
        
                        &:hover {
                            
                            transform: scale(1.05);
                            transition: 0.2s;
    
                            .cappuccinoImg {
                                box-shadow: 2px 2px 3px 3px rgb(177, 177, 177);
                                transition: 0.3s;
                            }
                            
                            p {
                               text-shadow: 3px 3px rgb(177, 177, 177);
                               transition: 0.3s;
                            }
                        }
                        &:active {
        
                            p{
                                text-shadow: 0px 0px;
                                transition: 0s;
                             }
        
                             .cappuccinoImg {
                                box-shadow: 0px 0px lightgrey;
                                transition: 0s;
                             }
        
                        }
        
                        .cappuccinoImg {
                            width: 80%;
                            height: 80%;
        
                            border-radius: 2000000px;
        
                            background-image: url('../../../public/img/coffee/cappuccino.jpg');
                            background-position: 100% 70%;
                            background-size: cover;                 
                        }
                    }
                    .mocha {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        width: 30%;
                        height: 90%;
                        border-radius: 100%;
                        cursor: pointer;
        
                        &:hover {
    
                            transform: scale(1.05);
                            transition: 0.2s;
                            
                            .mochaImg {
                                box-shadow: 2px 2px 3px 3px rgb(177, 177, 177);
                                transition: 0.3s;
                            }
                            
                            p {
                               text-shadow: 3px 3px rgb(177, 177, 177);
                               transition: 0.3s;
                            }
                        }
                        &:active {
        
                            p{
                                text-shadow: 0px 0px;
                                transition: 0s;
                             }
        
                             .mochaImg {
                                box-shadow: 0px 0px lightgrey;
                                transition: 0s;
                             }
        
                        }
        
                        .mochaImg {
                            width: 80%;
                            height: 80%;
        
                            border-radius: 2000000px;
        
                            background-image: url('../../../public/img/coffee/mocha.jpg');
                            background-position: 100% 90%;
                            background-size: cover;                 
                        }
                    }
                    .macchiato {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        width: 30%;
                        height: 90%;
                        border-radius: 100%;
                        cursor: pointer;
        
                        &:hover {
    
                            transform: scale(1.05);
                            transition: 0.2s;
                            
                            .macchiatoImg {
                                box-shadow: 2px 2px 3px 3px rgb(177, 177, 177);
                                transition: 0.3s;
                            }
                            
                            p {
                               text-shadow: 3px 3px rgb(177, 177, 177);
                               transition: 0.3s;
                            }
                        }
                        &:active {
        
                            p{
                                text-shadow: 0px 0px;
                                transition: 0s;
                             }
        
                             .macchiatoImg {
                                box-shadow: 0px 0px lightgrey;
                                transition: 0s;
                             }
        
                        }
        
                        .macchiatoImg {
                            width: 80%;
                            height: 80%;
        
                            border-radius: 2000000px;
        
                            background-image: url('../../../public/img/coffee/macchiato.jpg');
                            background-position: 100% 70%;
                            background-size: cover;                 
                        }
                    }
                }
                .othersCategory {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-evenly;
                    align-items: center;
        
                    width: 80%;
                    height: 90%;
        
                    p {
                        text-align: center;
                        font-size: 22px;
                        font-family: Arial, Helvetica, sans-serif;
                        font-weight: bold;
                        
                        margin-bottom: 0;
                    }
        
                    .chai {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        width: 25%;
                        height: 90%;
                        border-radius: 100%;
                        cursor: pointer;
        
                        padding: 1%;
        
                        &:hover {
    
                            transform: scale(1.05);
                            transition: 0.2s;
        
                             p{
                                text-shadow: 3px 3px lightgrey;
                                transition: 0.2s;
                             }
        
                             .chaiImg {
                                box-shadow: 2px 2px 3px 3px lightgrey;
                                transition: 0.2s;
                             }
                        }
        
                        &:active {
        
                            p{
                                text-shadow: 0px 0px;
                                transition: 0s;
                             }
        
                             .chaiImg {
                                box-shadow: 0px 0px lightgrey;
                                transition: 0s;
                             }
        
                        }
        
                        .chaiImg {
                            width: 80%;
                            height: 80%;
        
                            border-radius: 2000000px;
        
                            background-image: url('../../../public/img/coffee/chai.jpg');
                            background-position: 50% 60%;
                            background-size: cover;                    
                        }
                    }
        
                    .turmeric {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        width: 25%;
                        height: 90%;
                        border-radius: 100%;
                        cursor: pointer;
        
                        padding: 1%;
        
                        &:hover {
    
                            transform: scale(1.05);
                            transition: 0.2s;
                            
                            .turmericImg {
                                box-shadow: 2px 2px 3px 3px rgb(177, 177, 177);
                                transition: 0.3s;
                            }
                            
                            p {
                               text-shadow: 3px 3px rgb(177, 177, 177);
                               transition: 0.3s;
                            }
                        }
                        &:active {
        
                            p{
                                text-shadow: 0px 0px;
                                transition: 0s;
                             }
        
                             .turmericImg {
                                box-shadow: 0px 0px lightgrey;
                                transition: 0s;
                             }
        
                        }
        
                        .turmericImg {
                            width: 80%;
                            height: 80%;
        
                            border-radius: 2000000px;
        
                            background-image: url('../../../public/img/coffee/turmeric.jpg');
                            background-position: 30%;
                            background-size: cover;                   
                        }
                    }
                    .icedCoffee {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        width: 25%;
                        height: 90%;
                        border-radius: 100%;
                        cursor: pointer;
        
                        padding: 1%;
        
                        &:hover {
    
                            transform: scale(1.05);
                            transition: 0.2s;
                            
                            .icedCoffeeImg {
                                box-shadow: 2px 2px 3px 3px rgb(177, 177, 177);
                                transition: 0.3s;
                            }
                            
                            p {
                               text-shadow: 3px 3px rgb(177, 177, 177);
                               transition: 0.3s;
                            }
                        }
                        &:active {
        
                            p{
                                text-shadow: 0px 0px;
                                transition: 0s;
                             }
        
                             .icedCoffeeImg {
                                box-shadow: 0px 0px lightgrey;
                                transition: 0s;
                             }
        
                        }
        
                        .icedCoffeeImg {
                            width: 80%;
                            height: 80%;
        
                            border-radius: 2000000px;
        
                            background-image: url('../../../public/img/coffee/icedCoffee.jpg');
                            background-position: 100% 30%;
                            background-size: cover;                 
                        }
                    }
                    .affogato {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        width: 25%;
                        height: 90%;
                        border-radius: 100%;
                        cursor: pointer;
        
                        padding: 1%;
        
                        &:hover {
    
                            transform: scale(1.05);
                            transition: 0.2s;
                            
                            .affogatoImg {
                                box-shadow: 2px 2px 3px 3px rgb(177, 177, 177);
                                transition: 0.3s;
                            }
                            
                            p {
                               text-shadow: 3px 3px rgb(177, 177, 177);
                               transition: 0.3s;
                            }
                        }
                        &:active {
        
                            p{
                                text-shadow: 0px 0px;
                                transition: 0s;
                             }
        
                             .affogatoImg {
                                box-shadow: 0px 0px lightgrey;
                                transition: 0s;
                             }
        
                        }
        
                        .affogatoImg {
                            width: 80%;
                            height: 80%;
        
                            border-radius: 2000000px;
        
                            background-image: url('../../../public/img/coffee/affogato.jpg');
                            background-position: 100% 70%;
                            background-size: cover;                 
                        }
                    }
                }
            }
            
            //CSS for side pop-up
            .menuContents {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                width: 300px;
                height: 100%;
                object-fit: cover;
                overflow: hidden;
    
                border-radius: 20px;
                border: rgb(160, 130, 116) 3px solid;
                background-color: transparent;

                animation: menuContents 0.8s;
                animation-fill-mode: forwards;
                animation-direction: alternate;

                transition: all 0.8s linear;

                padding: 1%;

                .title {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    align-items: center;
                    width: 100%;
                    height: 25%;

                    .titleandBtn {
                        display: flex;
                        flex-direction: row;
                        justify-content: flex-start;
                        align-items: center;

                        width: 100%;
                        height: 30%;
                        min-width: 270px;
                        
                        button {
                            text-align: center;
                            color: saddlebrown;
                            font-size: 25px;
                            font-family: Arial, Helvetica, sans-serif;
                            font-weight: bold;
                            background-color: transparent;
                            border: none;
                            border-radius: 100%;
                            padding-inline: 0;

                            &:hover {
                                transform: scale(1.3);
                                transition: 0.3s;
                            }
                        }

                        header {
                            width: 70%;
                            font-size: 25px;
                            font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
                            color: linen;
                            background-color: saddlebrown;
                            font-weight: bold;
                            text-align: center;
                            text-transform: uppercase;

                            margin-left: 8%;
                            border-radius: 5px;
                        }
                    }

                    .titleText {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;

                        width: 100%;
                        height: 60%;
                        min-width: 300px;

                        padding-inline: 2%;

                        p {
                            text-align: center;
                            font-size: 15px;
                            color: saddlebrown;
                            font-family:Verdana, Geneva, Tahoma, sans-serif;
                            text-align: center;
                            white-space: pre-line;

                            margin-bottom: 3%;
                        }
                    }

                }
                .coffeeTitle {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-evenly;
                    align-items: center;

                    width: 100%;
                    height: 55%;

                    border-block: 2px rgb(160, 130, 116) solid;

                    min-width: 240px;

                    padding-block: 3%;

                    header {
                        width: 90%;
                        height: 15%;
                        font-size: 40px;
                        font-family: Georgia, 'Times New Roman', Times, serif;
                        color: sienna;
                        border-radius: 5px;
                        text-align: center;
                        background-color: wheat;

                        margin-top: 5%;
                    }

                    .ingredients {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;

                        width: 100%;
                        height: 20%;

                        font-weight: bold;
                        font-size: 18px;

                        h3 {
                            font-size: 25px;
                            font-family: Verdana, Geneva, Tahoma, sans-serif;
                            color: sienna;
                            font-weight: bold;

                            margin-bottom: 0%;
                        }
                        
                        p {
                            font-size: 13px;
                            color: sandybrown;

                            margin-bottom: 0;
                        }
                    }
                    span {
                        display: flex;
                        flex-direction: row;
                        justify-content: space-evenly;
                        align-items: center;

                        width: 110%;
                        height: 30%;
                        
                        div {
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;

                            width: 30%;
                            height: 70%;
                        }

                        .espresso {
                            
                            border-radius: 5px;
                            background-color:#ffe0b5;

                            p {
                                width: 100%;
                                font-size: 16px;
                                font-weight: bold;
                                text-align: center;
                                color: saddlebrown;
                                margin-bottom: 1%;
                            }
                            .beanIcon {
                                height: 60%;
                                font-size: 35px;
                                color: #732400;
                            }
                        }
                        .water {
                            border-radius: 5px;
                            background-color:#ffe0b5;

                            p {
                                width: 100%;
                                font-size: 16px;
                                font-weight: bold;
                                text-align: center;
                                color: lightslategray;
                                margin-bottom: 1%;
                            }
                            .waterIcon {
                                height: 60%;
                                font-size: 40px;
                                color: slategrey;
                            }
                        }
                        .milk {
                            border-radius: 5px;
                            background-color: darkgoldenrod;

                            p {
                                width: 100%;
                                font-size: 16px;
                                font-weight: bold;
                                text-align: center;
                                color: linen;
                                margin-bottom: 1%;
                            }
                            .milkIcon {
                                height: 60%;
                                font-size: 50px;
                                color: linen;
                            }
                        }
                        .milkFoam {

                            border-radius: 5px;
                            background-color: darkgoldenrod;

                            p {
                                width: 100%;
                                font-size: 16px;
                                font-weight: bold;
                                text-align: center;
                                color:white;
                                margin-bottom: 1%;
                            }

                        }
                        .choco {
                            border-radius: 5px;
                            background-color: burlywood;

                            p {
                                width: 100%;
                                font-size: 16px;
                                font-weight: bold;
                                text-align: center;
                                color: sienna;
                                margin-bottom: 1%;
                            }
                            .chocoIcon {
                                height: 60%;
                                font-size: 50px;
                                color: sienna;
                            }
                        }
                        .chai {
                            border-radius: 5px;
                            background-color: burlywood;

                            p {
                                width: 100%;
                                font-size: 16px;
                                font-weight: bold;
                                text-align: center;
                                color: brown;
                                margin-bottom: 1%;
                            }
                            .chaiIcon {
                                height: 60%;
                                font-size: 35px;
                                color: brown;
                            }
                        }
                        .turmericIng {
                            border-radius: 5px;
                            background-color: antiquewhite;

                            p {
                                width: 100%;
                                font-size: 16px;
                                font-weight: bold;
                                text-align: center;
                                color: goldenrod;
                                margin-bottom: 1%;
                            }
                            .turmericIcon {
                                height: 60%;
                                font-size: 45px;
                                color: goldenrod;
                            }
                        }
                        .iceCream {
                            border-radius: 5px;
                            background-color: rgb(247, 181, 159);

                            p {
                                width: 100%;
                                font-size: 16px;
                                font-weight: bold;
                                text-align: center;
                                color: white;
                                margin-bottom: 1%;
                            }
                            .iceCreamIcon {
                                height: 60%;
                                font-size: 50px;
                                color: white;
                            }
                        }
                    }
                    
                    .coffeeText {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
    
                        width: 100%;
                        height: 50%;

                        p {
                            text-align: center;
                            font-family: Arial, Helvetica, sans-serif;
                            font-weight: bold;
                            color: darkgoldenrod;
    
                            margin-bottom: 5%;
                        }
                    }
                }
                .getMenuBtn {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;

                    width: 100%;
                    height: 15%;

                    min-width: 300px;

                    p {
                        font-size: 12px;
                        color: brown;
                        font-weight: bold;

                        margin-bottom: 0;
                    }

                    button {
                        height: 50%;
                        font-size: 25px;
                        font-family: Verdana, Geneva, Tahoma, sans-serif;
                        background-color: wheat;
                        color: sienna;

                        border: #ad9984;
                        border-radius: 10px;

                        &:hover {
                            background-color: saddlebrown;
                            color: wheat;
                            transition: 0.3s;
                        }
                    }
                }
            }
            .menuContentsClose {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                width: 20%;
                height: 100%;
                object-fit: cover;
                overflow: hidden;
    
                border-radius: 20px;
                border: rgb(160, 130, 116) 3px solid;
                background-color: transparent;

                animation: menuContentsClose 0.8s;
                animation-fill-mode: forwards;
                animation-direction: alternate;

                transition: all 0.8s linear;

                padding: 1%;

                .title {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    align-items: center;
                    width: 100%;
                    height: 25%;

                    .titleandBtn {
                        display: flex;
                        flex-direction: row;
                        justify-content: flex-start;
                        align-items: center;

                        width: 100%;
                        height: 30%;
                        min-width: 270px;
                        
                        button {
                            text-align: center;
                            color: saddlebrown;
                            font-size: 25px;
                            font-family: Arial, Helvetica, sans-serif;
                            font-weight: bold;
                            background-color: transparent;
                            border: none;
                            border-radius: 100%;
                            padding-inline: 0;

                            &:hover {
                                transform: scale(1.3);
                                transition: 0.3s;
                            }
                        }

                        header {
                            width: 70%;
                            font-size: 25px;
                            font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
                            color: linen;
                            background-color: saddlebrown;
                            font-weight: bold;
                            text-align: center;
                            text-transform: uppercase;

                            margin-left: 8%;
                            border-radius: 5px;
                        }
                    }

                    .titleText {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;

                        width: 100%;
                        height: 60%;
                        min-width: 300px;

                        padding-inline: 2%;

                        p {
                            text-align: center;
                            font-size: 15px;
                            color: saddlebrown;
                            font-family:Verdana, Geneva, Tahoma, sans-serif;
                            text-align: center;
                            white-space: pre-line;

                            margin-bottom: 3%;
                        }
                    }

                }
                .coffeeTitle {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-evenly;
                    align-items: center;

                    width: 100%;
                    height: 55%;

                    border-block: 2px rgb(160, 130, 116) solid;

                    min-width: 240px;

                    padding-block: 3%;

                    header {
                        width: 90%;
                        height: 15%;
                        font-size: 40px;
                        font-family: Georgia, 'Times New Roman', Times, serif;
                        color: sienna;
                        border-radius: 5px;
                        text-align: center;
                        background-color: wheat;

                        margin-top: 5%;
                    }

                    .ingredients {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;

                        width: 100%;
                        height: 20%;

                        font-weight: bold;
                        font-size: 18px;

                        h3 {
                            font-size: 25px;
                            font-family: Verdana, Geneva, Tahoma, sans-serif;
                            color: sienna;
                            font-weight: bold;

                            margin-bottom: 0%;
                        }
                        
                        p {
                            font-size: 13px;
                            color: sandybrown;

                            margin-bottom: 0;
                        }
                    }
                    span {
                        display: flex;
                        flex-direction: row;
                        justify-content: space-evenly;
                        align-items: center;

                        width: 110%;
                        height: 30%;
                        
                        div {
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;

                            width: 30%;
                            height: 70%;
                        }

                        .espresso {
                            
                            border-radius: 5px;
                            background-color:#ffe0b5;

                            p {
                                width: 100%;
                                font-size: 16px;
                                font-weight: bold;
                                text-align: center;
                                color: saddlebrown;
                                margin-bottom: 1%;
                            }
                            .beanIcon {
                                height: 60%;
                                font-size: 35px;
                                color: #732400;
                            }
                        }
                        .water {
                            border-radius: 5px;
                            background-color:#ffe0b5;

                            p {
                                width: 100%;
                                font-size: 16px;
                                font-weight: bold;
                                text-align: center;
                                color: lightslategray;
                                margin-bottom: 1%;
                            }
                            .waterIcon {
                                height: 60%;
                                font-size: 40px;
                                color: slategrey;
                            }
                        }
                        .milk {
                            border-radius: 5px;
                            background-color: darkgoldenrod;

                            p {
                                width: 100%;
                                font-size: 16px;
                                font-weight: bold;
                                text-align: center;
                                color: linen;
                                margin-bottom: 1%;
                            }
                            .milkIcon {
                                height: 60%;
                                font-size: 50px;
                                color: linen;
                            }
                        }
                        .milkFoam {

                            border-radius: 5px;
                            background-color: darkgoldenrod;

                            p {
                                width: 100%;
                                font-size: 16px;
                                font-weight: bold;
                                text-align: center;
                                color:white;
                                margin-bottom: 1%;
                            }

                        }
                        .choco {
                            border-radius: 5px;
                            background-color: burlywood;

                            p {
                                width: 100%;
                                font-size: 16px;
                                font-weight: bold;
                                text-align: center;
                                color: sienna;
                                margin-bottom: 1%;
                            }
                            .chocoIcon {
                                height: 60%;
                                font-size: 50px;
                                color: sienna;
                            }
                        }
                        .chai {
                            border-radius: 5px;
                            background-color: burlywood;

                            p {
                                width: 100%;
                                font-size: 16px;
                                font-weight: bold;
                                text-align: center;
                                color: brown;
                                margin-bottom: 1%;
                            }
                            .chaiIcon {
                                height: 60%;
                                font-size: 35px;
                                color: brown;
                            }
                        }
                        .turmericIng {
                            border-radius: 5px;
                            background-color: antiquewhite;

                            p {
                                width: 100%;
                                font-size: 16px;
                                font-weight: bold;
                                text-align: center;
                                color: goldenrod;
                                margin-bottom: 1%;
                            }
                            .turmericIcon {
                                height: 60%;
                                font-size: 45px;
                                color: goldenrod;
                            }
                        }
                        .iceCream {
                            border-radius: 5px;
                            background-color: rgb(247, 181, 159);

                            p {
                                width: 100%;
                                font-size: 16px;
                                font-weight: bold;
                                text-align: center;
                                color: white;
                                margin-bottom: 1%;
                            }
                            .iceCreamIcon {
                                height: 60%;
                                font-size: 50px;
                                color: white;
                            }
                        }
                    }
                    
                    .coffeeText {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
    
                        width: 100%;
                        height: 50%;

                        p {
                            text-align: center;
                            font-family: Arial, Helvetica, sans-serif;
                            font-weight: bold;
                            color: darkgoldenrod;
    
                            margin-bottom: 5%;
                        }
                    }
                }
                .getMenuBtn {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;

                    width: 100%;
                    height: 15%;

                    min-width: 300px;

                    p {
                        font-size: 12px;
                        color: brown;
                        font-weight: bold;

                        margin-bottom: 0;
                    }

                    button {
                        height: 50%;
                        font-size: 25px;
                        font-family: Verdana, Geneva, Tahoma, sans-serif;
                        background-color: wheat;
                        color: sienna;

                        border: #ad9984;
                        border-radius: 10px;

                        &:hover {
                            background-color: saddlebrown;
                            color: wheat;
                            transition: 0.3s;
                        }
                    }
                }
            }
            .menuContentsOff {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: center;
                width: 0%;
                height: 90%;
                object-fit: cover;
                overflow: hidden;
            }
        }
    }
}

//open and clode side pop-up
@keyframes menuContents {
    from {
        width: 0;
        height: 90%;
        opacity: 0;
    }
    to {
        width: 300px;
        height: 90%;
        opacity: 1;
    }
}
@keyframes menuContentsClose {
    0% {
        width: 300px;
        height: 90%;
        opacity: 1;
    }
    70% {
        opacity: 0;
    }
    100% {
        width: 0;
        height: 90%;
        opacity: 0;
    }
}

@media all and (max-width:1680px) {
    .menuContainer {
        width: 80%;

        .menu {
            width: 1200px;

            .menuTitle {
                width: 800px;
                height: 100px;

                font-size: 50px;
            }

            .chociesContainer {
                width: 1200px;

                .choices {
                    justify-content: space-around;
                    width: 900px;

                    .blackCategory{
                        width: 80%;
                        height: 30%;

                        .espresso {
                            .espressoImg {
                                width: 100%;
                            }
                        }
                        .longBlack {
                            .longBlackImg {
                                width: 100%;
                            }
                        }

                            // .espressoImg, .longBlackImg, .americanoImg, .coldBrewImg {
                            //     width: 100%;
                            // }
                    }
                    .whiteCategory{
                        width: 100%;
                        height: 33%;
                    }
                    .othersCategory {
                        width: 80%;
                        height: 30%;
                    }
                }

                .menuContents {
                    width: 300px;
                }
            }
        }
    }
}

@media all and (max-width:1279px) {
    .menuContainer {
        width: 80%;

        .menu {
            width: 1200px;

            .menuTitle {
                width: 700px;
                height: 100px;

                font-size: 50px;
            }

            .chociesContainer {
                width: 1000px;

                .choices {
                    width: 800px;
                }

                .menuContents {
                    width: 200px;
                }
            }
        }
    }
}

@media all and (max-width:1023px) {

}

@media all and (max-width:767px) {

}

@media all and (max-width:479px) {
    
}
