.footerContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    height: 22vh;

    padding-inline: 1%;

    border-top: 2px solid #88796f;

    .footerSvg {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;

        height: 100%;
    }

    .recommend {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 15%;
        height: 90%;

        .recommendTitle {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 20%;
            text-align: center;
            
            h3 {
                width: 100%;
                color: saddlebrown;
                font-family: Georgia, 'Times New Roman', Times, serif;
                font-size: 25px;
                margin-bottom: 0;
            }
        }
        .recommendCoffee {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-self: center;
            width: 90%;
            height: 80%;
            cursor: pointer;

            &:hover {
                transform: scale(1.1);
                transition: 0.3s;   
            }

        }

        .recommendText {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 30%;

            font-size: 25px;
            color: saddlebrown;
            font-family: Georgia, 'Times New Roman', Times, serif;
            text-align: center;

            p {
                width: 65%;
                margin-bottom: 5%;
                border-radius: 10px;
                background-color: wheat;
            }
        }

    }

    .footerShop {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        width: 35%;
        height: 90%;


        .products {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;
            width: auto;
            height: 100%;
    
            header {
                font-size: 23px;
                letter-spacing: 2px;
                font-family: Verdana, Geneva, Tahoma, sans-serif;
                color: #593d3b;
                border-bottom: #593d3b 2px solid;
            }
    
            li {
                font-size: 15px;
                font-weight: bold;
                margin-block: 2%;
                list-style: none;
                color: #593d3b;
                cursor: pointer;
    
                &:hover {
                    text-decoration: underline 2px;
                    text-underline-offset: 2px;
                    transition-property: 0.3s;
                }
            }
        }
    
        .branding {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;
            width: auto;
            height: 100%;
    
            header {
                font-size: 23px;
                letter-spacing: 2px;
                font-family: Verdana, Geneva, Tahoma, sans-serif;
                color: #593d3b;
                border-bottom: #593d3b 2px solid;
            }
    
            li {
                font-size: 15px;
                font-weight: bold;
                margin-block: 2%;
                list-style: none;
                color: #593d3b;
                cursor: pointer;
    
                &:hover {
                    text-decoration: underline 2px;
                    text-underline-offset: 2px;
                    transition-property: 0.3s;
                }
            }
        }
    
        .articles {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;
            width: auto;
            height: 100%;
    
            header {
                font-size: 23px;
                letter-spacing: 2px;
                font-family: Verdana, Geneva, Tahoma, sans-serif;
                color: #593d3b;
                border-bottom: #593d3b 2px solid;
            }
    
            li {
                font-size: 15px;
                font-weight: bold;
                margin-block: 2%;
                list-style: none;
                color: #593d3b;
                cursor: pointer;
    
                &:hover {
                    text-decoration: underline 2px;
                    text-underline-offset: 2px;
                    transition-property: 0.3s;
                }
            }
        }
    }

    .subscription {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;

        width: 25%;
        height: 90%;

        header {
            font-size: 25px;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            margin-bottom: 3%;
            color: #593d3b;
        }
        input {
            width: 100%;
            height: 18%;
            color:sienna;
            background-color: wheat;
            border: burlywood 2px solid;
            border-radius: 10px;
            font-size: 20px;
            padding-left: 2%;
            outline: none;

            &:focus {
                border: saddlebrown 2px solid;
                transition: 0.2s;
            }
        }

        .subsBtnContainer {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            align-items: center;

            width: 100%;
            height: 15;

            margin-top: 2%;

            button {
                width: 30%;
                height: 100%;
                text-align: center;
    
                color: saddlebrown;
                background-color: wheat;
                border-radius: 5px;
                border: 2px darkgoldenrod solid;
                font-size: 18px;
    
                &:hover {
                    background-color: burlywood;
                }
            }
        }

        p {
            margin-top: 10%;
            margin-bottom: 0%;
            font-size: 15px;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            color: #593d3b;
        }

        .social {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            width: 60%;
            height: 20%;
            font-size: 30px;
            color: #593d3b;


            .socialBtn {
                cursor: pointer;

                &:hover {
                    transform: scale(1.1);
                    transition: 0.3s;
                }
            }
        }
    }

}

@media (max-width: 1600px) {
    .footerContainer {
        padding-inline: 0;
        
        .footerSvg {
            width: 15%;
            height: 100%;
        }
        .recommend {
            height: 95%;

            .recommendTitle {
                
                h3 {
                    font-size: 16px;
                }
            }
            .recommendCoffee {
                width: 90%;
                height: 50%;
            }
            .recommendText {
                font-size: 16px;
            }
        }

        .footerShop {
            width: 40%;

            .products {
                header {
                    font-size: 16px;
                }
                li {
                    font-size: 12px;
                }
            }
            .branding {
                header {
                    font-size: 16px;
                }
                li {
                    font-size: 12px;
                }
            }
            .articles {
                header {
                    font-size: 16px;
                }
                li {
                    font-size: 12px;
                }
            }
        }
        .subscription {
            width: 22%;

            header {
                font-size: 16px;
            }
            input {
                font-size: 15px;
                padding-left: 3%;
            }
            .subsBtnContainer {
                button {
                    width: 40%;
                    font-size: 12px;
                    padding: 0;
                }
            }
            p {
                font-size: 14px;
            }
            .social {
                width: 80%;
                .socialBtn {
                    margin-inline: 3%;
                }
            }
        }
    }
}