.footerContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 60%;
  height: 22vh;
  border-top: 2px solid #88796f;
  animation: opacity 0.3s;
}
.footerContainer .recommend {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 15%;
  height: 80%;
  cursor: pointer;
  border-radius: 10px;
  background-color: wheat;
}
.footerContainer .recommend:hover {
  box-shadow: 1px 1px 0px 3px lightgrey;
  transition: 0.3s;
}
.footerContainer .recommend .recommendTitle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 20%;
  text-align: center;
}
.footerContainer .recommend .recommendTitle h3 {
  width: 100%;
  color: saddlebrown;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 22px;
  margin-bottom: 0;
}
.footerContainer .recommend .recommendCoffee {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-self: center;
  width: 80%;
  height: 70%;
  cursor: pointer;
}
.footerContainer .recommend .recommendText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 30%;
  font-size: 20px;
  color: saddlebrown;
  font-family: Georgia, "Times New Roman", Times, serif;
  text-align: center;
}
.footerContainer .recommend .recommendText p {
  width: 50%;
  margin-bottom: 5%;
  border-radius: 10px;
  background-color: wheat;
  margin-bottom: 0;
}
.footerContainer .footerShop {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 25%;
  height: 90%;
}
.footerContainer .footerShop .shopLinks {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  height: 100%;
}
.footerContainer .footerShop h1 {
  font-size: 25px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: saddlebrown;
  width: 100%;
  margin-bottom: 0;
  padding-bottom: 0%;
}
.footerContainer .footerShop h1 #shopIcon {
  font-size: 35px;
}
.footerContainer .footerShop header {
  width: auto;
  font-size: 20px;
  letter-spacing: 2px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  color: saddlebrown;
  border-bottom: 2px solid sienna;
  padding-inline: 3%;
  margin-bottom: 5%;
}
.footerContainer .footerShop li {
  font-size: 15px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  margin-block: 2%;
  list-style: none;
  color: saddlebrown;
  cursor: pointer;
}
.footerContainer .footerShop li:hover {
  -webkit-text-decoration: underline 2px;
          text-decoration: underline 2px;
  text-underline-offset: 2px;
  transition-property: 0.3s;
}
.footerContainer .footerShop .gears {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: auto;
  height: 100%;
}
.footerContainer .footerShop .beans {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: auto;
  height: 100%;
}
.footerContainer .footerShop .accessories {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: auto;
  height: 100%;
}
.footerContainer .subscription {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 15%;
  height: 90%;
}
.footerContainer .subscription header {
  font-size: 18px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-bottom: 1%;
  color: #593d3b;
}
.footerContainer .subscription input {
  width: 100%;
  height: 13%;
  color: sienna;
  background-color: wheat;
  border: burlywood 2px solid;
  border-radius: 10px;
  font-size: 16px;
  padding-left: 2%;
  outline: none;
}
.footerContainer .subscription input:focus {
  border: saddlebrown 2px solid;
  transition: 0.2s;
}
.footerContainer .subscription .subsBtnContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 12%;
  margin-top: 2%;
}
.footerContainer .subscription .subsBtnContainer button {
  text-align: center;
  font-weight: bold;
  color: saddlebrown;
  background-color: wheat;
  border-radius: 5px;
  border: 2px darkgoldenrod solid;
  font-size: 12px;
  padding: 1.5%;
}
.footerContainer .subscription .subsBtnContainer button:hover {
  background-color: burlywood;
}
.footerContainer .subscription p {
  margin-top: 10%;
  margin-bottom: 0%;
  font-size: 15px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #593d3b;
}
.footerContainer .contact {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 35%;
  height: 95%;
}
.footerContainer .contact .contactImg {
  width: 35%;
  height: 100%;
}
.footerContainer .contact .contactText {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 60%;
  height: 100%;
}
.footerContainer .contact .contactText .emailAddress {
  display: flex;
  flex-direction: row;
  margin-top: 1%;
}
.footerContainer .contact .contactText .social {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 20%;
  font-size: 25px;
  color: #593d3b;
}
.footerContainer .contact .contactText .social .socialBtn {
  cursor: pointer;
  margin-inline: 3%;
}
.footerContainer .contact .contactText .social .socialBtn:hover {
  transform: scale(1.1);
  transition: 0.3s;
}
.footerContainer .contact .contactText header {
  font-size: 25px;
  font-weight: bold;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  color: sienna;
}
.footerContainer .contact .contactText p {
  font-size: 15px;
  color: saddlebrown;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-bottom: 1.5%;
}
.footerContainer .explore {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 28%;
  height: 90%;
}
.footerContainer .explore header {
  font-size: 25px;
  color: sienna;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.footerContainer .explore header #exploreIcon {
  font-size: 50px;
}
.footerContainer .explore .exploreContents {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  height: 70%;
  background-color: wheat;
  border-radius: 10px;
  padding: 3%;
}
.footerContainer .explore .exploreContents p {
  font-size: 15px;
  font-weight: bold;
  color: saddlebrown;
  cursor: pointer;
}
.footerContainer .explore .exploreContents p:hover {
  -webkit-text-decoration: underline 2px;
          text-decoration: underline 2px;
}

@media (max-width: 1600px) {
  .footerContainer {
    height: 19vh;
    padding-inline: 0;
  }
  .footerContainer .footerSvg {
    width: 15%;
    height: 100%;
  }
  .footerContainer .recommend {
    height: 95%;
  }
  .footerContainer .recommend .recommendTitle h3 {
    font-size: 16px;
  }
  .footerContainer .recommend .recommendCoffee {
    width: 90%;
    height: 50%;
  }
  .footerContainer .recommend .recommendText {
    font-size: 16px;
  }
  .footerContainer .footerShop {
    width: 40%;
  }
  .footerContainer .footerShop .products header {
    font-size: 15px;
  }
  .footerContainer .footerShop .products li {
    font-size: 10px;
  }
  .footerContainer .footerShop .branding header {
    font-size: 15px;
  }
  .footerContainer .footerShop .branding li {
    font-size: 10px;
  }
  .footerContainer .footerShop .articles header {
    font-size: 15px;
  }
  .footerContainer .footerShop .articles li {
    font-size: 10px;
  }
  .footerContainer .subscription {
    width: 22%;
  }
  .footerContainer .subscription header {
    font-size: 15px;
  }
  .footerContainer .subscription input {
    font-size: 12px;
    padding-left: 3%;
  }
  .footerContainer .subscription .subsBtnContainer button {
    width: 40%;
    font-size: 10px;
    padding: 0;
  }
  .footerContainer .subscription p {
    font-size: 12px;
  }
  .footerContainer .subscription .social {
    width: 80%;
  }
  .footerContainer .subscription .social .socialBtn {
    margin-inline: 4%;
  }
}/*# sourceMappingURL=Footer.css.map */