.footerContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 60%;
  height: 22vh;
  padding-inline: 1%;
  border-top: 2px solid #88796f;
  animation: opacity 0.3s;
}
.footerContainer .recommend {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 15%;
  height: 90%;
  animation: slidetoUp 0.7s;
}
.footerContainer .recommend .recommendTitle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 20%;
  text-align: center;
}
.footerContainer .recommend .recommendTitle h3 {
  width: 100%;
  color: saddlebrown;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 25px;
  margin-bottom: 0;
}
.footerContainer .recommend .recommendCoffee {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-self: center;
  width: 90%;
  height: 80%;
  cursor: pointer;
}
.footerContainer .recommend .recommendCoffee:hover {
  transform: scale(1.1);
  transition: 0.3s;
}
.footerContainer .recommend .recommendText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 30%;
  font-size: 25px;
  color: saddlebrown;
  font-family: Georgia, "Times New Roman", Times, serif;
  text-align: center;
}
.footerContainer .recommend .recommendText p {
  width: 65%;
  margin-bottom: 5%;
  border-radius: 10px;
  background-color: wheat;
  margin-bottom: 0;
}
.footerContainer .footerShop {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 35%;
  height: 90%;
  animation: slidetoUp 1.2s;
}
.footerContainer .footerShop .products {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: auto;
  height: 100%;
}
.footerContainer .footerShop .products header {
  font-size: 23px;
  letter-spacing: 2px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #593d3b;
  border-bottom: #593d3b 2px solid;
}
.footerContainer .footerShop .products li {
  font-size: 15px;
  font-weight: bold;
  margin-block: 2%;
  list-style: none;
  color: #593d3b;
  cursor: pointer;
}
.footerContainer .footerShop .products li:hover {
  -webkit-text-decoration: underline 2px;
          text-decoration: underline 2px;
  text-underline-offset: 2px;
  transition-property: 0.3s;
}
.footerContainer .footerShop .branding {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: auto;
  height: 100%;
}
.footerContainer .footerShop .branding header {
  font-size: 23px;
  letter-spacing: 2px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #593d3b;
  border-bottom: #593d3b 2px solid;
}
.footerContainer .footerShop .branding li {
  font-size: 15px;
  font-weight: bold;
  margin-block: 2%;
  list-style: none;
  color: #593d3b;
  cursor: pointer;
}
.footerContainer .footerShop .branding li:hover {
  -webkit-text-decoration: underline 2px;
          text-decoration: underline 2px;
  text-underline-offset: 2px;
  transition-property: 0.3s;
}
.footerContainer .footerShop .articles {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: auto;
  height: 100%;
}
.footerContainer .footerShop .articles header {
  font-size: 23px;
  letter-spacing: 2px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #593d3b;
  border-bottom: #593d3b 2px solid;
}
.footerContainer .footerShop .articles li {
  font-size: 15px;
  font-weight: bold;
  margin-block: 2%;
  list-style: none;
  color: #593d3b;
  cursor: pointer;
}
.footerContainer .footerShop .articles li:hover {
  -webkit-text-decoration: underline 2px;
          text-decoration: underline 2px;
  text-underline-offset: 2px;
  transition-property: 0.3s;
}
.footerContainer .subscription {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 25%;
  height: 90%;
  animation: slidetoUp 1.5s;
}
.footerContainer .subscription header {
  font-size: 25px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-bottom: 3%;
  color: #593d3b;
}
.footerContainer .subscription input {
  width: 100%;
  height: 18%;
  color: sienna;
  background-color: wheat;
  border: burlywood 2px solid;
  border-radius: 10px;
  font-size: 20px;
  padding-left: 2%;
  outline: none;
}
.footerContainer .subscription input:focus {
  border: saddlebrown 2px solid;
  transition: 0.2s;
}
.footerContainer .subscription .subsBtnContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 15;
  margin-top: 2%;
}
.footerContainer .subscription .subsBtnContainer button {
  width: 30%;
  height: 100%;
  text-align: center;
  color: saddlebrown;
  background-color: wheat;
  border-radius: 5px;
  border: 2px darkgoldenrod solid;
  font-size: 18px;
}
.footerContainer .subscription .subsBtnContainer button:hover {
  background-color: burlywood;
}
.footerContainer .subscription p {
  margin-top: 10%;
  margin-bottom: 0%;
  font-size: 15px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #593d3b;
}
.footerContainer .subscription .social {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 60%;
  height: 20%;
  font-size: 30px;
  color: #593d3b;
}
.footerContainer .subscription .social .socialBtn {
  cursor: pointer;
}
.footerContainer .subscription .social .socialBtn:hover {
  transform: scale(1.1);
  transition: 0.3s;
}

@keyframes slidetoUp {
  from {
    transform: translateY(60%);
  }
  to {
    transform: translateY(0%);
  }
}
@media (max-width: 1600px) {
  .footerContainer {
    height: 19vh;
    padding-inline: 0;
  }
  .footerContainer .footerSvg {
    width: 15%;
    height: 100%;
  }
  .footerContainer .recommend {
    height: 95%;
  }
  .footerContainer .recommend .recommendTitle h3 {
    font-size: 16px;
  }
  .footerContainer .recommend .recommendCoffee {
    width: 90%;
    height: 50%;
  }
  .footerContainer .recommend .recommendText {
    font-size: 16px;
  }
  .footerContainer .footerShop {
    width: 40%;
  }
  .footerContainer .footerShop .products header {
    font-size: 15px;
  }
  .footerContainer .footerShop .products li {
    font-size: 10px;
  }
  .footerContainer .footerShop .branding header {
    font-size: 15px;
  }
  .footerContainer .footerShop .branding li {
    font-size: 10px;
  }
  .footerContainer .footerShop .articles header {
    font-size: 15px;
  }
  .footerContainer .footerShop .articles li {
    font-size: 10px;
  }
  .footerContainer .subscription {
    width: 22%;
  }
  .footerContainer .subscription header {
    font-size: 15px;
  }
  .footerContainer .subscription input {
    font-size: 12px;
    padding-left: 3%;
  }
  .footerContainer .subscription .subsBtnContainer button {
    width: 40%;
    font-size: 10px;
    padding: 0;
  }
  .footerContainer .subscription p {
    font-size: 12px;
  }
  .footerContainer .subscription .social {
    width: 80%;
  }
  .footerContainer .subscription .social .socialBtn {
    margin-inline: 4%;
  }
}/*# sourceMappingURL=Footer.css.map */