.footerContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 60%;
  height: 22vh;
  border-top: 2px solid #88796f;
  animation: opacity 0.3s;
}
.footerContainer .explore {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 28%;
  height: 90%;
}
.footerContainer .explore header {
  font-size: 25px;
  color: sienna;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.footerContainer .explore header #exploreIcon {
  font-size: 50px;
}
.footerContainer .explore .exploreContents {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  height: 70%;
  background-color: wheat;
  border-radius: 10px;
  padding: 3%;
}
.footerContainer .explore .exploreContents p {
  font-size: 15px;
  font-weight: bold;
  color: saddlebrown;
  cursor: pointer;
}
.footerContainer .explore .exploreContents p:hover {
  -webkit-text-decoration: underline 2px;
          text-decoration: underline 2px;
}
.footerContainer .footerShop {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 25%;
  height: 90%;
}
.footerContainer .footerShop .shopLinks {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  height: 100%;
}
.footerContainer .footerShop h1 {
  font-size: 25px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: saddlebrown;
  width: 100%;
  margin-bottom: 0;
  padding-bottom: 0%;
}
.footerContainer .footerShop h1 #shopIcon {
  font-size: 35px;
}
.footerContainer .footerShop header {
  width: auto;
  font-size: 20px;
  letter-spacing: 2px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  color: saddlebrown;
  border-bottom: 2px solid sienna;
  padding-inline: 3%;
  margin-bottom: 5%;
}
.footerContainer .footerShop li {
  font-size: 15px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  margin-block: 2%;
  list-style: none;
  color: saddlebrown;
  cursor: pointer;
}
.footerContainer .footerShop li:hover {
  -webkit-text-decoration: underline 2px;
          text-decoration: underline 2px;
  text-underline-offset: 2px;
  transition-property: 0.3s;
}
.footerContainer .footerShop .gears {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: auto;
  height: 100%;
}
.footerContainer .footerShop .beans {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: auto;
  height: 100%;
}
.footerContainer .footerShop .accessories {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: auto;
  height: 100%;
}
.footerContainer .contact {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 35%;
  height: 95%;
}
.footerContainer .contact .contactImg {
  width: 35%;
  height: 100%;
}
.footerContainer .contact .contactText {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 60%;
  height: 100%;
}
.footerContainer .contact .contactText .emailAddress {
  display: flex;
  flex-direction: row;
  margin-top: 1%;
}
.footerContainer .contact .contactText .social {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 20%;
  font-size: 25px;
  color: #593d3b;
}
.footerContainer .contact .contactText .social .socialBtn {
  cursor: pointer;
  margin-inline: 3%;
}
.footerContainer .contact .contactText .social .socialBtn:hover {
  transform: scale(1.1);
  transition: 0.3s;
}
.footerContainer .contact .contactText header {
  font-size: 25px;
  font-weight: bold;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  color: sienna;
}
.footerContainer .contact .contactText p {
  font-size: 15px;
  color: saddlebrown;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-bottom: 1.5%;
}

@media all and (min-width: 1681px) and (max-width: 2100px) {
  .footerContainer {
    height: 22vh;
    padding-inline: 0;
  }
  .footerContainer .explore {
    justify-content: center;
    width: 30%;
  }
  .footerContainer .explore header {
    font-size: 20px;
    margin-bottom: 2%;
  }
  .footerContainer .explore header #exploreIcon {
    font-size: 25px;
  }
  .footerContainer .explore .exploreContents {
    width: 100%;
    height: 70%;
  }
  .footerContainer .explore .exploreContents p {
    font-size: 12px;
  }
  .footerContainer .footerShop {
    justify-content: center;
    width: 30%;
  }
  .footerContainer .footerShop h1 {
    font-size: 20px;
    margin-bottom: 2%;
  }
  .footerContainer .footerShop h1 #shopIcon {
    font-size: 25px;
  }
  .footerContainer .footerShop .shopLinks {
    height: 80%;
  }
  .footerContainer .footerShop .shopLinks .gears header {
    font-size: 15px;
  }
  .footerContainer .footerShop .shopLinks .gears li {
    font-size: 12px;
  }
  .footerContainer .footerShop .shopLinks .beans header {
    font-size: 15px;
  }
  .footerContainer .footerShop .shopLinks .beans li {
    font-size: 12px;
  }
  .footerContainer .footerShop .shopLinks .accessories header {
    font-size: 15px;
  }
  .footerContainer .footerShop .shopLinks .accessories li {
    font-size: 12px;
  }
  .footerContainer .contact {
    width: 30%;
  }
  .footerContainer .contact .contactImg {
    width: 30%;
    height: 100%;
  }
  .footerContainer .contact .contactText {
    width: 70%;
    height: 60%;
  }
  .footerContainer .contact .contactText header {
    font-size: 15px;
  }
  .footerContainer .contact .contactText p {
    font-size: 10px;
  }
  .footerContainer .contact .contactText a {
    font-size: 10px;
    margin-left: 5%;
    color: brown;
  }
  .footerContainer .contact .social .socialBtn {
    font-size: 12px;
  }
}
@media all and (min-width: 1280px) and (max-width: 1680px) {
  .footerContainer {
    width: 70%;
    height: 20vh;
    padding-inline: 0;
  }
  .footerContainer .explore {
    justify-content: center;
    width: 30%;
  }
  .footerContainer .explore header {
    font-size: 15px;
    margin-bottom: 2%;
  }
  .footerContainer .explore header #exploreIcon {
    font-size: 20px;
  }
  .footerContainer .explore .exploreContents {
    width: 100%;
    height: 70%;
  }
  .footerContainer .explore .exploreContents p {
    font-size: 10px;
    margin-bottom: 2.5%;
  }
  .footerContainer .footerShop {
    justify-content: center;
    width: 25%;
  }
  .footerContainer .footerShop h1 {
    font-size: 12px;
    margin-bottom: 2%;
  }
  .footerContainer .footerShop h1 #shopIcon {
    font-size: 15px;
    margin-bottom: 2%;
  }
  .footerContainer .footerShop .shopLinks {
    height: 90%;
  }
  .footerContainer .footerShop .shopLinks .gears header {
    font-size: 10px;
  }
  .footerContainer .footerShop .shopLinks .gears li {
    font-size: 8px;
  }
  .footerContainer .footerShop .shopLinks .beans header {
    font-size: 10px;
  }
  .footerContainer .footerShop .shopLinks .beans li {
    font-size: 8px;
  }
  .footerContainer .footerShop .shopLinks .accessories header {
    font-size: 10px;
  }
  .footerContainer .footerShop .shopLinks .accessories li {
    font-size: 8px;
  }
  .footerContainer .contact {
    width: 30%;
  }
  .footerContainer .contact .contactImg {
    width: 30%;
    height: 100%;
  }
  .footerContainer .contact .contactText {
    width: 70%;
    height: 90%;
  }
  .footerContainer .contact .contactText header {
    font-size: 12px;
  }
  .footerContainer .contact .contactText p {
    font-size: 10px;
  }
  .footerContainer .contact .contactText a {
    font-size: 10px;
    margin-left: 5%;
    color: brown;
  }
  .footerContainer .contact .social .socialBtn {
    font-size: 12px;
  }
}
@media all and (min-width: 1024px) and (max-width: 1279px) {
  .footerContainer {
    height: 22vh;
    width: 70%;
    padding-inline: 0;
  }
  .footerContainer .explore {
    justify-content: center;
    width: 30%;
  }
  .footerContainer .explore header {
    font-size: 10px;
  }
  .footerContainer .explore header #exploreIcon {
    font-size: 20px;
    margin-bottom: 2%;
  }
  .footerContainer .explore .exploreContents {
    width: 100%;
    height: 75%;
  }
  .footerContainer .explore .exploreContents p {
    font-size: 7px;
    margin-bottom: 4%;
  }
  .footerContainer .footerShop {
    justify-content: center;
    width: 30%;
  }
  .footerContainer .footerShop h1 {
    font-size: 10px;
  }
  .footerContainer .footerShop h1 #shopIcon {
    font-size: 10px;
    margin-bottom: 1%;
  }
  .footerContainer .footerShop .shopLinks {
    height: 85%;
  }
  .footerContainer .footerShop .shopLinks .gears header {
    font-size: 10px;
  }
  .footerContainer .footerShop .shopLinks .gears li {
    font-size: 7px;
  }
  .footerContainer .footerShop .shopLinks .beans header {
    font-size: 10px;
  }
  .footerContainer .footerShop .shopLinks .beans li {
    font-size: 7px;
  }
  .footerContainer .footerShop .shopLinks .accessories header {
    font-size: 10px;
  }
  .footerContainer .footerShop .shopLinks .accessories li {
    font-size: 7px;
  }
  .footerContainer .contact {
    width: 30%;
  }
  .footerContainer .contact .contactImg {
    width: 25%;
    height: 90%;
  }
  .footerContainer .contact .contactText {
    width: 70%;
    height: 90%;
  }
  .footerContainer .contact .contactText header {
    font-size: 10px;
  }
  .footerContainer .contact .contactText p {
    font-size: 7px;
    margin-bottom: 1.5%;
  }
  .footerContainer .contact .contactText a {
    font-size: 7px;
    margin-left: 5%;
    color: brown;
  }
  .footerContainer .contact .social {
    height: 20%;
    margin-top: 2%;
  }
  .footerContainer .contact .social .socialBtn {
    font-size: 8px;
  }
}
@media all and (min-width: 768px) and (max-width: 1023px) {
  .footerContainer {
    height: 20vh;
    width: 80%;
    padding-inline: 0;
  }
  .footerContainer .explore {
    justify-content: center;
    width: 25%;
  }
  .footerContainer .explore header {
    font-size: 10px;
    margin-bottom: 2%;
  }
  .footerContainer .explore header #exploreIcon {
    font-size: 15px;
    margin-bottom: 2%;
  }
  .footerContainer .explore .exploreContents {
    width: 100%;
    height: 75%;
  }
  .footerContainer .explore .exploreContents p {
    font-size: 6px;
    margin-bottom: 4%;
  }
  .footerContainer .footerShop {
    justify-content: center;
    width: 25%;
  }
  .footerContainer .footerShop h1 {
    font-size: 10px;
    margin-bottom: 2%;
  }
  .footerContainer .footerShop h1 #shopIcon {
    font-size: 12px;
    margin-bottom: 2%;
  }
  .footerContainer .footerShop .shopLinks {
    height: 80%;
  }
  .footerContainer .footerShop .shopLinks .gears header {
    font-size: 8px;
  }
  .footerContainer .footerShop .shopLinks .gears li {
    font-size: 6px;
  }
  .footerContainer .footerShop .shopLinks .beans header {
    font-size: 8px;
  }
  .footerContainer .footerShop .shopLinks .beans li {
    font-size: 6px;
  }
  .footerContainer .footerShop .shopLinks .accessories header {
    font-size: 8px;
  }
  .footerContainer .footerShop .shopLinks .accessories li {
    font-size: 6px;
  }
  .footerContainer .contact {
    width: 30%;
  }
  .footerContainer .contact .contactImg {
    width: 30%;
    height: 90%;
  }
  .footerContainer .contact .contactText {
    width: 80%;
    height: 90%;
  }
  .footerContainer .contact .contactText header {
    font-size: 10px;
  }
  .footerContainer .contact .contactText p {
    font-size: 6px;
  }
  .footerContainer .contact .contactText a {
    font-size: 6px;
    margin-left: 5%;
    color: brown;
  }
  .footerContainer .contact .social {
    height: 15%;
    width: 80%;
  }
  .footerContainer .contact .social .socialBtn {
    font-size: 7px;
  }
}
@media all and (min-width: 480px) and (max-width: 767px) {
  .footerContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 95%;
    height: 100%;
    padding-inline: 3%;
  }
  .footerContainer .explore {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    width: 100%;
    height: 30%;
    margin-top: 5%;
  }
  .footerContainer .explore header {
    font-size: 15px;
    color: sienna;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  .footerContainer .explore header #exploreIcon {
    font-size: 15px;
  }
  .footerContainer .explore .exploreContents {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    height: 50%;
    background-color: wheat;
    border-radius: 10px;
    padding-inline: 2%;
    padding-bottom: 0;
    padding-top: 2%;
  }
  .footerContainer .explore .exploreContents p {
    font-size: 10px;
    font-weight: bold;
    color: saddlebrown;
    cursor: pointer;
    margin-bottom: 2%;
  }
  .footerContainer .explore .exploreContents p:hover {
    -webkit-text-decoration: underline 2px;
            text-decoration: underline 2px;
  }
  .footerContainer .footerShop {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 30%;
    margin-top: 5%;
  }
  .footerContainer .footerShop .shopLinks {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    padding-inline: 2%;
  }
  .footerContainer .footerShop h1 {
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: saddlebrown;
    width: 100%;
    margin-bottom: 0;
    padding-bottom: 0%;
  }
  .footerContainer .footerShop h1 #shopIcon {
    font-size: 20px;
    margin-bottom: 1%;
  }
  .footerContainer .footerShop header {
    width: auto;
    font-size: 12px;
    letter-spacing: 2px;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
    color: saddlebrown;
    border-bottom: 2px solid sienna;
    padding-inline: 3%;
    margin-bottom: 5%;
  }
  .footerContainer .footerShop li {
    font-size: 10px;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
    margin-block: 2%;
    list-style: none;
    color: saddlebrown;
    cursor: pointer;
  }
  .footerContainer .footerShop li:hover {
    -webkit-text-decoration: underline 2px;
            text-decoration: underline 2px;
    text-underline-offset: 2px;
    transition-property: 0.3s;
  }
  .footerContainer .footerShop .gears {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: auto;
    height: 100%;
  }
  .footerContainer .footerShop .beans {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: auto;
    height: 100%;
  }
  .footerContainer .footerShop .accessories {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: auto;
    height: 100%;
  }
  .footerContainer .contact {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 30%;
    margin-top: 5%;
  }
  .footerContainer .contact .contactImg {
    width: 30%;
    height: 25vh;
  }
  .footerContainer .contact .contactText {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 70%;
    height: 80%;
    margin-left: 5%;
  }
  .footerContainer .contact .contactText .emailAddress {
    display: flex;
    flex-direction: row;
    margin-top: 1%;
  }
  .footerContainer .contact .contactText .social {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 20%;
    font-size: 12px;
    color: #593d3b;
  }
  .footerContainer .contact .contactText .social .socialBtn {
    cursor: pointer;
    margin-inline: 3%;
  }
  .footerContainer .contact .contactText .social .socialBtn:hover {
    transform: scale(1.1);
    transition: 0.3s;
  }
  .footerContainer .contact .contactText header {
    font-size: 15px;
    font-weight: bold;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
    color: sienna;
  }
  .footerContainer .contact .contactText p {
    font-size: 12px;
    color: saddlebrown;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 1.5%;
  }
  .footerContainer .contact .contactText a {
    font-size: 12px;
    color: brown;
    margin-left: 3%;
  }
}
@media all and (max-width: 479px) {
  .footerContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 95%;
    height: 100%;
    padding-inline: 3%;
  }
  .footerContainer .explore {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    width: 100%;
    height: 30%;
    margin-top: 5%;
  }
  .footerContainer .explore header {
    font-size: 15px;
    color: sienna;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  .footerContainer .explore header #exploreIcon {
    font-size: 15px;
  }
  .footerContainer .explore .exploreContents {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    height: 50%;
    background-color: wheat;
    border-radius: 10px;
    padding-inline: 2%;
    padding-bottom: 0;
    padding-top: 2%;
  }
  .footerContainer .explore .exploreContents p {
    font-size: 10px;
    font-weight: bold;
    color: saddlebrown;
    cursor: pointer;
    margin-bottom: 2%;
  }
  .footerContainer .explore .exploreContents p:hover {
    -webkit-text-decoration: underline 2px;
            text-decoration: underline 2px;
  }
  .footerContainer .footerShop {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 30%;
    margin-top: 5%;
  }
  .footerContainer .footerShop .shopLinks {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    padding-inline: 2%;
  }
  .footerContainer .footerShop h1 {
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: saddlebrown;
    width: 100%;
    margin-bottom: 0;
    padding-bottom: 0%;
  }
  .footerContainer .footerShop h1 #shopIcon {
    font-size: 20px;
    margin-bottom: 1%;
  }
  .footerContainer .footerShop header {
    width: auto;
    font-size: 12px;
    letter-spacing: 2px;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
    color: saddlebrown;
    border-bottom: 2px solid sienna;
    padding-inline: 3%;
    margin-bottom: 5%;
  }
  .footerContainer .footerShop li {
    font-size: 10px;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
    margin-block: 2%;
    list-style: none;
    color: saddlebrown;
    cursor: pointer;
  }
  .footerContainer .footerShop li:hover {
    -webkit-text-decoration: underline 2px;
            text-decoration: underline 2px;
    text-underline-offset: 2px;
    transition-property: 0.3s;
  }
  .footerContainer .footerShop .gears {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: auto;
    height: 100%;
  }
  .footerContainer .footerShop .beans {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: auto;
    height: 100%;
  }
  .footerContainer .footerShop .accessories {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: auto;
    height: 100%;
  }
  .footerContainer .contact {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 30%;
    margin-top: 5%;
  }
  .footerContainer .contact .contactImg {
    width: 30%;
    height: 25vh;
  }
  .footerContainer .contact .contactText {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 70%;
    height: 80%;
    margin-left: 5%;
  }
  .footerContainer .contact .contactText .emailAddress {
    display: flex;
    flex-direction: row;
    margin-top: 1%;
  }
  .footerContainer .contact .contactText .social {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 20%;
    font-size: 10px;
    color: #593d3b;
  }
  .footerContainer .contact .contactText .social .socialBtn {
    cursor: pointer;
    margin-inline: 3%;
  }
  .footerContainer .contact .contactText .social .socialBtn:hover {
    transform: scale(1.1);
    transition: 0.3s;
  }
  .footerContainer .contact .contactText header {
    font-size: 12px;
    font-weight: bold;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
    color: sienna;
  }
  .footerContainer .contact .contactText p {
    font-size: 10px;
    color: saddlebrown;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 1.5%;
  }
  .footerContainer .contact .contactText a {
    font-size: 10px;
    color: brown;
    margin-left: 3%;
  }
}/*# sourceMappingURL=Footer.css.map */