.stuffListContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    width: 20%;
    height: 90%;

    background-color: wheat;
    border-radius: 10px;

    padding-block: 1%;
    padding-inline: 1.5%;

    .recipeInfo {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;

        width: 100%;
        height: 35%;

        header {
            font-size: 35px;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-style: italic;
            color: sienna;
        }

        p {
            font-size: 18px;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            color: sienna;
            font-weight: bold;
            text-transform: uppercase;

            margin-bottom: 1%;
        }
    }

    .listContainer {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;

        width: 100%;
        height: 55%;

        header {
            font-size: 35px;
            font-style: italic;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            color: brown;
        }

        ul {
            margin-bottom: 0;
            margin-top: 5%;
            padding-left: 8%;

            li {
                font-size: 18px;
                font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
                color: brown;

                margin-bottom: 5%;
            }
        }
    }

    button {
        width: 80%;
        height: 6%;

        font-size: 20px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        text-decoration: none;
        border-radius: 10px;
        border: 0;
        
        color: linen;
        background-color: sienna;
        box-shadow: 2px 3px 0px 0px darkgoldenrod;

        &:hover {
            color: brown;
            background-color: bisque;
            transition: 0.3s;
        }
        &:active {
            box-shadow: 0px 0px 0px 0px;
            transform: translateY(3%);
            transition: 0s;
        }
    }
}

@media all and (min-width:320px) {
    .stuffListContainer {
        flex-direction: row;
        align-items: flex-start;
        background-color: transparent;

        height: 65%;
        width: 100%;

        .recipeInfo {
            width: 52%;
            height: 100%;

            background-color: wheat;
            border-radius: 5px;

            padding-left: 1%;

            justify-content: flex-start;

            header {
                font-size: 20px;
            }

            p {
                font-size: 12px;

                margin-bottom: 5%;
            }

            .startBrewingMobile {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                width: 100%;
                height: 40%;

                p {
                    color: brown;
                    margin-bottom: 0;
                    font-size: 12px;
                }
                button {
                    width: 90%;
                    height: 40%;
                    font-size: 15px;
                }
            }
        }

        .listContainer {
            width: 46%;
            height: 100%;

            background-color: bisque;

            header {
                font-size: 20px;

                padding-left: 5%;
            }

            ul {
                padding-left: 13%;

                li {
                    font-size: 12px;

                    margin-bottom: 2%;
                }
            }
        }
    }
}

@media all and (min-width:767px) {

}

@media all and (min-width:1279px) {

}

@media all and (min-width:1680px) {

}