.fixedNavbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  width: 1600px;
  height: 60px;
  margin: 20px;
  margin-top: 0.5%;
  border: 1px rgb(184, 184, 184) solid;
  border-radius: 10px;
  background-color: transparent;
  padding-inline: 2%;
}
.fixedNavbar .navTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  font-size: 28px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  font-style: italic;
  text-align: center;
  color: #672f0a;
  text-shadow: 2px 2px darkgoldenrod;
  letter-spacing: 1px;
  border: 0;
  background-color: transparent;
  border-radius: 5px;
  margin-block: 5px;
  padding-inline: 1%;
  cursor: pointer;
  text-decoration: none;
  -webkit-user-select: none;
  transition: all 0.2s linear;
}
.fixedNavbar .navTitle:hover {
  text-shadow: 3px 3px darkgoldenrod;
}
.fixedNavbar .about {
  width: auto;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  outline: none;
  font-size: 20px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  color: #a86b43;
  border: none;
  background-color: transparent;
  padding: 0;
}
.fixedNavbar .about:hover {
  color: #86481f;
  transition: 0.2s;
}
.fixedNavbar .about:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 1px;
  bottom: 3px;
  left: 0;
  background-color: #86481f;
  transform-origin: bottom;
  transition: transform 0.25s ease-out;
}
.fixedNavbar .about:hover::after {
  color: #a86b43;
  transform: scaleX(1);
  transform-origin: bottom;
}
.fixedNavbar .shop {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  outline: none;
  font-size: 25px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  color: #a86b43;
  letter-spacing: 2px;
  background-color: transparent;
  border: 0;
}
.fixedNavbar .shop:hover {
  color: #86481f;
  transition: 0.2s;
}
.fixedNavbar .shop:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 1px;
  bottom: 2px;
  left: 0;
  background-color: #86481f;
  transform-origin: bottom;
  transition: transform 0.25s ease-out;
}
.fixedNavbar .shop:hover::after {
  color: #a86b43;
  transform: scaleX(1);
  transform-origin: bottom;
}
.fixedNavbar .myRecipe {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  outline: none;
  font-size: 22px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  color: #a86b43;
  letter-spacing: 1px;
}
.fixedNavbar .myRecipe:hover {
  color: #86481f;
  transition: 0.2s;
}
.fixedNavbar .myRecipe:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 1px;
  bottom: 0px;
  left: 0;
  background-color: #86481f;
  transform-origin: bottom;
  transition: transform 0.25s ease-out;
}
.fixedNavbar .myRecipe:hover::after {
  color: #a86b43;
  transform: scaleX(1);
  transform-origin: bottom;
}
.fixedNavbar .logIn {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 7%;
  text-decoration: none;
  outline: none;
  font-size: 22px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  color: #a86b43;
  letter-spacing: 2px;
  animation: opacity 0.5s;
  transition: 0.3s;
}
.fixedNavbar .logIn:hover {
  color: #86481f;
  transition: 0.2s;
}
.fixedNavbar .logIn:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 1px;
  bottom: 0px;
  left: 0;
  background-color: #86481f;
  transform-origin: bottom;
  transition: transform 0.25s ease-out;
}
.fixedNavbar .logIn:hover::after {
  color: #a86b43;
  transform: scaleX(1);
  transform-origin: bottom;
}
.fixedNavbar .logOut {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 7%;
  text-decoration: none;
  outline: none;
  font-size: 22px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  color: #a86b43;
  letter-spacing: 2px;
  animation: opacity 0.5s;
  transition: 0.3s ease-in-out;
}
.fixedNavbar .logOut:hover {
  color: #86481f;
  transition: 0.2s;
}
.fixedNavbar .logOut:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 1px;
  bottom: 0px;
  left: 0;
  background-color: #86481f;
  transform-origin: bottom;
  transition: transform 0.25s ease-out;
}
.fixedNavbar .logOut:hover::after {
  color: #a86b43;
  transform: scaleX(1);
  transform-origin: bottom;
}
.fixedNavbar .none {
  display: none;
}

@keyframes opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@media all and (min-width: 320px) {
  .fixedNavbar {
    min-width: 300px;
    width: 80%;
    height: 30px;
    border-radius: 10px;
    margin-top: 1%;
  }
  .fixedNavbar .navTitle {
    display: none;
  }
  .fixedNavbar .myRecipe {
    font-weight: bold;
    font-size: 10px;
  }
  .fixedNavbar .logIn {
    font-weight: bold;
    font-size: 10px;
  }
  .fixedNavbar .logOut {
    font-weight: bold;
    font-size: 10px;
  }
  .fixedNavbar .shop {
    font-size: 10px;
    font-weight: bold;
    cursor: pointer;
  }
}
@media all and (min-width: 767px) {
  .fixedNavbar {
    min-width: 500px;
    max-width: 900px;
    width: 80%;
    height: 40px;
    border-radius: 10px;
    margin-top: 0.5%;
  }
  .fixedNavbar .navTitle {
    display: none;
  }
  .fixedNavbar .myRecipe {
    font-weight: bold;
    font-size: 15px;
  }
  .fixedNavbar .logIn {
    font-weight: bold;
    font-size: 15px;
  }
  .fixedNavbar .logOut {
    font-weight: bold;
    font-size: 15px;
  }
  .fixedNavbar .shop {
    font-size: 15px;
  }
}
@media all and (min-width: 1279px) {
  .fixedNavbar {
    min-width: 900px;
    max-width: 1200px;
    width: 80%;
    height: 50px;
    border-radius: 10px;
    margin-top: 1%;
  }
  .fixedNavbar .navTitle {
    display: flex;
    font-size: 22px;
  }
  .fixedNavbar .myRecipe {
    font-weight: bold;
    font-size: 18px;
  }
  .fixedNavbar .logIn {
    font-weight: bold;
    font-size: 18px;
  }
  .fixedNavbar .logOut {
    font-weight: bold;
    font-size: 18px;
  }
  .fixedNavbar .shop {
    font-size: 18px;
  }
}
@media all and (min-width: 1680px) {
  .fixedNavbar {
    min-width: 1000px;
    max-width: 1500px;
    width: 80%;
    height: 55px;
    border-radius: 10px;
    margin-top: 1%;
  }
  .fixedNavbar .navTitle {
    display: flex;
    font-size: 25px;
  }
  .fixedNavbar .myRecipe {
    font-weight: bold;
    font-size: 22px;
  }
  .fixedNavbar .logIn {
    font-weight: bold;
    font-size: 22px;
  }
  .fixedNavbar .logOut {
    font-weight: bold;
    font-size: 22px;
  }
  .fixedNavbar .shop {
    font-size: 22px;
  }
}/*# sourceMappingURL=Navbar.css.map */