.LoginContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 91vh;

    animation: opacity 0.5s;

    header {
        text-align: center;
        width: 60%;
        height: 7%;

        font-size: 60px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: rgb(137, 85, 48);
        letter-spacing: 3px;
        text-transform: uppercase;
        border-bottom: 2px solid #9c7c65;
    }

    .login {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        width: 60%;
        height: 50%;

        .logo {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: auto;
            height: auto;

            margin-right: 3%;
        }

        .form {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            width: 70%;
            height: 90%;
            padding-left:3%;

            .formGuide {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;
                width: 100%;
                

                h1 {
                    font-size: 45px;
                    color: burlywood;
                    -webkit-text-stroke: 1px #400406;
                    font-family: Verdana, Geneva, Tahoma, sans-serif;
                }
                p {
                    font-size: 15px;
                    margin-bottom: 2%;
                    color: #400406;
                    font-weight: bold;
                }
            }
            .email {    
                display: flex;
                flex-direction: column;
                width: 100%;
                height: 20%;
                color: sienna;

                p {
                    font-size: 18px;
                    font-family: Verdana, Geneva, Tahoma, sans-serif;
                    margin-bottom: 1%;
                }
                input {
                    width: 90%;
                    height: 50%;
                    font-size: 25px;
                    color: saddlebrown;

                    padding: 2%;
                    border-radius: 5px;
                    border: 2px rgb(190, 145, 29) solid;
                    background-color: wheat;
                    outline: none;

                    &:focus {
                        border: saddlebrown 2px solid;
                        border-radius: 5px;
                    }
                }
            }

            .password {    
                display: flex;
                flex-direction: column;
                width: 100%;
                height: 20%;
                color: sienna;

                p {
                    font-size: 18px;
                    font-family: Verdana, Geneva, Tahoma, sans-serif;
                    margin-bottom: 1%;
                }
                input {
                    width: 90%;
                    height: 50%;
                    font-size: 25px;
                    color: saddlebrown;

                    padding: 2%;
                    border-radius: 5px;
                    border: 2px rgb(190, 145, 29) solid;
                    background-color: wheat;
                    outline: none;

                    &:focus {
                        border: saddlebrown 2px solid;
                        border-radius: 5px;
                    }
                }
            }

            .submit {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;
                width: 100%;
                height: 30%;


                .loginContainer {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;

                    width: 90%;
                    height: 30%;

                    p {
                        font-size: 18px;


                        margin-bottom: 0;
                        color: darkred;

                        animation: opaicity 0.2s;
                    }

                    .loginBtn {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border: 2px darkgoldenrod solid;
                        border-radius: 5px;
                        width: 25%;
                        height: 100%;
                        font-size: 22px;
                        font-family: Verdana, Geneva, Tahoma, sans-serif;
                        color: saddlebrown;
                        text-align: center;
                        background-color: wheat;
                        text-decoration: none;
    
                        margin-top: 1%;
    
                        &:hover {
                            background-color: burlywood;
                        }
                    }
                }
                
                .register {
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-end;
                    align-items: center;
                    width: 90%;
                    height: 30%;
                    margin-top: 3%;

                    p{
                        color: saddlebrown  ;
                        font-size: 18px;
                        text-align: bottom;
                        margin-right: 2%;
                        margin-bottom: 0;
                        margin-top: 0.5%;
                        font-family: Verdana, Geneva, Tahoma, sans-serif;
                    }
                    
                    .registerBtn {
                        display: flex;
                        font-size: 25px;
                        color: darkgoldenrod;
                        text-decoration: underline;
    
                        &:hover {
                            color: brown;
                            transition: 0.3s;
                        }
                    }
                }

            }
        }
    }
}

@keyframes opacity {
    0% {
        opacity: 0;
    }
    100% {
    opacity: 1;
    }
}

@media all and (min-width:320px) {
    .LoginContainer {
        height: 100vh;
        width: 100%;

        header {
            width: 90%;
            max-width: 290px;
            height: 8%;
            font-size: 35px;

            margin-bottom: 0;
        }

        .login {
            flex-direction: column;
            width: 100%;
            height: 60%;

            .logo {
                display: none;
            }
            
            .form {
                width: 100%;
                max-width: 290px;
                height: 95%;

                .formGuide {

                    h1 {
                        font-size: 30px;
                    }
                    p {
                        font-size: 12px;
                    }
                }
                .email {
                    height: 15%;

                    p {
                        font-size: 15px;
                    }
                    input {
                        font-size: 15px;
                        padding: 0;
                        padding-left: 2%;
                    }
                }
                .password {
                    height: 15%;

                    p{
                        font-size: 15px;
                    }
                    input {
                        font-size: 15px;
                        padding:0;
                        padding-left: 2%;
                    }
                }
                .submit {
                    height: 20%;


                    margin-top: 3%;

                    .loginContainer {
                        p {
                            font-size: 15px;
                        }

                        .loginBtn {
                            width: 30%;
                            font-size: 15px;
                        }
                    }

                    .register {

                        p {
                            font-size: 12px;
                        }
                        .registerBtn {
                            font-size: 15px;
                        }
                    }

                }
            }
        }
    }
}

@media all and (min-width:767px) {
    .LoginContainer {
        height: 100vh;
        min-height: 700px;
        max-height: 1000px;
        width: 100%;

        header {
            width: 55%;
            max-width: 800px;
            height: 8%;
            min-height: 80px;
            font-size: 50px;

            margin-bottom: 0;
        }

        .login {
            flex-direction: column;
            width: 100%;
            height: 70%;

            .logo {
                display: none;
            }
            
            .form {
                width: 60%;
                max-width: 900px;
                height: 95%;

                .formGuide {

                    h1 {
                        font-size: 40px;
                    }
                    p {
                        font-size: 16px;
                    }
                }
                .email {
                    height: 15%;

                    p {
                        font-size: 16px;
                    }
                    input {
                        font-size: 18px;
                        padding: 0;
                        padding-left: 2%;
                    }
                }
                .password {
                    height: 15%;

                    p{
                        font-size: 16px;
                    }
                    input {
                        font-size: 18px;
                        padding:0;
                        padding-left: 2%;
                    }
                }
                .submit {
                    height: 20%;


                    margin-top: 3%;

                    .loginContainer {
                        p {
                            font-size: 18px;
                        }

                        .loginBtn {
                            width: 30%;
                            font-size: 18px;
                        }
                    }

                    .register {

                        p {
                            font-size: 12px;
                        }
                        .registerBtn {
                            font-size: 15px;
                        }
                    }

                }
            }
        }
    }
}

@media all and (min-width:1279px) {

}

@media all and (min-width:1680px) {

}
