.LoginContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
  height: 91vh;
  animation: opacity 0.5s;
}
.LoginContainer header {
  text-align: center;
  width: 60%;
  height: 7%;
  font-size: 60px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(137, 85, 48);
  letter-spacing: 3px;
  text-transform: uppercase;
  border-bottom: 2px solid #9c7c65;
}
.LoginContainer .login {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 60%;
  height: 50%;
}
.LoginContainer .login .logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: auto;
  height: auto;
  margin-right: 3%;
}
.LoginContainer .login .form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 70%;
  height: 90%;
  padding-left: 3%;
}
.LoginContainer .login .form .formGuide {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
}
.LoginContainer .login .form .formGuide h1 {
  font-size: 45px;
  color: burlywood;
  -webkit-text-stroke: 1px #400406;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.LoginContainer .login .form .formGuide p {
  font-size: 15px;
  margin-bottom: 2%;
  color: #400406;
  font-weight: bold;
}
.LoginContainer .login .form .email {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 20%;
  color: sienna;
}
.LoginContainer .login .form .email p {
  font-size: 18px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-bottom: 1%;
}
.LoginContainer .login .form .email input {
  width: 90%;
  height: 50%;
  font-size: 25px;
  color: saddlebrown;
  padding: 2%;
  border-radius: 5px;
  border: 2px rgb(190, 145, 29) solid;
  background-color: wheat;
  outline: none;
}
.LoginContainer .login .form .email input:focus {
  border: saddlebrown 2px solid;
  border-radius: 5px;
}
.LoginContainer .login .form .password {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 20%;
  color: sienna;
}
.LoginContainer .login .form .password p {
  font-size: 18px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-bottom: 1%;
}
.LoginContainer .login .form .password input {
  width: 90%;
  height: 50%;
  font-size: 25px;
  color: saddlebrown;
  padding: 2%;
  border-radius: 5px;
  border: 2px rgb(190, 145, 29) solid;
  background-color: wheat;
  outline: none;
}
.LoginContainer .login .form .password input:focus {
  border: saddlebrown 2px solid;
  border-radius: 5px;
}
.LoginContainer .login .form .submit {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  height: 30%;
}
.LoginContainer .login .form .submit .loginContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  height: 30%;
}
.LoginContainer .login .form .submit .loginContainer p {
  font-size: 18px;
  margin-bottom: 0;
  color: darkred;
  animation: opaicity 0.2s;
}
.LoginContainer .login .form .submit .loginContainer .loginBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px darkgoldenrod solid;
  border-radius: 5px;
  width: 25%;
  height: 100%;
  font-size: 22px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: saddlebrown;
  text-align: center;
  background-color: wheat;
  text-decoration: none;
  margin-top: 1%;
}
.LoginContainer .login .form .submit .loginContainer .loginBtn:hover {
  background-color: burlywood;
}
.LoginContainer .login .form .submit .register {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 90%;
  height: 30%;
  margin-top: 3%;
}
.LoginContainer .login .form .submit .register p {
  color: saddlebrown;
  font-size: 18px;
  text-align: bottom;
  margin-right: 2%;
  margin-bottom: 0;
  margin-top: 0.5%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.LoginContainer .login .form .submit .register .registerBtn {
  display: flex;
  font-size: 25px;
  color: darkgoldenrod;
  text-decoration: underline;
}
.LoginContainer .login .form .submit .register .registerBtn:hover {
  color: brown;
  transition: 0.3s;
}

@keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@media all and (min-width: 320px) {
  .LoginContainer {
    height: 100vh;
    width: 100%;
  }
  .LoginContainer header {
    width: 90%;
    max-width: 290px;
    height: 8%;
    font-size: 35px;
    margin-bottom: 0;
  }
  .LoginContainer .login {
    flex-direction: column;
    width: 100%;
    height: 60%;
  }
  .LoginContainer .login .logo {
    display: none;
  }
  .LoginContainer .login .form {
    width: 100%;
    max-width: 290px;
    height: 95%;
  }
  .LoginContainer .login .form .formGuide h1 {
    font-size: 30px;
  }
  .LoginContainer .login .form .formGuide p {
    font-size: 12px;
  }
  .LoginContainer .login .form .email {
    height: 60px;
  }
  .LoginContainer .login .form .email p {
    font-size: 15px;
  }
  .LoginContainer .login .form .email input {
    font-size: 15px;
    padding: 0;
    padding-left: 2%;
  }
  .LoginContainer .login .form .password {
    height: 60px;
  }
  .LoginContainer .login .form .password p {
    font-size: 15px;
  }
  .LoginContainer .login .form .password input {
    font-size: 15px;
    padding: 0;
    padding-left: 2%;
  }
  .LoginContainer .login .form .submit {
    height: 100px;
    margin-top: 3%;
  }
  .LoginContainer .login .form .submit .loginContainer p {
    font-size: 15px;
  }
  .LoginContainer .login .form .submit .loginContainer .loginBtn {
    width: 30%;
    font-size: 15px;
  }
  .LoginContainer .login .form .submit .register p {
    font-size: 12px;
  }
  .LoginContainer .login .form .submit .register .registerBtn {
    font-size: 15px;
  }
}
@media all and (min-width: 767px) {
  .LoginContainer {
    height: 100vh;
    min-height: 700px;
    max-height: 1100px;
    width: 100%;
  }
  .LoginContainer header {
    width: 90%;
    max-width: 680px;
    height: 8%;
    min-height: 80px;
    font-size: 50px;
    margin-bottom: 0;
  }
  .LoginContainer .login {
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
    height: 50%;
    padding-top: 3%;
  }
  .LoginContainer .login .logo {
    display: flex;
    justify-content: flex-start;
  }
  .LoginContainer .login .logo svg {
    width: 250px;
    height: 350px;
  }
  .LoginContainer .login .form {
    width: 70%;
    max-width: 490px;
    height: 100%;
  }
  .LoginContainer .login .form .formGuide h1 {
    font-size: 40px;
  }
  .LoginContainer .login .form .formGuide p {
    font-size: 15px;
  }
  .LoginContainer .login .form .email {
    height: 80px;
  }
  .LoginContainer .login .form .email p {
    font-size: 18px;
  }
  .LoginContainer .login .form .email input {
    height: 40px;
    font-size: 20px;
    padding: 0;
    padding-left: 2%;
  }
  .LoginContainer .login .form .password {
    height: 80px;
  }
  .LoginContainer .login .form .password p {
    font-size: 18px;
  }
  .LoginContainer .login .form .password input {
    height: 40px;
    font-size: 20px;
    padding: 0;
    padding-left: 2%;
  }
  .LoginContainer .login .form .submit {
    height: 100px;
    margin-top: 3%;
  }
  .LoginContainer .login .form .submit .loginContainer p {
    font-size: 18px;
  }
  .LoginContainer .login .form .submit .loginContainer .loginBtn {
    width: 30%;
    height: 35px;
    font-size: 18px;
  }
  .LoginContainer .login .form .submit .register p {
    font-size: 15px;
  }
  .LoginContainer .login .form .submit .register .registerBtn {
    font-size: 18px;
  }
}
@media all and (min-width: 1279px) {
  .LoginContainer {
    height: 100vh;
    min-height: 700px;
    max-height: 1200px;
    width: 100%;
  }
  .LoginContainer header {
    width: 90%;
    max-width: 850px;
    height: 8%;
    min-height: 80px;
    font-size: 50px;
    margin-bottom: 0;
  }
  .LoginContainer .login {
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
    height: 50%;
    padding-top: 3%;
  }
  .LoginContainer .login .logo {
    display: flex;
    justify-content: flex-start;
  }
  .LoginContainer .login .logo svg {
    width: 300px;
    height: 400px;
  }
  .LoginContainer .login .form {
    width: 70%;
    max-width: 490px;
    height: 100%;
  }
  .LoginContainer .login .form .formGuide h1 {
    font-size: 50px;
  }
  .LoginContainer .login .form .formGuide p {
    font-size: 15px;
  }
  .LoginContainer .login .form .email {
    height: 80px;
  }
  .LoginContainer .login .form .email p {
    font-size: 18px;
  }
  .LoginContainer .login .form .email input {
    height: 40px;
    font-size: 20px;
    padding: 0;
    padding-left: 2%;
  }
  .LoginContainer .login .form .password {
    height: 80px;
  }
  .LoginContainer .login .form .password p {
    font-size: 18px;
  }
  .LoginContainer .login .form .password input {
    height: 40px;
    font-size: 20px;
    padding: 0;
    padding-left: 2%;
  }
  .LoginContainer .login .form .submit {
    height: 100px;
    margin-top: 3%;
  }
  .LoginContainer .login .form .submit .loginContainer p {
    font-size: 18px;
  }
  .LoginContainer .login .form .submit .loginContainer .loginBtn {
    width: 30%;
    height: 35px;
    font-size: 20px;
  }
  .LoginContainer .login .form .submit .register p {
    font-size: 18px;
  }
  .LoginContainer .login .form .submit .register .registerBtn {
    font-size: 20px;
  }
}
@media all and (min-width: 1680px) {
  .LoginContainer {
    height: 91vh;
    min-height: 700px;
    max-height: 91vh;
    width: 100%;
  }
  .LoginContainer header {
    width: 90%;
    max-width: 850px;
    height: 8%;
    min-height: 80px;
    font-size: 60px;
    margin-bottom: 0;
  }
  .LoginContainer .login {
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
    height: 50%;
    padding-top: 0.5%;
  }
  .LoginContainer .login .logo {
    display: flex;
    justify-content: flex-start;
  }
  .LoginContainer .login .logo svg {
    width: 350px;
    height: 470px;
  }
  .LoginContainer .login .form {
    width: 70%;
    max-width: 490px;
    height: 100%;
    padding-left: 0;
  }
  .LoginContainer .login .form .formGuide h1 {
    font-size: 60px;
  }
  .LoginContainer .login .form .formGuide p {
    font-size: 16px;
  }
  .LoginContainer .login .form .email {
    height: 90px;
  }
  .LoginContainer .login .form .email p {
    font-size: 20px;
  }
  .LoginContainer .login .form .email input {
    height: 40px;
    font-size: 20px;
    padding: 0;
    padding-left: 2%;
  }
  .LoginContainer .login .form .password {
    height: 90px;
  }
  .LoginContainer .login .form .password p {
    font-size: 20px;
  }
  .LoginContainer .login .form .password input {
    height: 40px;
    font-size: 20px;
    padding: 0;
    padding-left: 2%;
  }
  .LoginContainer .login .form .submit {
    height: 100px;
    margin-top: 1%;
  }
  .LoginContainer .login .form .submit .loginContainer p {
    font-size: 18px;
  }
  .LoginContainer .login .form .submit .loginContainer .loginBtn {
    width: 30%;
    height: 40px;
    font-size: 22px;
  }
  .LoginContainer .login .form .submit .register p {
    font-size: 18px;
  }
  .LoginContainer .login .form .submit .register .registerBtn {
    font-size: 23px;
  }
}/*# sourceMappingURL=Login.css.map */