.introContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 92vh;
  width: 100%;
  animation: slideContents 0.7s;
}
.introContainer .logoContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}
.introContainer .logoContainer .gate {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 1000px;
  justify-content: center;
  align-items: center;
  margin-top: 1%;
  transition: 0.5s;
}
.introContainer .logoContainer .gate .expContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 950px;
  height: 80px;
  animation: opacity 1.5s;
}
.introContainer .logoContainer .gate .expContainer .exploreBtn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 350px;
  height: 60px;
  font-size: 22px;
  letter-spacing: 2px;
  border: 1px #F9F6EA solid;
  border-radius: 10px;
  color: #F9F6EA;
  background-color: #2F351A;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  outline: none;
  transition: all 0.3s linear;
  text-decoration: none;
  cursor: pointer;
  animation: appear 1s;
}
.introContainer .logoContainer .gate .expContainer .exploreBtn:hover {
  transition: 0.9s;
  color: white;
  box-shadow: 200px 0 0 0 #9A6E40 inset, -200px 0 0 0 #9A6E40 inset;
}
.introContainer .logoContainer .gate .loginContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 900px;
  height: 80px;
  animation: opacity 1.5s;
}
.introContainer .logoContainer .gate .loginContainer .login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 60px;
  font-size: 28px;
  letter-spacing: 2px;
  border: 1px #F9F6EA solid;
  border-radius: 10px;
  color: #F9F6EA;
  background-color: #2F351A;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  outline: none;
  transition: all 0.3s linear;
  text-decoration: none;
  cursor: pointer;
  animation: appear 1s;
}
.introContainer .logoContainer .gate .loginContainer .login:hover {
  transition: 0.9s;
  color: white;
  box-shadow: 200px 0 0 0 #9A6E40 inset, -200px 0 0 0 #9A6E40 inset;
}

@media all and (max-width: 1680px) {
  .introContainer .logoContainer {
    height: 100%;
  }
  .introContainer .logoContainer .gate {
    height: 800px;
    margin-top: 0%;
  }
  .introContainer .logoContainer .gate .expContainer {
    width: 650px;
    height: 60px;
  }
  .introContainer .logoContainer .gate .expContainer .exploreBtn {
    width: 280px;
    height: 55px;
    font-size: 20px;
  }
  .introContainer .logoContainer .gate .loginContainer {
    width: 600px;
    height: 60px;
  }
  .introContainer .logoContainer .gate .loginContainer .login {
    width: 250px;
    height: 55px;
    font-size: 25px;
  }
}
@media all and (max-width: 1279px) {
  .introContainer {
    height: 98vh;
  }
  .introContainer .logoContainer {
    height: 100%;
  }
  .introContainer .logoContainer .gate {
    height: 700px;
    margin-top: 0%;
  }
  .introContainer .logoContainer .gate .expContainer {
    width: 700px;
    height: 60px;
  }
  .introContainer .logoContainer .gate .expContainer .exploreBtn {
    width: 250px;
    height: 50px;
    font-size: 20px;
  }
  .introContainer .logoContainer .gate .loginContainer {
    width: 600px;
    height: 60px;
  }
  .introContainer .logoContainer .gate .loginContainer .login {
    width: 250px;
    height: 55px;
    font-size: 25px;
  }
}
@media all and (max-width: 1023px) {
  .introContainer {
    height: 98vh;
  }
  .introContainer .logoContainer {
    height: 100%;
  }
  .introContainer .logoContainer .gate {
    height: 500px;
    margin-top: 0%;
  }
  .introContainer .logoContainer .gate .expContainer {
    width: 600px;
    height: 60px;
  }
  .introContainer .logoContainer .gate .expContainer .exploreBtn {
    width: 200px;
    height: 40px;
    font-size: 16px;
  }
  .introContainer .logoContainer .gate .loginContainer {
    width: 600px;
    height: 60px;
  }
  .introContainer .logoContainer .gate .loginContainer .login {
    width: 180px;
    height: 40px;
    font-size: 20px;
  }
}
@media all and (max-width: 767px) {
  .introContainer {
    justify-content: flex-start;
    height: 98vh;
  }
  .introContainer .logoContainer {
    height: 100%;
  }
  .introContainer .logoContainer .gate {
    height: 500px;
    margin-top: 0%;
  }
  .introContainer .logoContainer .gate .expContainer {
    width: 500px;
    height: 60px;
  }
  .introContainer .logoContainer .gate .expContainer .exploreBtn {
    width: 200px;
    height: 40px;
    font-size: 15px;
  }
  .introContainer .logoContainer .gate .loginContainer {
    width: 300px;
    height: 60px;
  }
  .introContainer .logoContainer .gate .loginContainer .login {
    width: 150px;
    height: 40px;
    font-size: 18px;
  }
}
@media all and (max-width: 479px) {
  .introContainer {
    justify-content: flex-start;
    height: 98vh;
  }
  .introContainer .logoContainer {
    height: 100%;
  }
  .introContainer .logoContainer .gate {
    height: 400px;
    margin-top: 0%;
  }
  .introContainer .logoContainer .gate .expContainer {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-evenly;
    align-items: center;
    width: 300px;
    height: 100px;
  }
  .introContainer .logoContainer .gate .expContainer .exploreBtn {
    width: 250px;
    height: 40px;
    font-size: 15px;
  }
  .introContainer .logoContainer .gate .loginContainer {
    width: 300px;
    height: 60px;
  }
  .introContainer .logoContainer .gate .loginContainer .login {
    width: 200px;
    height: 40px;
    font-size: 18px;
  }
}/*# sourceMappingURL=Intro.css.map */