.introContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70vh;
    width: 100%;

    animation: slideContents 0.7s;
    
    .logoContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 100%;
        
        .gate {
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 90%;
            justify-content: center;
            align-items: center;

            margin-top: 3%;

            .pContainer {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                height: 20%;

                margin-top: 0.5%;
                
                p {
                    font-size: 22px;
                    color: #9A6E40;
                    font-style: italic;

                    margin-bottom: 2%;
                    
                    font-family: Verdana, Geneva, Tahoma, sans-serif;
                }
                .introduce1 {
                    animation: pSlide1 1.3s;
                }
                .introduce2 {
                    animation: pSlide1 1.6s;
                }
                .introduce3 {
                    animation: pSlide1 1.8s;
                }
            }

            .expContatiner {
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                align-items: center;
                width: 35%;
                height: 20%;

                animation: opacity 1.5s;
                
                .exploreBtn {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    width: 40%;
                    height: 60px;
                    font-size: 25px;
                    letter-spacing: 2px;
                    border: 1px #F9F6EA solid; 
                    border-radius: 10px;
                    color: #F9F6EA;
                    background-color: #2F351A;
                    font-family: Verdana, Geneva, Tahoma, sans-serif;
                    outline: none;
                    transition: all 0.3s linear;
                    text-decoration: none;
                    cursor: pointer;
                    
                    animation: appear 1s;
                    
                    &:hover {
                        transition: 0.9s;
                        color: white;
                        box-shadow: 200px 0 0 0 #9A6E40 inset, 
                        -200px 0 0 0 #9A6E40 inset;
                    }
                }
            }
        }
    }
}

    @keyframes pSlide1 {
        0% {
            transform: translateY(100%);
        }
        100% {
            transform: translateY(0%);
        }
    }


@media screen and (max-width: 1600px) {

    .introContainer {
        .logoContainer {
            height: 100%;
            
            .gate {
                height: 100%;

                margin-top: 0%;
                
                .pContainer {
                    height: 25%;
                    p {
                        font-size: 15px;
                    }
                }
                .expContatiner {
                    width: 40%;
                    height: 10%;
                    margin-top: 1%;

                    .exploreBtn {
                        width: 40%;
                        height: 70%;
                        font-size: 16px;
                    }
                }
            }
        }
    
    }
}