.grindContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    
    .finesseHeader {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
    
        width: 100%;
        height: 30%;
    
    
        .title {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
            
            header {
                font-size: 55px;
                font-family: Verdana, Geneva, Tahoma, sans-serif;
    
                color:#412b1f;
            }
            p {
                font-weight: bold;
                margin-top: 1%;
                text-align: center;
                margin-bottom: 3%;
            }
        }
    
    }
    
    .grindLevel {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        height: 100%;
    
        .grindImg {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            height: 45%;
    
            .coarse {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 130px;
                height: 130px;
                font-size: 25px;
    
                border-radius: 500px;
                border: 5px linen solid;
    
                background-color: #412b1f;
                color: wheat;
                cursor: pointer;
    
                transition: all 0.2s linear;
    
            }
            .coarse.active {
                border: 5px solid #bc6c25;
                transition: 0.2s;
            }
            .medium {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 130px;
                height: 130px;
                font-size: 25px;
    
                border-radius: 500px;
                border: 5px linen solid;
    
                background-color: #412b1f;
                color: wheat;
                cursor: pointer;
                transition: all 0.2s linear;
            }
            .fine {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 130px;
                height: 130px;
                font-size: 25px;
    
                border-radius: 500px;
                border: 5px linen solid;
    
                background-color: #412b1f;
                color: wheat;
                cursor: pointer;
                transition: all 0.2s linear;
            }
    
            .coarse:hover {
                border: 5px solid #bc6c25;
                transition: 0.2s;
            }
            .medium:hover {
                border: 5px solid #bc6c25;
                transition: 0.2s;
            }
            .fine:hover {
                border: 5px solid #bc6c25;
                transition: 0.2s;
            }
        }
    }
    
    .grindText {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 20vh;
    
        border:#412b1f 4px solid;
        border-radius: 20px;
        background-color: #bc6c25;
        margin-top: 1%;
    }
}
