.recipeContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 91vh;
  animation: opacity 0.5s;
}
.recipeContainer .recipeBox {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 60%;
  height: 90%;
  margin-top: 2%;
}
.recipeContainer .recipeBox .left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  width: 30%;
  height: 90%;
}
.recipeContainer .recipeBox .left .roastingOpen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  height: 50%;
  animation: leftOpen 0.8s;
}
.recipeContainer .recipeBox .left .roastingOpen .roastingChoice {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 90%;
  background-color: wheat;
  border: 2px saddlebrown solid;
  border-right: 0;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.recipeContainer .recipeBox .left .roastingClose {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  height: 50%;
  animation: leftClose 0.5s;
  animation-fill-mode: forwards;
}
.recipeContainer .recipeBox .left .roastingClose .roastingChoice {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 90%;
  background-color: wheat;
  border: 2px saddlebrown solid;
  border-right: 0;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.recipeContainer .recipeBox .left .roastingClose .roastingChoice .roastingContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.recipeContainer .recipeBox .left .roastingClose .roastingChoice .roastingContainer .roastingTitle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.recipeContainer .recipeBox .left .roastingClose .roastingChoice .roastingContainer .roastingTitle header {
  font-size: 40px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: sienna;
}
.recipeContainer .recipeBox .left .roastingClose .roastingChoice .roastingContainer .roastingChoices {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 15%;
  width: 100%;
}
.recipeContainer .recipeBox .left .roastingClose .roastingChoice .roastingContainer .roastingChoices div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30%;
  height: 100%;
  cursor: pointer;
  border-radius: 10px;
  font-size: 20px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  color: wheat;
  background-color: sienna;
}
.recipeContainer .recipeBox .left .roastingClose .roastingChoice .roastingContainer .roastingChoices div:hover {
  color: saddlebrown;
  background-color: bisque;
  transition: 0.3s;
}
.recipeContainer .recipeBox .left .roastingClose .roastingChoice .roastingContainer .roastingChoices div .light {
  color: saddlebrown;
  background-color: bisque;
  transition: 0.3s;
}
.recipeContainer .recipeBox .left .roastingClose .roastingChoice .roastingContainer .roastingChoices .light {
  color: saddlebrown;
  background-color: bisque;
  transition: 0.3s;
}
.recipeContainer .recipeBox .left .roastingClose .roastingChoice .roastingContainer .roastingText {
  text-align: center;
  padding-inline: 2%;
  padding-block: 1%;
  margin-block: 3%;
}
.recipeContainer .recipeBox .left .roastingClose .roastingChoice .roastingContainer .roastingText p {
  font-size: 16px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: sienna;
  margin-bottom: 2%;
}
.recipeContainer .recipeBox .left .roastingClose .roastingChoice .roastingContainer button {
  width: 50%;
  height: 10%;
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-decoration: none;
  border-radius: 10px;
  border: saddlebrown 1px solid;
  color: linen;
  background-color: sienna;
  box-shadow: 2px 3px 0px 0px darkgoldenrod;
}
.recipeContainer .recipeBox .left .roastingClose .roastingChoice .roastingContainer button:hover {
  color: saddlebrown;
  background-color: bisque;
  transition: 0.3s;
}
.recipeContainer .recipeBox .left .roastingClose .roastingChoice .roastingContainer button:active {
  box-shadow: 0px 0px 0px 0px;
  transform: translateY(3%);
  transition: 0s;
}
.recipeContainer .recipeBox .left .coffeeOpen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  height: 50%;
  animation: leftOpen 0.8s;
}
.recipeContainer .recipeBox .left .coffeeOpen .coffeeChoice {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 90%;
  background-color: wheat;
  border: 2px solid burlywood;
  border-right: 0;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.recipeContainer .recipeBox .left .coffeeClose {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  height: 50%;
  animation: leftClose 0.8s;
  animation-fill-mode: forwards;
}
.recipeContainer .recipeBox .left .coffeeClose .coffeeChoice {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 90%;
  background-color: wheat;
  border: 2px solid burlywood;
  border-right: 0;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.recipeContainer .recipeBox .center {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 35%;
  height: 90%;
  border: 2px solid sienna;
  background-color: antiquewhite;
  border-radius: 10px;
  z-index: 1;
  padding: 1%;
}
.recipeContainer .recipeBox .center .header {
  width: 95%;
  height: 6%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 5px;
}
.recipeContainer .recipeBox .center .header header {
  font-size: 28px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  font-weight: bold;
  color: lightslategrey;
  letter-spacing: 12px;
  padding-left: 2%;
  animation: centerHeader 1s;
}
.recipeContainer .recipeBox .center .userMenu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 20%;
  animation: opacity 0.8s;
}
.recipeContainer .recipeBox .center .userMenu .userMenuName {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
  height: 100%;
}
.recipeContainer .recipeBox .center .userMenu .userMenuName header {
  font-size: 30px;
  text-transform: uppercase;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  color: wheat;
  background-color: saddlebrown;
  border-radius: 5px;
  letter-spacing: 5px;
  padding: 0%;
  padding-inline: 5%;
}
.recipeContainer .recipeBox .center .userMenu .userMenuImg {
  width: 40%;
  height: 100%;
}
.recipeContainer .recipeBox .center .userMenuClose {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 20%;
}
.recipeContainer .recipeBox .center .userMenuClose button {
  font-size: 40px;
  text-transform: uppercase;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  color: wheat;
  background-color: saddlebrown;
  border-radius: 5px;
  letter-spacing: 5px;
  padding: 0%;
  padding-inline: 5%;
}
.recipeContainer .recipeBox .center .userMethod {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 20%;
  animation: opacity 0.8s;
}
.recipeContainer .recipeBox .center .userMethod .userMethodImg {
  width: 40%;
  height: 100%;
  opacity: 0.7;
}
.recipeContainer .recipeBox .center .userMethod .userMethodName {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
  height: 100%;
}
.recipeContainer .recipeBox .center .userMethod .userMethodName header {
  font-size: 30px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  text-transform: uppercase;
  color: saddlebrown;
  background-color: burlywood;
  border-radius: 10px;
  letter-spacing: 3px;
  padding-inline: 5%;
}
.recipeContainer .recipeBox .center .userMethodClose {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 20%;
}
.recipeContainer .recipeBox .center .userMethodClose button {
  font-size: 40px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  text-transform: uppercase;
  color: saddlebrown;
  background-color: burlywood;
  border-radius: 5px;
  letter-spacing: 5px;
  padding-inline: 5%;
}
.recipeContainer .recipeBox .center p {
  font-size: 20px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  color: salmon;
  margin-block: 2%;
  animation: opacity 0.5s;
}
.recipeContainer .recipeBox .center .options {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 40%;
  animation: opacity 0.8s;
}
.recipeContainer .recipeBox .center .options .firstRow {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 90%;
  height: 50%;
}
.recipeContainer .recipeBox .center .options .firstRow .roasting {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 35%;
  height: 80%;
  border-radius: 100%;
  background-color: saddlebrown;
  cursor: pointer;
  transition: all 0.3s linear;
}
.recipeContainer .recipeBox .center .options .firstRow .roasting p {
  font-size: 20px;
  color: wheat;
}
.recipeContainer .recipeBox .center .options .firstRow .roasting:hover {
  box-shadow: 0px 0px 0px 5px darkgoldenrod;
  transition: 0.5s;
}
.recipeContainer .recipeBox .center .options .firstRow .grind {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 35%;
  height: 80%;
  border-radius: 100%;
  background-color: darkgoldenrod;
  cursor: pointer;
  transition: all 0.3s linear;
}
.recipeContainer .recipeBox .center .options .firstRow .grind p {
  font-size: 20px;
  color: linen;
}
.recipeContainer .recipeBox .center .options .firstRow .grind:hover {
  box-shadow: 0px 0px 0px 5px burlywood;
  transition: 0.5s;
}
.recipeContainer .recipeBox .center .options .secondRow {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 90%;
  height: 50%;
}
.recipeContainer .recipeBox .center .options .secondRow .coffee {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 35%;
  height: 80%;
  border-radius: 100%;
  background-color: burlywood;
  cursor: pointer;
  transition: all 0.3s linear;
}
.recipeContainer .recipeBox .center .options .secondRow .coffee p {
  font-size: 20px;
  color: saddlebrown;
}
.recipeContainer .recipeBox .center .options .secondRow .coffee:hover {
  box-shadow: 0px 0px 0px 5px sienna;
  transition: 0.5s;
}
.recipeContainer .recipeBox .center .options .secondRow .water {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 35%;
  height: 80%;
  border-radius: 100%;
  background-color: lightslategrey;
  cursor: pointer;
  transition: all 0.3s linear;
}
.recipeContainer .recipeBox .center .options .secondRow .water p {
  font-size: 20px;
  color: white;
}
.recipeContainer .recipeBox .center .options .secondRow .water:hover {
  box-shadow: 0px 0px 0px 7px white;
  transition: 0.5s;
}
.recipeContainer .recipeBox .center .goBrewContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 8%;
}
.recipeContainer .recipeBox .center .goBrewContainer .goBrewBtn {
  width: 80%;
  height: 80%;
  font-size: 25px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-decoration: none;
  border-radius: 10px;
  border: saddlebrown 2px solid;
  letter-spacing: 5px;
  color: linen;
  background-color: sienna;
  box-shadow: 2px 3px 0px 0px darkgoldenrod;
  animation: opacity 0.5s;
}
.recipeContainer .recipeBox .center .goBrewContainer .goBrewBtn:hover {
  color: saddlebrown;
  background-color: bisque;
  transition: 0.3s;
}
.recipeContainer .recipeBox .center .goBrewContainer .goBrewBtn:active {
  box-shadow: 0px 0px 0px 0px;
  transform: translateY(3%);
  transition: 0s;
}
.recipeContainer .recipeBox .right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 30%;
  height: 90%;
}
.recipeContainer .recipeBox .right .grindOpen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: 50%;
  animation: rightOpen 0.8s;
}
.recipeContainer .recipeBox .right .grindOpen .grindChoice {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 90%;
  background-color: wheat;
  border: 2px darkgoldenrod solid;
  border-left: 0;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.recipeContainer .recipeBox .right .grindClose {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: 50%;
  animation: rightClose 0.5s;
  animation-fill-mode: forwards;
}
.recipeContainer .recipeBox .right .grindClose .grindChoice {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 90%;
  background-color: wheat;
  border: 2px darkgoldenrod solid;
  border-left: 0;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.recipeContainer .recipeBox .right .waterOpen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: 50%;
  animation: rightOpen 0.8s;
}
.recipeContainer .recipeBox .right .waterOpen .waterChoice {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 90%;
  background-color: bisque;
  border: 2px lightslategrey solid;
  border-left: 0;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.recipeContainer .recipeBox .right .waterClose {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: 50%;
  animation: rightClose 0.5s;
  animation-fill-mode: forwards;
}
.recipeContainer .recipeBox .right .waterClose .waterChoice {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 90%;
  background-color: bisque;
  border: 2px lightslategrey solid;
  border-left: 0;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

@keyframes centerHeader {
  from {
    transform: translateY(50%);
    opacity: 0;
  }
  to {
    transform: translateY(0%);
    opacity: 1;
  }
}
@keyframes leftOpen {
  from {
    transform: translatex(100%);
  }
  to {
    transform: translatex(0%);
  }
}
@keyframes leftClose {
  from {
    transform: translatex(0%);
  }
  to {
    transform: translatex(100%);
  }
}
@keyframes rightOpen {
  from {
    transform: translatex(-100%);
  }
  to {
    transform: translatex(0%);
  }
}
@keyframes rightClose {
  from {
    transform: translatex(0%);
  }
  to {
    transform: translatex(-100%);
  }
}/*# sourceMappingURL=Recipe.css.map */